<div id="load" data-title="אבלות"></div>
<h3>ברוכים הבאים למחלקת האבלות של המועצה הדתית בת ים.<br>איך נוכל לעזור לכם?</h3>
<div class="split2">
  <x-section data-name="דפי מחלקת האבלות">    
    <a href="free-hevra-kadisha" class="menu">שירותים ללא עלות מחברא קדישא</a>
    <a href="burial-fees" class="menu">זכאות לדמי קבורה</a>
    <a href="bring-burial" class="menu">הבאת הנפטר לקבורה</a>
    <a href="help" class="menu">גמ"ח וסיוע לאבלים</a>
  </x-section>
  <img src="/images/stairs.jpg" class="post" alt="מדרגות">
</div>