<link href="partials/nav.css" rel="stylesheet" type="text/css">
<div class="top-nav">
  <div class="top-nav-wrapper">
    <ul>
      <li class="nav-toggle">
        <div class="nav-toggle-bar"></div>
      </li>
      <li class="link">דברי ברכה</li>
      <li class="link">עוד משהו</li>
      <li class="link">יצירת קשר</li>
      <li id="top-nav-shabbat">
        <img src="images/candles-icon.png" class="candles-icon" alt="אייקון נרות שבת">
        <div>
          <span>פרשת ויחי</span>
          <br>
          <span>17:31 |</span>
          <span>16:25</span>
        </div>
      </li>
    </ul>
    <div class="icons">      
      <img src="images/icon.png" alt="אייקון המועצה הדתית">
      <img src="images/bat-yam-icon.png" alt="אייקון עיריית בת ים">
      <a href="https://www.facebook.com/%D7%94%D7%9E%D7%95%D7%A2%D7%A6%D7%94-%D7%94%D7%93%D7%AA%D7%99%D7%AA-%D7%91%D7%AA-%D7%99%D7%9D-346076995593097" target="_blank" rel="noopener">
        <img src="images/fb.png" title="אנחנו בפייסבוק" alt="אייקון פייסבוק">
      </a>
      <a href="https://www.youtube.com/channel/UCSLvfjKlAk6yj0dS4c2Emfw" target="_blank" rel="noopener noreferrer">
        <img src="images/yt.png" alt="אייקון יוטיוב">
      </a>
      <a href="https://wa.me/972508785115" target="_blank" rel="noopener">
        <img src="images/whatsapp.png" title="יצירת קשר בווצאפ" alt="אייקון ווצאפ">
      </a>
      <a href="tel:035068883" target="_blank" rel="noopener">
        <img src="images/phone.png" title="התקשרו אלינו" alt="אייקון טלפון">
      </a>
      <a href="https://www.waze.com/en/live-map/directions/%D7%A4%D7%A0%D7%A7%D7%A1-2-%D7%91%D7%AA-%D7%99%D7%9D?latlng=32.018687890736366%2C34.74477767944337" target="_blank" rel="noopener">
        <img src="images/waze.png" title="ניווט" alt="אייקון ניווט באמצעות Waze">
      </a>
      <a href="https://www.waze.com/en/live-map/directions/%D7%A4%D7%A0%D7%A7%D7%A1-2-%D7%91%D7%AA-%D7%99%D7%9D?latlng=32.018687890736366%2C34.74477767944337" target="_blank" rel="noopener">
        <img src="images/mail.png" title="ניווט" alt="אייקון ניווט באמצעות Waze">
      </a>
    </div>
  </div>
</div>

<div class="side-nav">
  <div class="header">
    <img src="images/logo-white.png" alt="המועצה הדתית">
    <div class="close">✕</div>          
  </div>
  <ul>
    <li><a href="https://mdby.org.il/blessing">
      <i class="fas fa-hands"></i> דברי ברכה
    </a></li>
    <li class="dropdown">            
      <i class="fas fa-utensils"></i> כשרות
      <div class="dropdown-content">
        <a href="https://mdby.org.il/kashrut/restaurants">עסקים כשרים בעיר</a>
        <a href="https://mdby.org.il/kashrut/request">בקשת תעודה</a>
        <a href="https://mdby.org.il/kashrut/updates">עדכוני כשרות</a>
        <a href="https://mdby.org.il/kashrut/brochures">עלוני "בחזקת כשרות"</a>
        <a href="https://mdby.org.il/kashrut/certs">תעודות כשרות לדוגמה</a>
        <a href="https://mdby.org.il/kashrut/nohals">נהלי כשרות</a>
        <a href="https://mdby.org.il/kashrut/wanted">דרושים</a>
      </div>
    </li>
    <li class="dropdown">
      <i class="fas fa-heart"></i> נישואין
      <div class="dropdown-content">
        <a href="https://mdby.org.il/marriage/registration">רישום נישואין</a>
        <a href="https://mdby.org.il/marriage/bride-guide">הדרכת כלות</a>
        <a href="https://mdby.org.il/marriage/archive">בקשה להעתק תעודת נישואין</a>
        <a href="https://mdby.org.il/marriage/file-status">סטטוס התיק שלי</a>
        <a href="https://www.gov.il/BlobFolder/reports/pirsum_reshimatrab/he/%D7%A8%D7%A9%D7%99%D7%9E%D7%AA%20%D7%A8%D7%91%D7%A0%D7%99%D7%9D%20%D7%9E%D7%95%D7%A8%D7%A9%D7%99%D7%9D%20%D7%9C%D7%A2%D7%A8%D7%99%D7%9B%D7%AA%20%D7%97%D7%95%D7%A4%D7%95%D7%AA-%20%D7%A2%D7%93%D7%9B%D7%95%D7%9F%20%D7%90%D7%93%D7%A8%20%D7%AA%D7%A9%D7%A4.pdf" target="_blank">רשימת עורכי החופות של הרבנות</a>
      </div>
    </li>
    <li class="dropdown">
      <i class="fas fa-hanukiah"></i> מועדים
      <div class="dropdown-content">
        <a href="https://mdby.org.il/events/noraim">אלול</a>
        <a href="https://mdby.org.il/events/rosh-hashana">ראש השנה</a>
        <a href="https://mdby.org.il/events/sukkot">סוכות</a>
        <a href="https://mdby.org.il/events/pesach">פסח</a>
        <a href="https://mdby.org.il/events/shmita">שמיטה</a>
      </div>
    </li>
    <li class="dropdown">
      <i class="fas fa-book"></i> מידע שימושי
      <div class="dropdown-content">
        <a href="https://mdby.org.il/info/mohalim">רשימת מוהלים</a>
        <a href="https://mdby.org.il/info/gmahim">רשימת הגמ"חים</a>
        <a href="https://mdby.org.il/info/kolelim">כוללים, ישיבות ומוסדות חינוך</a>
        <a href="https://mdby.org.il/info/mikve">מקוואות כלים ומקוואות גברים</a>
        <a href="https://mdby.org.il/info/lessons-women">שיעורי תורה לנוער, ילדים ונשים</a>
        <a href="https://mdby.org.il/info/prayers">זמני תפילות ופעילות בבתי הכנסת</a>
        <a href="https://mdby.org.il/info/lessons-men">שיעורי תורה לגברים</a>
      </div>
    </li>
    <li><a href="https://mdby.org.il/synagogues">
      <i class="fas fa-synagogue"></i> בתי כנסת
    </a></li>
    <li><a href="https://mdby.org.il/mikve">
      <i class="fas fa-swimming-pool"></i> מקוואות
    </a></li>
  </ul>
</div>
<div class="screen-darkener"></div>
<script src="partials/nav.js"></script>