<div id="load" data-title="מכרזים"></div>

  <div class="split2">
    <small-section data-name="כללי">
      <a href="/images/auction-01_21.jpeg" class="menu" download="">
        ביצוע עבודות שיקום ושיפוץ מקווה נשים בת ים
      </a>      
    </small-section>
    <small-section data-name="כוח אדם">
      <img src="/images/human-resources-auction.jpeg" class="mb-3" alt="מכרז כוח אדם">
      <a href="human-resources" class="menu">
        להורדת קבצי המכרז
      </a>
      <a href="/assets/office/inside-auction-balanit.docx" class="menu" target="_blank">
        מכרז פנימי מפקחת בלניות
      </a>      
    </small-section>
  </div>

