<script src="/assets/js/add-video.js" defer></script>
<div id="load" data-title="העלאת סרטון" data-firebase-auth="" data-firebase-storage="" data-firebase-functions=""></div>
<h1>העלאת סרטון</h1>
<div>
  <input id="rabbi" type="radio" name="type" value="rabbi">
  <label for="rabbi" class="inline">רגיל</label>
  <br>
  <input id="parasha" type="radio" name="type" value="parasha">
  <label for="parasha" class="inline">פרשה</label>
</div>
<div>
  <label for="vid">שם</label>
  <input type="text" id="name" required="">
</div>
<div>
  <label for="vid">פירוט</label>
  <input type="text" id="desc" required="">
</div>
<div>
  <label for="vid">קוד סרטון</label>
  <input type="text" id="vid" required="">
</div>
<div>
  <label for="pass">סיסמה</label>
  <input type="password" name="password" id="pass" required="">
</div>
<button>העלה</button>
<h2></h2>