<div id="load" data-title="המועצה הדתית בת ים"></div>
      
        
        <div class="split2 middle">
          <div class="txt-right">
            <h3>שירותי הקבורה שחברא קדישא חייבת לתת בלי תשלום:</h3>
            <p>
              <strong>הקצאת מקום קבורה</strong><br>
              על-פי סדרי הקבורה שנקבעו בחברת הקדישא ובהתאם לכללים המפורטים כאן.
            </p>
            <p>
              <strong>טיפול בנפטר</strong><br>
              כולל טהרת הנפטר, תכריכים רגילים.
            </p>
            <p>
              <strong>שירותים בזמן הלוויה</strong><br>
              השתתפות חזן וצוות קבורה (שבו 2 אנשים לכל הפחות).
            </p>
            <p>
              <strong>העברת הנפטר לקבורה ביום הלוויה בכל שעות היממה</strong><br>
              חברת הקדישא צריכה להעביר את הנפטר ממקום הפטירה למקום הקבורה, שנמצאים בתחום הרשות המקומית שבה היא פועלת,
              או מבית החולים שנמצא מחוץ לתחום הרשות המקומית שבה פועלת החברה, בתנאי שהוא בית החולים הקרוב ביותר הנותן שירותים רפואיים לתושבי הרשות המקומית שבה התגורר הנפטר.
            </p>
            <p>
              <strong>העברת הנפטר ממקום הפטירה לשמירה בקירור לפני יום הלוויה</strong><br>
              בתנאי שהיישוב שבו הייתה הפטירה והיישוב שבו נמצא בית העלמין נמצאים בתחום הרשות המקומית שבה פועלת חברת הקבורה.<br>
              בשעות העבודה הרגילות: בימים ראשון עד חמישי בשעות 8:00 עד 16:00 ובימי שישי וערבי חג בשעות 8:00 עד 13:00 - ההעברה מתבצעת על ידי חברת הקבורה. לאחר שעות העבודה הרגילות (כולל בשבתות וחגים) – ההעברה מתבצעת באמצעות פנייה למוקד פינוי נפטרים של המשרד לשירותי דת שמספרו 0120*.
            </p>
            <p>
              שימו לב, הביטוח הלאומי אינו מחזיר תשלומים לקרובי משפחה שטיפלו בהעברת נפטר לשמירה בקירור באופן פרטי, לא באמצעות המוקד לפינוי נפטרים.
            </p>
          </div>
          <div>
            <img class="post" src="/images/stairs.jpg" alt="מדרגות">
          </div>
        </div>
      
    