<div id="load" data-title="סוכות תשפ&quot;א"></div>
      
        
        <div class="p-side-3">
          <div class="p-side-3 split2">
            <small-section data-name="מידע שימושי בנושא סוכות תשפ&quot;א">
              
              <a href="hoshana-corona.pdf" target="_blank" class="menu">הוראות והנהגות להושענא רבא ושמחת תורה</a>
              <a href="beware2.pdf" target="_blank" class="menu">מכתב הגאונים להישמר מנגיף הקורונה</a>
              <a href="beware.pdf" target="_blank" class="menu">פסק הלכה ממועצת חכמי התורה - ונשמרתם</a>
              <a href="help-elders.pdf" target="_blank" class="menu">בניית סוכה למבוגרים</a>
            </small-section>
            <div>
              <img src="blessing.jpeg" class="post" alt="ברכה">
            </div>
          </div>
          <small-section data-name="דבר הרב הראשי">
            
            <div class="split2">
              <div>
                <h4 class="m-0">הוראות הושענה רבה ושמחת תורה בצל הקורונה</h4>
                <p>הוראות הושענה רבה ושמחת תורה בצל הקורונה מפי הרב הראשי לבת ים שליט"א</p>
                <iframe class="yt-embed post" src="https://www.youtube.com/embed/N5f_ZJUBW5E" frameborder="0" allow="accelerometer; autoplay;
                encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
              </div>
              <div>
                <h4 class="m-0">10,080 דקות. סוכות בצל הקורונה.</h4>
                <p>הרב הראשי דן בעניין חג הסוכות בצל הקורונה.</p>
                <iframe class="yt-embed post" src="https://www.youtube.com/embed/ZrSLXU0PamQ" frameborder="0" allow="accelerometer; autoplay;
                encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
              </div>
            </div>
          </small-section>
        </div>
      
    