<script src="/assets/js/send-marriage-file-status-request.js" defer=""></script>
<div id="load" data-title="בדיקת סטטוס תיק נישואין"></div>


  <div>
    <p>
      כאן ניתן להזין מספר מזהה ולקבל עדכון על סטטוס תיק הנישואין דרך Whatsapp.
    </p>
    <form class="shadow soft-edge">
      <label for="number">מספר ת"ז או תיק נישואין</label>
      <input type="text" id="number" required="">
      <button type="submit">שלח</button>
    </form>
  </div>
  <div>
    <img src="/images/file.jpg" class="post" alt="קובץ">
  </div>
