<div id="load" data-title=""></div>


  <div class="p-side-3 split2">
    <h3>ברוכים הבאים למחלקת הכשרות של המועצה הדתית בת ים.<br>איך נוכל לעזור לכם?</h3>
    <small-section data-name="דפי מחלקת הכשרות">
      <a href="restaurants" class="menu">רשימת העסקים הכשרים בעיר</a>
      <a href="request" class="menu">הגשת בקשה לקבלת תעודת כשרות</a>
      <a href="updates" class="menu">עדכוני כשרות</a>
      <a href="brochures" class="menu">עלוני "בחזקת כשרות"</a>
      <a href="#team" class="menu">צוות המחלקה</a>
      <a href="certs" class="menu">תעודות כשרות לדוגמה</a>
      <a href="nohals" class="menu">נהלי כשרות</a>
      <a href="wanted" class="menu">דרושים</a>
      <div>
        <p>
          <a href="https://wa.me/972543332073">
            <img src="../images/whatsapp.png" alt="סמל ווצאפ">
            מענה לשאלות בנושאי כשרות
          </a>
        </p>
      </div>
    </small-section>
    <div>
      <img src="/images/chicken.jpg" class="post" alt="עוף">
    </div>
  </div>
  <a name="team"></a>
  <small-section class="split2 container" data-name="צוות מחלקת כשרות">
    <div class="txt-right">
      <table class="shadow w-100p">
        <tbody>
          <tr>
            <th>שם</th>
            <th>תפקיד</th>
            <th>טלפון</th>
          </tr>
          <tr>
            <td>הרב משה גבאי</td>
            <td>מנהל המחלקה</td>
            <td>054-3332073</td>
          </tr>
          <tr>
            <td>לאון יצחק</td>
            <td>מפקח כשרות</td>
            <td>054-3332078</td>
          </tr>
          <tr>
            <td>מנחם הורק</td>
            <td>מפקח כשרות</td>
            <td>054-3332076</td>
          </tr>
          <tr>
            <td>ויקטור חי יגאל</td>
            <td>מפקח כשרות</td>
            <td>054-3332074</td>
          </tr>
          <tr>
            <td>דוד ויצמן</td>
            <td>מפקח כשרות</td>
            <td>054-3332075</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <img src="https://mdby.org.il/images/team.jpg" class="post" alt="צוות">
    </div>
  </small-section>
