<div id="load" data-title="רישום נישואין"></div>
      
        
        <div class="split2 p-side-3 middle">
          <div class="txt-right">
            <h3>מחלקת הנישואין במועצה</h3>
            <p>
              נרשמים לנישואין יקרים,מזל טוב!
              <br>
              מחלקת הנישואין של המועצה הדתית והרבנות הראשית בת ים תשמח לעמוד לשירותכם וללוות אתכם עד לרגע המאושר בחייכם,במאור פנים,ביעילות,ובחוויה מיוחדת.
            </p>
            <p>
              פרטים אודות פתיחת תיק נישואין:
              <br>
              עליכם להגיע יחד ללשכת הנישואין שלנו לא יאוחר מ45 יום לפני מועד הנישואין , ולהביא עמכם :
            </p>
            <ul>
              <li>תמונת פספורט</li>
              <li>תז + ספח מעודכן</li>
              <li>2 עדים לכל צד , המכירים אתכם אישית , מעל גיל 18 , שאינם קרובי משפחה ואינם קרובים ביניהם (אם 2 העדים מכירים את שניכם,ניתן להביא רק 2 במקום 4).</li>
            </ul>
            <p class="mb-0">
              <strong>רווק/ה</strong>
              <br>
              בנוסף לעיל:
            </p>
            <ul>
              <li>תעודת נישואין של ההורים (מרבנות בארץ)</li>
            </ul>
            <p class="mb-0">
              <strong>גרוש/ה</strong>
              <br>
              בנוסף לעיל:
            </p>
            <ul>
              <li>תעודת גירושין מקורית + מעשה בית דין מקורי</li>
              <li>תעודת נישואין קודמת לרישום הנישואין (מרבנות בארץ)</li>
            </ul>
            <p class="mb-0">
              <strong>אלמן/ה</strong>
              <br>
              בנוסף לעיל:
            </p>
            <ul>
              <li>תעודת פטירה</li>
              <li>תעודת נישואין קודמת לרישום הנישואין הנוכחי (מרבנות בארץ)</li>
            </ul>
            <p class="mb-0">
              <strong>גר/גיורת</strong>
              <br>
              בנוסף לעיל:
            </p>
            <ul>
              <li>תעודת המרה מקורית + מעשה בית הדין לגיור</li>
              <li>לנושאים גיורת/גרושה/בת נכרי: אישור מרב שהחתן אינו כהן</li>
            </ul>
            <h4>אגרת פתיחת תיק נישואין</h4>
            <p>
              <strong>עלות אגרה: 720 ₪</strong>
            </p>
            <p>
              תינתן הנחה ל:
            </p>
            <ul>
              <li>סטודנטים מתחת לגיל 30</li>
              <li>אברך/תלמיד ישיבה מתחת לגיל 30</li>
              <li>נכים, עיוורים</li>
              <li>עולים תוך שנתיים</li>
              <li>נזקקים</li>
            </ul>
            <p>
              <strong>תשלום לאחר הנחה: 432 ₪</strong>
            </p>
            <div class="middle">
              <a href="https://shirathayam.m-datit.org.il/rishum" target="_blank" class="cta">רישום נישואין באינטרנט</a>
            </div>
          </div>
          <div>
            <img src="/images/pasuk.jpg" class="post" alt="פסוק">
          </div>
        </div>
      
    