<script src="/assets/js/latest-rav-video.js" defer=""></script>
<div id="load" data-title="מדיה" data-firebase-database=""></div>
<div class="split2">
  <x-section data-name="מדיה רגילה">
    <p>יש להזין תוכן</p>
  </x-section>
  <x-section data-name="שאל את הרב">
    <div id="vid" class="p-side-2"></div>
    <a href="/rabbi/ask-rav#videos" class="cta">כל סרטוני הרב</a>
  </x-section>
</div>
