<div id="load" data-title="אלול וימים נוראים"></div>
<div class="split2">
  <x-section>
    <a class="menu" href="/assets/pdf/water.pdf" target="_blank">מים בשיעורים</a>
    <a class="menu" href="/assets/pdf/slihot-times.pdf" target="_blank">זמני סליחות</a>
    <a class="menu" href="/assets/pdf/tips.pdf" target="_blank">עצות קצרות ליום כיפור</a>
    <a class="menu" href="https://youtu.be/VfRIhfsLoBY" target="_blank">קורונה ויום הכיפורים</a>
    <a class="menu" href="https://youtu.be/8bY6J-WlbWE" target="_blank">סוכרת ויום הכיפורים</a>
    <a class="menu" href="https://youtu.be/5yw3gGP3OaE" target="_blank">מחלות לב ויום הכיפורים</a>
  </x-section>
  <img src="/images/water.jpeg" alt="מים בשיעורים" class="post">
</div>