<div id="load" data-title="拽转 砖"></div>
<div>
  <p>
    转 拽专,  专 专住! さ火梆<br> 驻 注专   转拽驻转 拽专 专转 注 砖专转!火 <br>拽转 砖 驻注转 驻 专转 砖专 专转 注专 专砖 砖,   拽转 拽. <br>驻  爪驻 爪专 转转  专砖 住驻专 050-8785115    砖专转 专 拽 : <a href="https://bit.ly/2H09Ql2" target="_blank"></a>.<br>" 砖专转  转 砖"
  </p>
</div>
<div class="split2">
  <x-section data-name="驻 拽转 砖">    
    <a href="registration" class="menu">专砖 砖</a>
    <a href="bride-guide" class="menu">专转 转</a>
    <a href="archive" class="menu">拽砖 注转拽 转注转 砖</a>
    <a href="file-status" class="menu">住住 转拽 砖</a>
    <a href="https://www.gov.il/BlobFolder/reports/pirsum_reshimatrab/he/%D7%A8%D7%A9%D7%99%D7%9E%D7%AA%20%D7%A8%D7%91%D7%A0%D7%99%D7%9D%20%D7%9E%D7%95%D7%A8%D7%A9%D7%99%D7%9D%20%D7%9C%D7%A2%D7%A8%D7%99%D7%9B%D7%AA%20%D7%97%D7%95%D7%A4%D7%95%D7%AA-%20%D7%A2%D7%93%D7%9B%D7%95%D7%9F%20%D7%90%D7%93%D7%A8%20%D7%AA%D7%A9%D7%A4.pdf" target="_blank" class="menu">专砖转 注专 驻转 砖 专转</a>
  </x-section>
  <img src="/images/pasuk.jpg" class="post" alt="驻住拽">
</div>
<div class="split2 middle">
  <x-section data-name="爪转 拽">    
    <table class="shadow w-100p">
      <tbody>
        <tr>
          <th>砖</th>
          <th>转驻拽</th>
        </tr>
        <tr>
          <td>专 专 </td>
          <td> 拽</td>
        </tr>
        <tr>
          <td>专 砖专 住 住</td>
          <td>专砖 砖</td>
        </tr>
        <tr>
          <td>专 注</td>
          <td>专转 拽</td>
        </tr>
      </tbody>
    </table>
  </x-section>
  <x-section class="txt-right" data-name="爪专转 拽砖专">
    
    <div class="p-side-2">
      <p>
         '-': 08:30-12:00
        <br>
        ' ': 16:00-18:00
        <br>
        ( 爪专 转 专砖)
        <br>
        (转 转 专砖 驻砖  砖注转 驻注转)
        <br>
        驻: <a href="tel:035557917">03-5557917</a>
        <br>
        驻拽住: <a href="tel:035081666">03-5081666</a>
        <br>
        :
        <a href="mailto:rabanut-batyam@walla.co.il">rabanut-batyam@walla.co.il</a>
      </p>
    </div>
  </x-section>
</div>

