main-section, small-section{
  display: block;
  margin-bottom: 13rem;
  padding-bottom: 3rem;
  border-radius: 3.5rem;
  border: 1px solid #eee;
  box-shadow: 0 5px 15px -2px rgba(0, 0, 0, .2);
  background-color: var(--brightest);
}
main-section > h2{
  font-size: 36px;
  color: var(--brightest);
  width: 100%;
  background-color: var(--primary);
  margin: 0 0 30px 0;
  text-align: center;
  border-radius: 3px 3px 0 0;
  padding: 5px 0;
}
small-section > h3{
  background-color: var(--primary);
  color: var(--brightest);
  border-radius: 3.5rem 3.5rem 0 0;
  padding: 1rem;
  margin-top: 0;
  text-align: center;
}
.split2>div, .split2 > main-section, .split2 > small-section{
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin: 2rem;
}
@media screen and (max-width: 800px) {
  .split2>div, .split2>main-section, .split2>small-section{
    width: 95%; margin: 10px auto 30px auto; display: block;
  }
}
