<div id="load" data-title="זמנים ושיעורים"></div>


  <div class="split2">
    <small-section data-name="מסמכים">

      <a href="/assets/pdf/times.pdf" target="_blank" class="menu">
        זמנים נחוצים לערב פסח
      </a>
      <a href="/assets/pdf/drashot.pdf" target="_blank" class="menu">
        דרשות שבת הגדול
      </a>
    </small-section>
    <div>
      <img src="/images/clock.jpg" class="post" alt="שעון">
    </div>
  </div>
