<div id="load" data-title="מידע שימושי"></div>


  <div class="split2">
    <h3>כאן תמצאו מידע שימושי בכל הנוגע לשירותי דת בעיר בת ים</h3>
    <x-section data-name="דפים עם מידע שימושי">

      <a href="mohalim" class="menu">רשימת מוהלים</a>
      <a href="gmahim" class="menu">רשימת הגמ"חים</a>
      <a href="kolelim" class="menu">כוללים, ישיבות ומוסדות חינוך</a>
      <a href="mikve" class="menu">מקוואות כלים ומקוואות גברים</a>
      <a href="lessons-women" class="menu">שיעורי תורה לנוער, ילדים ונשים</a>
      <a href="prayers" class="menu">זמני תפילות ופעילות בבתי הכנסת</a>
      <a href="lessons-men" class="menu">שיעורי תורה לגברים</a>
    </x-section>
    <div>
      <img src="/images/book.jpg" class="post" alt="ספר">
    </div>
  </div>
