<div id="load" data-title="רשימת גמ&quot;חים"></div>
      
        <a name="top"></a>
        
        <div class="p-side-3 middle">
          <small-section class="mb-2 container" data-name="ניווט">
            
            <div class="flex">
              <a href="#kolels" class="cta">כוללים</a>
              <a href="#yeshivot" class="cta">ישיבות</a>
              <a href="#ulpenot" class="cta">אולפנות</a>
              <a href="#talmud" class="cta">תלמוד תורה</a>
              <a href="#mamlachti" class="cta">ממלכתי דתי</a>
              <a href="#ganim" class="cta">גנים</a>
            </div>
          </small-section>
          <a name="kolels"></a>
          <h3>כוללים לאברכים</h3>
          <h4>כולל נץ:</h4>
          <table class="container shadow">
          	<tbody>
          		<tr>
          			<th>
          				שם כולל
          			</th>
          			<th>
          				יום
          			</th>
          			<th>
          				שעות
          			</th>
          			<th>
          				כתובת
          			</th>
          			<th>
          				טלפון
          			</th>
          		</tr>
          		<tr>
          			<td>
          				אין עוד מלבדו
          			</td>
          			<td>
          				א-ו
          			</td>
          			<td>
          				שעה לפני הנץ או שעה אחרי הנץ
          			</td>
          			<td>
          				בביהכ"נ אין עוד מלבדו, &nbsp;ניסנבאום 29
          			</td>
          			<td>
          				050-6536363
          			</td>
          		</tr>
          		<tr>
          			<td>
          				עטרת רחמים
          			</td>
          			<td>
          				6:00
          			</td>
          			<td>
          				6:00 – 7:00
          			</td>
          			<td>
          				בבית כנסת קדושי עם ישראל, ליבורנו 12
          			</td>
          			<td>
          				050-7830830
          			</td>
          		</tr>
          	</tbody>
          </table>
          <h4>כולל יום</h4>
          <table class="container shadow">
          	<tbody>
          		<tr>
          			<th>
          				שם כולל
          			
          			</th><th>
          				שעה
          			
          			</th><th>
          				עד
          			</th>
          			<th>
          				כתובת
          			
          			</th><th>
          				טלפון
          			</th>
          			<th>
          				הרב
          			</th>
          		</tr>
          		<tr>
          			<td>
          				אבני הנחל
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				17:00
          			</td>
          			<td>
          				בביכנ"ס אבני הנחל, חצור 4
          			</td>
          			<td>
          				050-6599148
          			</td>
          			<td>
          				הרב מאיר נהון
          			</td>
          		</tr>
          		<tr>
          			<td>
          				אהל אברהם
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				17:30
          			</td>
          			<td>
          				בביכנ"ס אהל אברהם, הצנחנים 9
          			</td>
          			<td>
          				050-4140707
          			</td>
          			<td>
          				הרב אברהם ישראל
          			</td>
          		</tr>
          		<tr>
          			<td>
          				אור שמואל
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				17:00
          			</td>
          			<td>
          				בבית כנסת זכרון משה, הראשונים 11
          			</td>
          			<td>
          				052-7641246
          			</td>
          			<td>
          				הרב דוד בן משה
          			</td>
          		</tr>
          		<tr>
          			<td>
          				אורות התורה
          			</td>
          			<td>
          				9:00
          				&nbsp;
          			</td>
          			<td>
          				14:00
          			</td>
          			<td>
          				בביכ"נ אורות התורה, בתוך המתחם, הרב מוהליבר 17
          			</td>
          			<td>
          				054-5575490
          			</td>
          			<td>
          				הרב דוד חי הכהן
          			</td>
          		</tr>
          		<tr>
          			<td>
          				בימ"ד לדיינים&nbsp; נצח יוסף
          			</td>
          			<td>
          				9:30
          			</td>
          			<td>
          				17:30
          			</td>
          			<td>
          				בביכנ"ס מרום ישראל, שד' העצמאות 16
          			</td>
          			<td>
          				03-5062307
          			</td>
          			<td>
          				הרב יצחק סעד
          			</td>
          		</tr>
          		<tr>
          			<td>
          				בית יוסף
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				17:00
          			</td>
          			<td>
          				בביהכ"נ בית יוסף, הגבול 10
          			</td>
          			<td>
          				03-6598125
          			</td>
          			<td>
          				הרב שחר מויאל
          			</td>
          		</tr>
          		<tr>
          			<td>
          				בית יעקב
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				18:00
          			</td>
          			<td>
          				במרכז התורני בית יעקב, סמטת הכרמל 6
          			</td>
          			<td>
          				03-5517298
          			</td>
          			<td>
          				הרב שלמה עטיה
          			</td>
          		</tr>
          		<tr>
          			<td>
          				בית רבינו
          			</td>
          			<td>
          				9:30
          			</td>
          			<td>
          				13:30
          			</td>
          			<td>
          				בבית כנסת בית רבנו, הנביאים 50א'
          			</td>
          			<td>
          				053-3197779
          			</td>
          			<td>
          				הרב גיל הכהן
          			</td>
          		</tr>
          		<tr>
          			<td>
          				בת קול
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				17:00
          			</td>
          			<td>
          				ניסנבאום 68
          			</td>
          			<td>
          				&nbsp;
          			</td>
          			<td>
          				הרב אשר שושן
          			</td>
          		</tr>
          		<tr>
          			<td>
          				היכל התורה
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				17:30
          			</td>
          			<td>
          				בבית כנסת תורת ישרים, עוזיאל 25
          			</td>
          			<td>
          				052-2926169
          			</td>
          			<td>
          				הרב שלום דהאן
          			</td>
          		</tr>
          		<tr>
          			<td>
          				המייש"ר
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				17:30
          			</td>
          			<td>
          				בישיבת המיישר, אורט ישראל 4
          			</td>
          			<td>
          				03-5520004
          			</td>
          			<td>
          				הרב דוד שמואלי
          			</td>
          		</tr>
          		<tr>
          			<td>
          				זכור לאברהם
          			</td>
          			<td>
          				9:15
          			</td>
          			<td>
          				17:30
          			</td>
          			<td>
          				בבית כנסת זכור לאברהם, אהוד קינמון 10
          			</td>
          			<td>
          				052-7645550
          			</td>
          			<td>
          				הרב שלמה אריאל מלכה
          			</td>
          		</tr>
          		<tr>
          			<td>
          				חיים שאל
          			</td>
          			<td>
          				9:00
          				&nbsp;
          			</td>
          			<td>
          				17:30
          			</td>
          			<td>
          				בביהכ"נ חיים שאל, נסנבאום 25
          			</td>
          			<td>
          				052-6770062
          				פקס 5041085
          			</td>
          			<td>
          				הרב שי יצחקי
          			</td>
          		</tr>
          		<tr>
          			<td>
          				יוסף חיים ומשה
          			</td>
          			<td>
          				9:00
          				&nbsp;
          			</td>
          			<td>
          				18:00
          			</td>
          			<td>
          				ליד ביכנ"ס רמב"ה, השלשה 8
          			</td>
          			<td>
          				054-6950889
          			</td>
          			<td>
          				הרב אליהו נטף
          			</td>
          		</tr>
          		<tr>
          			<td>
          				כתם פז
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				17:00
          			</td>
          			<td>
          				בבית כנסת בית אל, בן ציון ישראל 15
          			</td>
          			<td>
          				03-7953666
          			</td>
          			<td>
          				הרב אמנון חגיגי
          			</td>
          		</tr>
          		<tr>
          			<td>
          				למען שמו באהבה
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				17:00
          			</td>
          			<td>
          				בבית כנסת חסד לאברהם, הרצל 55
          			</td>
          			<td>
          				052-7684084
          			</td>
          			<td>
          				הרב ישי פרקש
          			</td>
          		</tr>
          		<tr>
          			<td>
          				מאיר לכל
          			</td>
          			<td>
          				9:15
          			</td>
          			<td>
          				17:00
          			</td>
          			<td>
          				בבית כנסת מאיר לכל, רחוב השומר 16
          			</td>
          			<td>
          				052-7687885
          			</td>
          			<td>
          				הרב תומר אטאל
          			</td>
          		</tr>
          		<tr>
          			<td>
          				מלכי רבנן
          			</td>
          			<td>
          				9:00
          				&nbsp;
          			</td>
          			<td>
          				17:00
          			</td>
          			<td>
          				בבית כנסת שערי ציון, רח' חשמונאים 27
          			</td>
          			<td>
          				053-3109055
          			</td>
          			<td>
          				הרב עופר דואני
          			</td>
          		</tr>
          		<tr>
          			<td>
          				נתיבות ישראל
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				13:30
          			</td>
          			<td>
          				במרכז אורות התורה, הרב מוהליבר 17
          			</td>
          			<td>
          				03-5546363
          			</td>
          			<td>
          				הרב דוד חי הכהן
          			</td>
          		</tr>
          		<tr>
          			<td>
          				עטרת ישועה
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				17:00
          			</td>
          			<td>
          				בבית כנסת היכל צבי, סוקולוב 19
          			</td>
          			<td>
          				052-8904071
          			</td>
          			<td>
          				הרב חגי לוי
          			</td>
          		</tr>
          		<tr>
          			<td>
          				עטרת רחמים
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				17:00
          			</td>
          			<td>
          				בבית כנסת קדושי עם ישראל, ליבורנו 12
          			</td>
          			<td>
          				050-7830830
          			</td>
          			<td>
          				הרב רונן כרייף
          			</td>
          		</tr>
          		<tr>
          			<td>
          				עמית לתורה
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				12:45
          			</td>
          			<td>
          				בביהכ"נ עמית לתורה, קדושי לוצק 10
          			</td>
          			<td>
          				052-6785515
          			</td>
          			<td>
          				הרב &nbsp;יצחק אסקפה
          			</td>
          		</tr>
          		<tr>
          			<td>
          				עמק הלכה
          			</td>
          			<td>
          				9:30
          			</td>
          			<td>
          				13:15
          			</td>
          			<td>
          				בביכנ"ס קדושת ציון, האדמו"ר מבאבוב 12
          			</td>
          			<td>
          				052-7648099
          			</td>
          			<td>
          				הרב ירמיה אדלר
          			</td>
          		</tr>
          		<tr>
          			<td>
          				קול רפאל
          			</td>
          			<td>
          				9:00
          				&nbsp;
          			</td>
          			<td>
          				17:30
          			</td>
          			<td>
          				במוסדות פאר יפית, ליבורנו 36
          			</td>
          			<td>
          				03-5534250
          				054-7820439
          			</td>
          			<td>
          				הרב מנחם פרידמן
          			</td>
          		</tr>
          	</tbody>
          </table>
          <h4>כולל רק אחה"צ</h4>
          <table class="container shadow">
          	<tbody>
          		<tr>
          			<th>
          				שם כולל
          			</th>
          			<th>
          				משעה
          			</th>
          			<th>
          				עד
          			</th>
          			<th>
          				כתובת
          			</th>
          			<th>
          				טלפון
          			</th>
          			<th>
          				הרב
          			</th>
          		</tr>
          		<tr>
          			<td>
          				מחזיקי תורה
          			</td>
          			<td>
          				16:00
          			</td>
          			<td>
          				19:30
          			</td>
          			<td>
          				בבית כנסת מחזיקי תורה, שד' העצמאות 23
          			</td>
          			<td>
          				054-8462872
          			</td>
          			<td>
          				הרב אברהם טוויל
          			</td>
          		</tr>
          		<tr>
          			<td>
          				נתיבות ישראל
          			</td>
          			<td>
          				15:30
          			</td>
          			<td>
          				19:30
          			</td>
          			<td>
          				במרכז אורות התורה, הרב מוהליבר 17
          			</td>
          			<td>
          				03-5546363
          			</td>
          			<td>
          				הרב דוד חי הכהן
          			</td>
          		</tr>
          		<tr>
          			<td>
          				עמית לתורה
          			</td>
          			<td>
          				17:00
          			</td>
          			<td>
          				19:30
          			</td>
          			<td>
          				בביהכ"נ עמית לתורה, קדושי לוצק 10
          			</td>
          			<td>
          				052-6785515
          			</td>
          			<td>
          				הרב&nbsp; יצחק איסקפה
          			</td>
          		</tr>
          		<tr>
          			<td>
          				עמק הלכה
          			</td>
          			<td>
          				15:00
          			</td>
          			<td>
          				17:50
          			</td>
          			<td>
          				בביכנ"ס קדושת ציון, האדמו"ר מבאבוב 12
          			</td>
          			<td>
          				052-7648099
          			</td>
          			<td>
          				הרב ירמיה אדלר
          			</td>
          		</tr>
          	</tbody>
          </table>
          <h4>כולל ערב</h4>
          <table class="container shadow">
          	<tbody>
          		<tr>
          			<th>
          				שם כולל
          			</th>
          			<th>
          				משעה
          			</th>
          			<th>
          				עד
          			</th>
          			<th>
          				כתובת
          			</th>
          			<th>
          				טלפון
          			</th>
          			<th>
          				הרב
          			</th>
          		</tr>
          		<tr>
          			<td>
          				אורות התורה
          			</td>
          			<td>
          				17:00
          			</td>
          			<td>
          				23:00
          			</td>
          			<td>
          				בביכ"נ אורות התורה, בתוך המתחם, הרב מוהליבר 17
          			</td>
          			<td>
          				054-5575490
          			</td>
          			<td>
          				הרב דוד חי הכהן
          			</td>
          		</tr>
          		<tr>
          			<td>
          				בית רבינו
          			</td>
          			<td>
          				17:00
          			</td>
          			<td>
          				20:00
          			</td>
          			<td>
          				בביהכ"נ בית רבינו הנביאים 50 א'
          			</td>
          			<td>
          				050-4112342
          			</td>
          			<td>
          				הרב נתן נחום
          			</td>
          		</tr>
          		<tr>
          			<td>
          				כתם פז
          			</td>
          			<td>
          				17:30
          			</td>
          			<td>
          				19:00
          			</td>
          			<td>
          				בבית כנסת בית אל
          			</td>
          			<td>
          				03-7953666
          			</td>
          			<td>
          				הרב אמנון חגיגי
          			</td>
          		</tr>
          		<tr>
          			<td>
          				מאור הש"ס
          			</td>
          			<td>
          				&nbsp;
          			</td>
          			<td>
          				&nbsp;
          			</td>
          			<td>
          				בבית כנסת היכל אליהו, רחוב גבעתי 6
          			</td>
          			<td>
          				052-7654779
          			</td>
          			<td>
          				הרב אליעזר לוי
          			</td>
          		</tr>
          		<tr>
          			<td>
          				מאיר לכל
          			</td>
          			<td>
          				19:30
          			</td>
          			<td>
          				22:00
          			</td>
          			<td>
          				בבית כנסת מאיר לכל, רחוב השומר 16
          			</td>
          			<td>
          				05-7687885
          			</td>
          			<td>
          				הרב תומר אטאל
          			</td>
          		</tr>
          		<tr>
          			<td>
          				מחנה ישראל
          			</td>
          			<td>
          				20:00
          			</td>
          			<td>
          				21:30
          			</td>
          			<td>
          				בביכנ"ס מחנה ישראל, הנרייטה סולד
          			</td>
          			<td>
          				03-5528988
          			</td>
          			<td>
          				&nbsp;
          			</td>
          		</tr>
          		<tr>
          			<td>
          				נתיבות ישראל
          			</td>
          			<td>
          				15:30
          			</td>
          			<td>
          				19:30
          			</td>
          			<td>
          				במרכז אורות התורה, הרב מוהליבר 17
          			</td>
          			<td>
          				03-5546363
          			</td>
          			<td>
          				הרב דוד חי הכהן
          			</td>
          		</tr>
          		<tr>
          			<td>
          				עמלי תורה
          			</td>
          			<td>
          				19:30
          			</td>
          			<td>
          				21:00
          			</td>
          			<td>
          				בביכנ"ס מרום ישראל, שד' העצמאות 16
          			</td>
          			<td>
          				052-7193093
          			</td>
          			<td>
          				הרב יוסף כהן
          			</td>
          		</tr>
          	</tbody>
          </table>
          <h4>כולל יום שישי:</h4>
          <table class="container shadow">
          	<tbody>
          		<tr>
          			<th>
          				שם כולל
          			</th>
          			<th>
          				שעות
          			</th>
          			<th>
          				&nbsp;
          			</th>
          			<th>
          				כתובת
          			</th>
          			<th>
          				טלפון
          			</th>
          			<th>
          				הרב
          			</th>
          		</tr>
          		<tr>
          			<td>
          				שבת אחים
          			</td>
          			<td>
          				10:30
          			</td>
          			<td>
          				13:40
          			</td>
          			<td>
          				בביהכ"נ "שבת אחים" בזל 5 ליד העירייה
          			</td>
          			<td>
          				03-5546363
          			</td>
          			<td>
          				הרב דוד חי הכהן
          			</td>
          		</tr>
          		<tr>
          			<td>
          				אורות התורה
          			</td>
          			<td>
          				7:30
          			</td>
          			<td>
          				10:00
          			</td>
          			<td>
          				בביכ"נ אורות התורה, בתוך המתחם, הרב מוהליבר 17
          			</td>
          			<td>
          				הרב נריה מגנזי
          				054-6666307
          			</td>
          			<td>
          				הרב דוד חי הכהן
          			</td>
          		</tr>
          		<tr>
          			<td>
          				בית יעקב
          			</td>
          			<td>
          				9:30
          			</td>
          			<td>
          				12:00
          			</td>
          			<td>
          				בביהכ"נ "בית יעקב" רחוב סמטת הכרמל 6 (במקלט)
          			</td>
          			<td>
          				03-5517298
          			</td>
          			<td>
          				הרב מנשה לינדרפלד
          			</td>
          		</tr>
          		<tr>
          			<td>
          				גיבורי ישראל
          			</td>
          			<td>
          				12:00
          			</td>
          			<td>
          				16:30
          			</td>
          			<td>
          				יצחק שדה 6, בגן העיר. (בחורף – הזמנים מוקדמים בשעה)
          			</td>
          			<td>
          				052-5217015
          			</td>
          			<td>
          				הרב מאיר אדוט
          			</td>
          		</tr>
          		<tr>
          			<td>
          				תומר דבורה
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				11:00
          			</td>
          			<td>
          				בבית כנסת תורת ישרים, עוזיאל 25
          			</td>
          			<td>
          				&nbsp;
          			</td>
          			<td>
          				&nbsp;
          			</td>
          		</tr>
          	</tbody>
          </table>
          <h4>כולל מוצאי שבת:</h4>
          <table class="container shadow">
          	<tbody>
          		<tr>
          			<th>
          				שם כולל
          			</th>
          			<th>
          				שעות
          			</th>
          			<th>
          				&nbsp;
          			</th>
          			<th>
          				כתובת
          			</th>
          			<th>
          				טלפון
          			</th>
          			<th>
          				הרב
          			</th>
          		</tr>
          		<tr>
          			<td>
          				משפטי החיים
          			</td>
          			<td>
          				20:30
          			</td>
          			<td>
          				23:00
          			</td>
          			<td>
          				בבית הכנסת מרום ישראל, שד' העצמאות 16
          			</td>
          			<td>
          				054-8406474
          			</td>
          			<td>
          				הרב יהודה בר שלום
          			</td>
          		</tr>
          	</tbody>
          </table>
          <h4>כוללים לבעלי בתים</h4>
          <table class="container shadow">
          	<tbody>
          		<tr>
          			<th>
          				שם כולל
          			</th>
          			<th>
          				יום
          			</th>
          			<th>
          				משעה
          			</th>
          			<th>
          				עד
          			</th>
          			<th>
          				כתובת
          			</th>
          			<th>
          				טלפון
          			</th>
          			<th>
          				הרב
          			</th>
          		</tr>
          		<tr>
          			<td>
          				אין עוד מלבדו
          			</td>
          			<td>
          				א,ב,ד,ה
          			</td>
          			<td>
          				20:00
          			</td>
          			<td>
          				22:00
          			</td>
          			<td>
          				בביהכ"נ אין עוד מלבדו, &nbsp;ניסנבאום 29
          			</td>
          			<td>
          				050-6536363
          			</td>
          			<td>
          				&nbsp;
          			</td>
          		</tr>
          		<tr>
          			<td>
          				בית יעקב
          			</td>
          			<td>
          				א-ה
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				12:00
          			</td>
          			<td>
          				בכולל בית יעקב סמטת הכרמל 6
          			</td>
          			<td>
          				052-7631481
          			</td>
          			<td>
          				הרב אליהו מעברי
          			</td>
          		</tr>
          		<tr>
          			<td>
          				גיבורי ישראל
          			</td>
          			<td>
          				א-ה
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				12:00
          			</td>
          			<td>
          				יצחק שדה 6, בגן העיר
          			</td>
          			<td>
          				052-5217015
          			</td>
          			<td>
          				הרב מאיר אדוט
          			</td>
          		</tr>
          		<tr>
          			<td>
          				כתם פז
          			</td>
          			<td>
          				א-ה
          			</td>
          			<td>
          				19:00
          			</td>
          			<td>
          				20:00
          			</td>
          			<td>
          				בבית כנסת בית אל
          			</td>
          			<td>
          				03-7953666
          			</td>
          			<td>
          				הרב אברהם שטרית
          				הרב משה ציונוב
          			</td>
          		</tr>
          		<tr>
          			<td>
          				מרום ישראל
          			</td>
          			<td>
          				א-ה
          			</td>
          			<td>
          				9:00
          			</td>
          			<td>
          				12:15
          			</td>
          			<td>
          				בביהכ"נ מרום ישראל שד' העצמאות 16
          			</td>
          			<td>
          				052-3297287
          			</td>
          			<td>
          				הרב משה לוי
          			</td>
          		</tr>
          		<tr>
          			<td>
          				עטרת רחמים
          			</td>
          			<td>
          				א-ה
          			</td>
          			<td>
          				9:30
          			</td>
          			<td>
          				11:30
          			</td>
          			<td>
          				בביהכ"נ קדושי עם ישראל, ליבורנו 12
          			</td>
          			<td>
          				052-7657753
          			</td>
          			<td>
          				הרב משה כהן
          			</td>
          		</tr>
          		<tr>
          			<td>
          				פאר יפית
          			</td>
          			<td>
          				א-ה
          			</td>
          			<td>
          				9:30
          			</td>
          			<td>
          				13:00
          			</td>
          			<td>
          				בביכנ"ס פאר יפית, ליבורנו 36
          			</td>
          			<td>
          				03-5534250
          			</td>
          			<td>
          				הרב שאר ישוב אזולאי
          			</td>
          		</tr>
          	</tbody>
          </table>
          <a name="yeshivot"></a>
          <h3>ישיבות</h3>
          <table class="container shadow">
          	<tbody>
          		<tr>
          			<th>
          				שם
          			</th>
          			<th>
          				סוג
          			</th>
          			<td>
          				גיל
          			</td>
          			<td>
          				כתובת
          			</td>
          			<td>
          				טלפון
          			</td>
          			<td>
          				ראש הישיבה
          			</td>
          		</tr>
          		<tr>
          			<td>
          				אדר"ת
          				(בני עקיבא)
          			</td>
          			<td>
          				תיכונית / קטנה
          			</td>
          			<td>
          				12.5-18.5
          			</td>
          			<td>
          				בר אילן 40
          			</td>
          			<td>
          				03-5534456
          			</td>
          			<td>
          				ראש הישיבה - הרב שי בן נחום
          				054-6309295
          			</td>
          		</tr>
          		<tr>
          			<td>
          				באבוב
          			</td>
          			<td>
          				גבוהה. לבחורי החסידות בלבד
          			</td>
          			<td>
          				16.5 ומעלה
          			</td>
          			<td>
          				האדמור מבאבוב 12
          			</td>
          			<td>
          				03-5518510
          			</td>
          			<td>
          				הרב ישורון מייזליש&nbsp; 054-8460094
          			</td>
          		</tr>
          		<tr>
          			<td>
          				ישועות יעקב יוסף
          			</td>
          			<td>
          				קטנה
          			</td>
          			<td>
          				13-14
          			</td>
          			<td>
          				הנריטה סולד 11
          			</td>
          			<td>
          				03-5513520
          			</td>
          			<td>
          				ראש הישיבה - הרב שמעון כהן
          			</td>
          		</tr>
          		<tr>
          			<td>
          				מגיני ארץ
          			</td>
          			<td>
          				מכינה לישיבה (גדולה)
          			</td>
          			<td>
          				14-17
          			</td>
          			<td>
          				סמטת הכרמל 6
          			</td>
          			<td>
          				054-8464380
          			</td>
          			<td>
          				הרב ניסים בוטון
          				הרב דוד בטש
          			</td>
          		</tr>
          		<tr>
          			<td>
          				נתיבות ישראל
          			</td>
          			<td>
          				גבוהה
          			</td>
          			<td>
          				18 ומעלה
          			</td>
          			<td>
          				הרב מוהליבר 15
          			</td>
          			<td>
          				03-5546363
          			</td>
          			<td>
          				הרב דוד חי הכהן
          				מנהל - ר' אברהם חקק 054-4545612
          			</td>
          		</tr>
          		<tr>
          			<td>
          				קול רפאל
          			</td>
          			<td>
          				קטנה
          			</td>
          			<td>
          				14-17
          			</td>
          			<td>
          				ליבורנו 36
          			</td>
          			<td>
          				03-5534250
          			</td>
          			<td>
          				ר"מ - הרב בן ציון בר שלום 052-7647033
          				משגיח -&nbsp; הרב יצחק בסו&nbsp; 052-6880029
          			</td>
          		</tr>
          	</tbody>
          </table>
          <h4>ישיבות בין הזמנים</h4>
          <p>
            תשרי - מלאחר יום הכיפורים עד סוף החודש, ניסן - מר"ח ניסן עד סוף החודש, אב - מאחרי תשעה באב עד סוף החודש
          </p>
          <table class="container shadow">
          	<tbody>
          		<tr>
          			<th>
          				בית הכנסת
          			</th>
          			<th>
          				שעות
          			</th>
          			<th>
          				הערות
          			</th>
          		</tr>
          		<tr>
          			<td>
          				אהבת מישרים
          			</td>
          			<td>
          				9:00 עד 13:00
          			</td>
          			<td>
          				&nbsp;
          			</td>
          		</tr>
          		<tr>
          			<td>
          				אהל אברהם
          			</td>
          			<td>
          				9:00 עד 13:00
          			</td>
          			<td>
          				בכולל למעלה
          			</td>
          		</tr>
          		<tr>
          			<td>
          				אורות התורה
          			</td>
          			<td>
          				9:00 עד 12:00
          			</td>
          			<td>
          				בי"ס שובו (בסניף אריאל) רח' י. ל. פרץ
          			</td>
          		</tr>
          		<tr>
          			<td>
          				באבוב - בית המדרש
          			</td>
          			<td>
          				10:00 עד 13:00
          			</td>
          			<td>
          				בעזרת נשים של בית המדרש
          			</td>
          		</tr>
          		<tr>
          			<td>
          				בית אל
          			</td>
          			<td>
          				9:00 עד 13:00
          			</td>
          			<td>
          				&nbsp;
          			</td>
          		</tr>
          		<tr>
          			<td>
          				דניאל
          			</td>
          			<td>
          				16:00 עד 19:00
          			</td>
          			<td>
          				&nbsp;
          			</td>
          		</tr>
          		<tr>
          			<td>
          				היכל הקודש
          			</td>
          			<td>
          				9:00 עד 13:00
          			</td>
          			<td>
          				&nbsp;
          			</td>
          		</tr>
          		<tr>
          			<td>
          				זכור לאברהם
          			</td>
          			<td>
          				10:00 עד 12:30
          			</td>
          			<td>
          				&nbsp;
          			</td>
          		</tr>
          		<tr>
          			<td>
          				מבקשי ה'
          			</td>
          			<td>
          				10:00 עד 13:00
          			</td>
          			<td>
          				&nbsp;
          			</td>
          		</tr>
          		<tr>
          			<td>
          				מחנה ישראל
          			</td>
          			<td>
          				9:00 עד 13:00
          			</td>
          			<td>
          				חידוש: גם לבחורים מכיתות ז' – ח' ובחורי ישיבה קטנה
          			</td>
          		</tr>
          		<tr>
          			<td>
          				מרום ישראל
          			</td>
          			<td>
          				10:00 עד 13:00
          			</td>
          			<td>
          				ישיבת "נצח יוסף"&nbsp; לע"נ הרב יוסף בר שלום זצ"ל במתחם הכולל
          			</td>
          		</tr>
          		<tr>
          			<td>
          				נתיבות ישראל - ביהמ"ד
          			</td>
          			<td>
          				9:00 עד 13:15
          			</td>
          			<td>
          				רח' מוהליבר 16
          			</td>
          		</tr>
          		<tr>
          			<td>
          				פאר יפית
          			</td>
          			<td>
          				9:00 עד 13:00
          			</td>
          			<td>
          				בישיבה
          			</td>
          		</tr>
          		<tr>
          			<td>
          				שער ציון
          			</td>
          			<td>
          				9:00 עד 13:00
          				17:00 עד 20:00
          			</td>
          			<td>
          				&nbsp;
          			</td>
          		</tr>
          		<tr>
          			<td>
          				תפארת בנים
          			</td>
          			<td>
          				14:00 עד מנחה
          			</td>
          			<td>
          				&nbsp;
          			</td>
          		</tr>
          	</tbody>
          </table>
          <a name="ulpenot"></a>
          <h3>אולפנות</h3>
          <table class="container shadow">
          	<tbody>
          		<tr>
          			<th>
          				שם
          			</th>
          			<th>
          				כתובת
          			</th>
          			<th>
          				טלפון
          			</th>
          			<th>
          				ראש האולפנה
          			</th>
          		</tr>
          		<tr>
          			<td>
          				אולפנת צביה
          			</td>
          			<td>
          				&nbsp;הנרייטה סולד 4
          				&nbsp;
          			</td>
          			<td>
          				03-6592173
          				052-8308012
          			</td>
          			<td>
          				הרב ידידיה זיו
          				&nbsp;
          			</td>
          		</tr>
          	</tbody>
          </table>
          <a name="talmud"></a>
          <h3>תלמודי תורה</h3>
          <table class="container shadow">
          	<tbody>
          		<tr>
          			<td>
          				שם
          			</td>
          			<td>
          				כתובת
          			</td>
          			<td>
          				גילאים
          			</td>
          			<td>
          				טלפון / פקס
          			</td>
          		</tr>
          		<tr>
          			<td>
          				אורות התורה
          			</td>
          			<td>
          				רח' אנה פרנק
          			</td>
          			<td>
          				א-ו
          			</td>
          			<td>
          				054-7677800
          				054-5575490
          			</td>
          		</tr>
          		<tr>
          			<td>
          				בני ציון
          			</td>
          			<td>
          				שדרות בר אילן 73
          			</td>
          			<td>
          				א-ח
          			</td>
          			<td>
          				03-5524462
          				03-5513520 בנים
          				03-5531253 בנות
          			</td>
          		</tr>
          		<tr>
          			<td>
          				בני ציון <br> <br>
          			</td>
          			<td>
          				השלושה 39
          			</td>
          			<td>
          				גנים גילאי 3-6
          			</td>
          			<td>
          				03-5071879
          			</td>
          		</tr>
          		<tr>
          			<td>
          				בני יוסף
          			</td>
          			<td>
          				בר אילן 73
          			</td>
          			<td>
          				א-ח
          			</td>
          			<td>
          				03-5524462
          				03-5512053
          			</td>
          		</tr>
          		<tr>
          			<td>
          				האיש משה
          			</td>
          			<td>
          				הגיבורים 33
          			</td>
          			<td>
          				א-ח
          			</td>
          			<td>
          				03-6594759
          			</td>
          		</tr>
          		<tr>
          			<td>
          				חב"ד
          			</td>
          			<td>
          				בר אילן 75
          			</td>
          			<td>
          				א-ה
          			</td>
          			<td>
          				054-7703629
          			</td>
          		</tr>
          		<tr>
          			<td>
          				ישועות יעקב יוסף
          			</td>
          			<td>
          				נחום ניר 23
          			</td>
          			<td>
          				א-ב
          			</td>
          			<td>
          				03-5443461
          			</td>
          		</tr>
          		<tr>
          			<td>
          				&nbsp;
          			</td>
          			<td>
          				הנרייטה סולד 11
          				&nbsp;
          			</td>
          			<td>
          				ג-ח
          				&nbsp;
          			</td>
          			<td>
          				03-5531253
          				03-5513520
          				03-5531204 (פקס)
          			</td>
          		</tr>
          	</tbody>
          </table>
          <a name="mamlachti"></a>
          <h3>ממלכתי דתי</h3>
          <table class="container shadow">
          	<tbody>
          		<tr>
          			<th>
          				שם
          			</th>
          			<th>
          				כתובת
          			</th>
          			<th>
          				כיתות
          			</th>
          			<th>
          				טלפון
          			</th>
          		</tr>
          		<tr>
          			<td>
          				אורות התורה
          			</td>
          			<td>
          				אנה פרנק
          			</td>
          			<td>
          				א-ו
          			</td>
          			<td>
          				054-7677800
          				054-5575490
          			</td>
          		</tr>
          		<tr>
          			<td>
          				ציפורי (ממ"ד)
          			</td>
          			<td>
          				ביאליק 29
          			</td>
          			<td>
          				א-ו
          			</td>
          			<td>
          				03-5069236
          			</td>
          		</tr>
          		<tr>
          			<td>
          				תחכמוני
          			</td>
          			<td>
          				הרצל 58
          			</td>
          			<td>
          				א-ו
          			</td>
          			<td>
          				03-5064261
          			</td>
          		</tr>
          		<tr>
          			<td>
          				דרכא המר
          				(שוחרי חיל האויר)
          			</td>
          			<td>
          				בורוכוב 10
          			</td>
          			<td>
          				ז-יב
          			</td>
          			<td>
          				03-5527013
          			</td>
          		</tr>
          		<tr>
          			<td>
          				בית וגן בי"ס לבנות
          			</td>
          			<td>
          				הרב קוק 17
          			</td>
          			<td>
          				ז-יב
          			</td>
          			<td>
          				03-5061861
          			</td>
          		</tr>
          	</tbody>
          </table>
          <h4>בית יעקב</h4>
          <table class="container shadow">
          	<tbody>
          		<tr>
          			<th>
          				שם
          			</th>
          			<th>
          				כתובת
          			</th>
          			<th>
          				כיתות
          			</th>
          			<th>
          				טלפון
          			</th>
          		</tr>
          		<tr>
          			<td>
          				בית ספר ב"י בובוב
          			</td>
          			<td>
          				האדמור מבאבוב 2
          			</td>
          			<td>
          				א-ח
          			</td>
          			<td>
          				03-5537929
          			</td>
          		</tr>
          		<tr>
          			<td>
          				ישועות יעקב יוסף
          			</td>
          			<td>
          				סמטת הכרמל 6
          			</td>
          			<td>
          				א-ח
          			</td>
          			<td>
          				03-5531253
          			</td>
          		</tr>
          		<tr>
          			<td>
          				נתיבות רבקה
          			</td>
          			<td>
          				המעפילים 1
          			</td>
          			<td>
          				א-ח
          			</td>
          			<td>
          				03-5080771
          			</td>
          		</tr>
          		<tr>
          			<td>
          				&nbsp;
          			</td>
          			<td>
          				המעפילים 1 (קומה עליונה)
          			</td>
          			<td>
          				ט-יב
          			</td>
          			<td>
          				03-5082030
          			</td>
          		</tr>
          		<tr>
          			<td>
          				שובו
          			</td>
          			<td>
          				דליה 11
          			</td>
          			<td>
          				א-ו
          			</td>
          			<td>
          				077-4005296
          			</td>
          		</tr>
          	</tbody>
          </table>
          <a name="ganim"></a>
          <h3>גנים</h3>
          <table class="container shadow">
          	<tbody>
          		<tr>
          			<th>
          				שם
          			</th>
          			<th>
          				שכונה
          			</th>
          			<th>
          				כתובת
          			</th>
          			<th>
          				גילאים
          			</th>
          			<th>
          				טלפון
          			</th>
          		</tr>
          		<tr>
          			<td>
          				בני ציון
          			</td>
          			<td>
          				עמידר
          			</td>
          			<td>
          				השלושה 39
          			</td>
          			<td>
          				3-5
          			</td>
          			<td>
          				03-5071879
          			</td>
          		</tr>
          		<tr>
          			<td>
          				האיש משה
          			</td>
          			<td>
          				עמידר
          			</td>
          			<td>
          				הגיבורים 33
          			</td>
          			<td>
          				3-5
          			</td>
          			<td>
          				03-6594759
          			</td>
          		</tr>
          		<tr>
          			<td>
          				נתיבות רבקה&nbsp; - גן סיגל
          			</td>
          			<td>
          				עמידר
          			</td>
          			<td>
          				הצנחנים 9
          			</td>
          			<td>
          				3 טרום טרום חובה
          			</td>
          			<td>
          				052-8309438
          			</td>
          		</tr>
          		<tr>
          			<td>
          			  גן שמרית
          			</td>
          			<td>
          				עמידר
          			</td>
          			<td>
          				המעפילים 1
          			</td>
          			<td>
          				4 טרום חובה
          			</td>
          			<td>
          				03-5080771
          			</td>
          		</tr>
          		<tr>
          			<td>
          			  גן מיכל
          			</td>
          			<td>
          				עמידר
          			</td>
          			<td>
          				המעפילים 1
          			</td>
          			<td>
          				5 חובה
          			</td>
          			<td>
          				03-5080771
          			</td>
          		</tr>
          	</tbody>
          </table>
          <a href="#top" class="cta">חזרה למעלה</a>
        </div>
      
    