<link rel="stylesheet" href="/assets/magnific-popup/magnific-popup.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" defer=""></script>
<script src="/assets/magnific-popup/jquery.magnific-popup.min.js" defer=""></script>
<script src="/assets/js/gallery-pics.js" defer=""></script>
<div id="load" data-title="גלריה" data-firebase-database=""></div>


  <div class="p-side-3">
    <div id="pictures" class="gallery cols-3"></div>
  </div>
