<script src="/assets/js/set-latest-poster-and-pics.js" defer=""></script>
<div id="load" data-title="זהות יהודית ותרבות תורנית" data-firebase-database=""></div>


  <div class="p-side-3">
    <div class="split2">
      <small-section data-name="גלריה">

        <div id="pictures" class="p-side-2"></div>
        <a href="pictures" class="cta">כל התמונות</a>
      </small-section>
      <small-section data-name="אירועים">

        <div id="poster" class="p-side-2"></div>
        <a href="posters" class="cta">לארכיון</a>
      </small-section>
    </div>
    <div class="split2">
      <small-section data-name="קול קורא">

        <div class="p-side-2">
          <p>
            כאן יפורסמו קולות קוראים של המועצה הדתית.
          </p>
        </div>
      </small-section>
      <small-section data-name="הצעות ייעול">

        <div class="p-side-2">
          <p>
            אתם מוזמנים לרשום לנו הצעות ייעול בכל הקשור לפעילות של המועצה הדתית,
            ולכל רעיון לפעילות בנושא זהות יהודית ותרבות תורנית,
            ונעשה את המיטב להשתפר בזכותכם.
          </p>
          <textarea maxlength="500"></textarea>
          <button>שלח</button>
        </div>
      </small-section>
    </div>
  </div>
