<div id="load" data-title="כשרות לפסח"></div>


  <div class="split2">
    <small-section data-name="מסמכים">

      <a href="/assets/pdf/general.pdf" target="_blank" class="menu">
        כללי כשרות לפסח
      </a>
      <a href="/assets/pdf/disposable.pdf" target="_blank" class="menu">
        כלי חד פעמי
      </a>
      <a href="/assets/pdf/cosmetics.pdf" target="_blank" class="menu">
        קוסמטיקה
      </a>
      <a href="/assets/pdf/medications.pdf" target="_blank" class="menu">
        תרופות
      </a>
      <a href="/assets/pdf/pet-food.pdf" target="_blank" class="menu">
        מזון בעלי חיים
      </a>
      <a href="/assets/pdf/toiletries.pdf" target="_blank" class="menu">
        טואלטיקה
      </a>
    </small-section>
    <div>
      <img src="/images/kashrut.jpg" class="post" alt="כשרות">
    </div>
  </div>
