<script src="/assets/js/faq-archive.js" defer=""></script>
<div id="load" data-title="שו&quot;ת ישנים" data-firebase-database=""></div>


  <div class="p-side-3 split2">
    <small-section data-name="ארכיון שו&quot;ת ישנים">

      <div id="questions"></div>
    </small-section>
    <div>
      <img src="/images/books.jpg" class="post" alt="ספרים">
    </div>
  </div>
