<div id="load" data-title="פסח תשפ&quot;א - דרשות"></div>


  <div class="split2">
    <small-section data-name="מסמכים">

      <a href="/assets/pdf/nissan.pdf" target="_blank" class="menu">
        הלכות חודש ניסן
      </a>
      <a href="/assets/pdf/trees.pdf" target="_blank" class="menu">
        הלכות ברכת האילנות
      </a>
      <a href="/assets/pdf/cleaning.pdf" target="_blank" class="menu">
        הלכות ניקיון לקראת פסח
      </a>
      <a href="/assets/pdf/no-hametz.pdf" target="_blank" class="menu">
        הלכות איסור חמץ
      </a>
      <a href="/assets/pdf/checking.pdf" target="_blank" class="menu">
        הלכות בדיקת חמץ
      </a>
      <a href="/assets/pdf/shabbat-hagadol.pdf" target="_blank" class="menu">
        הלכות שבת הגדול
      </a>
      <a href="/assets/pdf/day-pesach-eve.pdf" target="_blank" class="menu">
        הלכות יום ערב פסח
      </a>
      <a href="/assets/pdf/burn-locations.pdf" target="_blank" class="menu">
        רשימת מקומות לשריפת חמץ
      </a>
      <a href="/assets/pdf/leftover-hametz.pdf" target="_blank" class="menu">
        הלכות חמץ שעובר עליו הפסח
      </a>
      <a href="/assets/pdf/set-seder.pdf" target="_blank" class="menu">
        סדר ליל פסח
      </a>
      <a href="../#drashot" class="menu">
        דרשות
      </a>
    </small-section>
    <div>
      <img src="/images/pesach.jpg" class="post" alt="פסח">
    </div>
  </div>
