<div id="load" data-title="לשכת רב העיר"></div>
  <h3>ברוכים הבאים לדף לשכת רב העיר בת ים</h3>
  <div class="split2">
    <x-section data-name="איך נוכל לעזור?">
      <a href="ask-rav" class="menu">שאלה לרב</a>
      <a href="ask-rav#videos" class="menu">סרטוני הרב</a>
      <a href="parasha" class="menu">פרשת השבוע</a>
      <a href="corona" class="menu">קורונה</a>
      <a href="old-faq" class="menu">שו"ת ישנים</a>
    </x-section>
    <img src="/images/book.jpg" class="post" alt="ספר">
  </div>
