<div id="load" data-title="מכרזי כוח אדם"></div>

  <a href="/assets/pdf/human-resources/marriage-manager.pdf" class="menu" target="_blank">
    מנהל מחלקת נישואין
  </a>
  <a href="/assets/pdf/human-resources/marriage-writer.pdf" class="menu" target="_blank">
    רשם נישואין
  </a>
  <a href="/assets/pdf/human-resources/secretary.pdf" class="menu" target="_blank">
    מזכיר מועצה
  </a>
  <a href="/assets/pdf/human-resources/coordinator.pdf" class="menu" target="_blank">
    רכז מועצה
  </a>
  <a href="/assets/pdf/human-resources/mikve-supervisor.pdf" class="menu" target="_blank">
    מפקחת מקוואות
  </a>
  <a href="/assets/pdf/human-resources/balanit.pdf" class="menu" target="_blank">
    בלנית
  </a>
