<div id="load" data-title="עלוני &quot;בחזקת כשרות&quot;"></div>
      
        <div class="split2">
          <x-section data-name="ארכיון עלוני &quot;בחזקת כשרות&quot;">            
            <a href="/assets/pdf/kashrut-brochures/5.pdf" target="_blank" class="menu">אלול תשפ"א</a>
            <a href="/assets/pdf/kashrut-brochures/4.pdf" target="_blank" class="menu">תמוז תש"פ</a>
            <a href="/assets/pdf/kashrut-brochures/3.pdf" target="_blank" class="menu">פורים תש"פ</a>
            <a href="/assets/pdf/kashrut-brochures/2.pdf" target="_blank" class="menu">ט"ו בשבט תש"פ</a>
            <a href="/assets/pdf/kashrut-brochures/1.pdf" target="_blank" class="menu">חנוכה תש"פ</a>
          </x-section>
          <div>
            <img src="/images/latest-kashrut-brochure.jpg" class="post" alt="עלון בחזרת כשרות האחרון">
          </div>
        </div>
      
    