<div id="load" data-title="המועצה הדתית בת ים"></div>
      
        
        <div class="split2 middle">
          <div class="txt-right">
            <h3>גמילות חסדים וסיוע לוגיסטי</h3>
            <p>
              רוב הציבור אינו ערוך מבחינה לוגיסטית עבור אירוח כמות גדולה של אנשים במשך ימי השבעה.
              <br>
              מסיבה זו הקמנו את מחלקת האבלות במועצה הדתית בת ים.
              <br>
              הציבור מוזמן להגיע לבניין המועצה ולקבל ציוד שיסייע לו בארגון השבעה עבור הנפטר.
              <br>
              מחלקת האבלות תספק לכם, ללא עלות:
            </p>
            <ul class="mr-3">
              <li>כסאות</li>
              <li>שולחנות</li>
              <li>סידורי תפילה</li>
            </ul>
            <p>
              כמובן, יש להשיב את הציוד בתום ימי השבעה חזרה לבניין המועצה דתית.
            </p>
            <h3>סיוע הלכתי ותמיכה</h3>
            <p>
              הציבור היקר מוזמן ליצור קשר עם הרב חכם שלמה פינטו, בכל נושא, שאלה ובעיה.
              <br>
              תזכו למענה אדיב, אוזן קשבת, והדרכה לאורך כל הימים הלא פשוטים הללו.
            </p>
            <p>
              <strong>טלפון: </strong> 052-688-8868
              <br>
              הרב חכם שלמה פינטו
            </p>
          </div>
          <div>
            <img class="post" src="/images/stairs.jpg" alt="מדרגות">
          </div>
        </div>
      
    