<div id="load" data-title="ראש השנה וכיפור תשפ&quot;א"></div>


  <div class="split2">
    <x-section data-name="מידע שימושי בנושא ראש השנה וכיפור תשפ&quot;א">

      <a href="/assets/pdf/fast.pdf" target="_blank" class="menu">קורונה וצום יום כיפור</a>
      <a href="/assets/pdf/prepare-synagogue.pdf" target="_blank" class="menu">הכנת בית הכנסת הוראות למעשה</a>
      <a href="/assets/pdf/igeret.pdf" target="_blank" class="menu">אגרת המועצה</a>
      <a href="/assets/pdf/prayer-schedule.pdf" target="_blank" class="menu">זמני תפילות</a>
      <a href="/assets/pdf/shofar.pdf" target="_blank" class="menu">תקיעות</a>
      <a href="/rabbi/corona" class="menu">הנחיות קורונה נוספות</a>
    </x-section>
    <div>
      <img src="/images/igeret.jpeg" class="post" alt="איגרת">
    </div>
  </div>
