<div id="load" data-title="שנת שמיטה תשפ&quot;ב"></div>
    
      <a href="rega-group" class="menu">רגע של שביעית - קבוצת שומרי שמיטה</a>
      <a href="times" class="menu">לוחות זמנים</a>
      <a href="join" class="menu">הצטרפות לשומרי שמיטה</a>      
      <a href="/assets/pdf/pruzbul.pdf" target="_blank" class="menu">שטר פרוזבול</a>
      <a href="/assets/office/garden.pptx" target="_blank" class="menu">טיפול בגינת הנוי בשמיטה</a>      
      <a href="/assets/pdf/shmita-buying-flowers.pdf" target="_blank" class="menu">רכישת זרי פרחים בשמיטה</a>
      <a href="/assets/pdf/shmita-updates2.pdf" target="_blank" class="menu">עדכוני שמיטה מס' 2</a>
    
  