<div id="load" data-title="מכירת חמץ" data-firebase-functions=""></div>


  <div class="p-side-3">

    <div class="split2">
      <small-section data-name="מכירת חמץ דרך האינטרנט">

        <div class="p-side-3">
          <a href="online" class="menu">שטר מקוון למכירת חמץ</a>
        </div>
      </small-section>
    </div>

    <div class="split2">
      <small-section data-name="מסמכים">

        <a href="/assets/pdf/hametz-sale.pdf" target="_blank" class="menu">
          הלכות מכירת חמץ
        </a>
        <a href="/assets/pdf/shtar-sale-single.pdf" target="_blank" class="menu">
          שטר הרשאה למכירת חמץ - יחידים
        </a>
        <a href="/assets/pdf/shtar-sale-represent.pdf" target="_blank" class="menu">
          שטר הרשאה למכירת חמץ - בשליחות
        </a>
        <a href="/assets/pdf/rabbis-added-docs.pdf" target="_blank" class="menu">
          לרבנים - צירוף דפים נוספים
        </a>
        <a href="/assets/pdf/shtar-rabbi-represent.pdf" target="_blank" class="menu">
          שטר שליחות לרבנים המוכרים
        </a>
        <a href="/assets/pdf/seder-sale.pdf" target="_blank" class="menu">
          סדרי מכירת חמץ השנה
        </a>
        <a href="/assets/video/last-year-hametz-ceremony.mp4" target="_blank" class="menu">
          טקס מכירת חמץ בערב פסח תש"פ
        </a>
      </small-section>
      <div>
        <img src="/images/books.jpg" class="post" alt="ספרים">
      </div>
    </div>

  </div>
