<div id="load" data-title="המועצה הדתית בת ים"></div>
      
        
        <div class="split2 middle">
          <div class="txt-right">
            <p>
              מקום הפטירה משפיע על מקום הקבורה של הנפטר.
            </p>
            <h3>מי שנפטר בבית חולים</h3>
            <h4>מקום הקבורה</h4>
            <p>
              מי שנפטר בבית חולים זכאי להיקבר במקום מגוריו, כפי שרשום במרשם האוכלוסין.
              ואולם אם אין במקום מגוריו בית עלמין לפי השקפתו (קבורה אזרחית, מוסלמית, נוצרית וכו'), הוא יהיה זכאי להיקבר ביישוב שבו נמצא בית החולים.
            </p>
            <p>
              במקרים שנפטר מי ששהה בבית חולים פסיכיאטרי או בית חולים גריאטרי או בית חולים לחולים כרוניים או בית חולים למפגרים, וכתובת מגוריו שונתה לכתובת המוסד שבו הוא מאושפז - תהיה משפחתו זכאית לבחור בין הבאת הנפטר לקבורה במקום מגוריו הקודם, ובין הבאתו לקבורה ביישוב שבו נמצא בית החולים, ובלבד שלא חלפו 7 שנים מיום שינוי כתובת הנפטר לכתובת המוסד שבו היה מאושפז.
            </p>
            <p>
              על המשפחה להמציא לחברת הקבורה אישור מבית החולים על תקופת האשפוז.
            </p>
            <p>
              הבהרה: האפשרות להבאה לקבורה ביישוב המגורים הקודם אינה קיימת למי ששהו בבית אבות או במחלקות סיעודיות בבתי אבות.
            </p>
            <h4>העברת הנפטר למקום הקבורה</h4>
            <p>
              העברת הנפטר מבית חולים למקום הקבורה תהיה ללא תשלום, אם בית החולים ומקום הקבורה נמצאים בתחום הרשות המקומית שבו פועלת חברת הקבורה (ישנן חברות קבורה הפועלות בכמה רשויות מקומיות).
            </p>
            <p>
              במקרים שבהם אין בית חולים בתחום הרשות המקומית שבה התגורר הנפטר -  העברת הנפטר מבית החולים למקום הקבורה תהיה גם ללא תשלום, בתנאי שבית החולים הוא הקרוב ביותר הנותן שירותים רפואיים לתושבי הרשות המקומית שבה התגורר הנפטר.
            </p>

            <h3>מי שנפטר במקום אחר (לא בבית חולים)</h3>
            <h4>מקום הקבורה</h4>
            <p>
              מי שנפטר שלא בבית חולים, זכאית משפחתו לבחור בין הבאת הנפטר לקבורה במקום מגוריו כפי שרשום במרשם האוכלוסין, לבין הבאתו לקבורה במקום פטירתו.
            </p>
            <h4>העברת הנפטר למקום הקבורה</h4>
            <p>
              העברת הנפטר למקום הקבורה תהיה ללא תשלום, אם מקום הפטירה ומקום הקבורה נמצאים בתחום הרשות המקומית שבו פועלת חברת הקבורה (ישנן חברות קבורה הפועלות בכמה רשויות מקומיות).
            </p>
            <p>
              הערה: קיבוצים ומושבים אינם רשאים לגבות כל תשלום בשל קבורת הנפטר בתחומם, אלא אם כן החלקה נקנתה בחייו.
            </p>
            <h4>העברת נפטר לקבורה בבית עלמין אזרחי</h4>
            <p>
              החל ב- 5.4.2017 העברת נפטר למקום קבורה בבית עלמין אזרחי תהיה ללא תשלום, אם מתקיימים כל התנאים הבאים:
            </p>
              <ol>
                <li>ביישוב הפטירה אין בית עלמין אזרחי</li>
                <li>ביישוב מגוריו של הנפטר אין בית עלמין אזרחי</li>
                <li>המשפחה לא רכשה לנפטר חלקת קבר לאחר הפטירה</li>
              </ol>
            <p>
              אם המשפחה שילמה עבור העברת הנפטר לקבורה בבית עלמין אזרחי, והתקיימו כל התנאים האלה, המשפחה תהיה זכאית לקבל מחברת הקבורה החזר עבור עלות ההעברה לפי תעריף העברת נפטרים.
            </p>

          </div>
          <div>
            <img class="post" src="/images/stairs.jpg" alt="מדרגות">
          </div>
        </div>
      
    