<div id="load" data-title="הדרכת כלות"></div>
<div class="split2 middle">
  <x-section class="txt-right">
    <h3>מסלול הדרכת כלות</h3>
    <p>
      כלה יקרה!
      <br>
      המועצה הדתית בת ים בשיתוף "מכון להב-אומנות הנישואין" שמחים להציג בפניכם מסלול חדש להדרכת כלות.
    </p>
    <p>
      ההיכרות עם "להב"- המכשיר זוגות לקראת הנישואין מזה כ- 12 שנה ברחבי הארץ- תאפשר לכם חוויה אישית וייחודית, שתשאיר
      אתכם עם תובנות חדשות למה שמסתתר מעבר להלכה, תוך כדי גמישות מקסימלית ללו"ז שלכם. אני בטוחים כי תפיקו תועלת רבה מן
      המפגשים הללו, שיצעידו אתכם אל מסלול האושר שבנישואין!
    </p>
    <h3>פרטי המסלול</h3>
    <p>
      הדרכת הכלה כוללת 2 מפגשים, אשר המפגש הראשוני עוסק בזוגיות ואיך לשמר את הקשר, ולכן מומלץ כי במפגש זה הזוג יגיע יחד.
      המפגש השני עוסק בדיני טהרה והכנות לקראת המקווה ולכן זהו מפגש פרטני של הכלה.
    </p>
    <ul>
      <li>ההדרכה מתקיימת ברבנות בת ים.</li>
      <li>במקום מוגש כיבוד קל ושתיה קרה/חמה.</li>
      <li>ההדרכה ללא עלות!</li>
      <li>שעות גמישות</li>
      <li>שיעורים פרטניים באוירה דיסקרטית ונעימה</li>
    </ul>
    <p></p>
    <h3>שעות פעילות המחלקה:</h3>
    <p>
      <strong>א'- </strong>8:30-12:30, 16:00-18:00
      <br>
      <strong>ב'- </strong>8:30-12:30
      <br>
      <strong>ג'- </strong>8:30-12:30, 16:00-18:00
      <br>
      <strong>ד'- </strong>8:30-12:30
      <br>
      <strong>ה'- </strong>8:30-12:30
    </p>
    <h3>דרכי יצירת קשר</h3>
    <p>
      <strong>טלפון: </strong>03-5062126, 03-5282808
      <br>
      <strong>פקס: </strong>03-5282818
      <br>
      <strong>מייל: </strong>by@nisuin.org.il
    </p>

  </x-section>

  <div>
    <img src="/images/bouquet.jpg" class="post" alt="זר פרחים">
  </div>
</div>