:root {
	direction: rtl;
	--color1: #21d7fa;
	--color2: #75c1fd;
	--primary: linear-gradient(to right, var(--color1), var(--color2));
	--secondary: #819eac;
	--bg-color: #ededed;
	--brightest: #f8f8f8;
	--darkest: #4b5457;
	--bright: #e1eff5;
	--good: #67c683;
	--danger: #c66767;
	--grey: #ddd;
	--greyer: #ccc;
	--sectionW: 33rem;
	--cardW: 16rem;
}
html, body {
	font-size: 10px;
	height: 100%;
	scroll-behavior: smooth;
}
body {
	font-family: Rubik, Calibri, Arial, sans-serif;
	background-color: var(--bright);
	width: 100%;
	margin: 0;
	padding: 0;
	color: var(--darkest);
	scroll-behavior: smooth;
	background-image: linear-gradient(
		to bottom, var(--brightest), var(--bright));
	background-repeat: no-repeat;
	background-size: cover
}
img{max-width: 98%; max-height: 100%;}
.icon{
	position: absolute;
	height: 8.5rem;
	margin: 1rem;
	z-index: 1;
}
.icon.left{left: 0}
.icon.center{
	top: .5rem;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
}
.logo{
  margin-bottom: 10rem;
	max-width: 100%;
}
.logo img{max-width: inherit;}
.is-open, .is-open span{
	font-size: 3.5rem;
	padding: 1rem;
	border-radius: 10rem;
}
.ball {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  position: relative;
	margin: 0;
}
.ball.bubble.good{background: radial-gradient(circle at 50% 55%, rgba(240, 255, 246, 0.9), rgba(240, 255, 249, 0.9) 40%, rgba(225, 255, 235, 0.8) 60%, rgba(43, 255, 66, 0.75))}
.ball.bubble.danger{background: radial-gradient(circle at 50% 55%, rgba(255, 240, 240, 0.9), rgba(255, 240, 240, 0.9) 40%, rgba(255, 225, 225, 0.8) 60%, rgba(255, 43, 43, 0.4))}
.ball:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index: 2; }
.ball:after {
  content: "";
  position: absolute;
  display: none;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  filter: blur(1px);
  z-index: 2;
  transform: rotateZ(-30deg); }
.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  transform: rotateX(90deg) translateZ(-160px);
  z-index: 1; }
.ball.plain {
  background: black; }
  .ball.plain:before, .ball.plain:after {
    display: none; }
.ball.bubble {animation: bubble-anim 2s ease-out infinite; }
  .ball.bubble:before {
    -webkit-filter: blur(0);
    filter: blur(0);
    height: 80%;
    width: 40%;
    background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
	}
  .ball.bubble:after {
    display: block;
    background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }
@keyframes bubble-anim {
  0% {
    transform: scale(1); }
  20% {
    transform: scaleY(0.95) scaleX(1.05); }
  48% {
    transform: scaleY(1.1) scaleX(0.9); }
  68% {
    transform: scaleY(0.98) scaleX(1.02); }
  80% {
    transform: scaleY(1.02) scaleX(0.98); }
  97%, 100% {
    transform: scale(1); }
}
.header-wave stop[offset="0%"]{stop-color: var(--color1)}
.header-wave stop[offset="100%"]{stop-color: var(--color2)}
.header-wave path{fill: url(#grad)}
li, ol, p, ul {font-size: 1.7rem}
nav ul {
	padding: 10px 0;
	margin: 0
}
nav li {
	display: inline;
	font-size: 1.7rem;
	margin-left: 3.5rem;
	cursor: pointer;
}
.container {
	width: 95%;
	margin: 0 auto;
}
section {
	margin: 1.5rem 0;
	padding-bottom: 3rem;
	background-color: var(--brightest);
	width: var(--sectionW);
	border: 1px var(--bright) solid;
	box-shadow: 0 5px 15px -2px rgba(0, 0, 0, .3);
	border-radius: 14px;
	animation: floatUp 1s;
	position: relative;
}
@keyframes floatUp {
	from {opacity: 0;transform: translateY(50px)}
  to {opacity: 1; transform: translateY(0)}
}
button img{float: right;}
[data-admin-ui]{display: none;}
section h1 {
	font-size: 3rem;
	color: var(--brightest);
	width: 100%;
	margin: 0;
	text-align: center;
	font-weight: 100;
	position: absolute;
}
.h1-wave{border-radius: inherit}
.h1-wave svg{border-radius: inherit}
.h1-wave path{fill: url(#grad);}
.inline{display:inline}
h2{font-size: 3rem;}
.field{padding:2rem 0}
ul{list-style: disclosure-closed}
button, input[type="submit"] {
	font-size: 2.6rem;
	background-image: var(--primary);
	padding: 1rem 2rem;
	margin: 2.5rem auto;
	color: var(--brightest);
	border-radius: 3px;
	transition: .1s linear;
	border: none;
	cursor: pointer;
	width: 100%;
}
#updates-wrap{
	max-height: 40rem;
	overflow-y: hidden;
}
.update{
	padding-top: 2rem;
}
.update hr{margin: 0}
.update h2{margin: 0}
#news{overflow: hidden; position: relative;}
.news-title{
	position: absolute;
	right: 0;
	font-size: 2.5rem;
	padding: 1rem;
	background: var(--primary);
	height: 100%;
	top: 0;
	z-index: 1;
	color: var(--brightest);
}
#news p{
	white-space: nowrap;
	transition: all 3s;
	transform: translateX(100%);
}
button:hover{transform:translateY(-3px)}
button:disabled, .disabled{
	background: var(--grey);
	cursor: initial;
	pointer-events: none
}
button,input{font-family:inherit}
.ml-1{margin-left:10px}
input {
	width: 100%;
	padding: 0 2rem;
	min-height: 5rem;
	border-radius: .3rem;
	border: 1px solid rgba(0, 0, 0, .15);
	transition: box-shadow .3s;
	font-size: 2rem;
	color: var(--darkest);
	box-sizing: border-box
}
input[type="checkbox"], input[type="radio"]{
	width: initial;
	min-height: initial;
}
input[name="load-appointments-date"]{max-width: 30%}
::placeholder {opacity: .3}
label {
	font-size: 1.5rem;
	margin-bottom: .5rem;
	display: block;
	text-align: right;
}
hr{color: var(--color1)}
section.wide{width: unset}
section.wide h1{font-size: 4rem}
.card{
  margin: 1rem;
  box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--brightest);
  background-color: var(--bright);
  text-align: center;
  transition-property: transform, background-color;
	transition-duration: .2s;
	cursor: pointer;
	position: relative;
}
.card:hover{transform: translateY(-1rem)}
.card-pic{width: var(--cardW); border-radius: 3px 3px 0 0;}
mikve-card.active{
	background-color: var(--color2);
	color: var(--brightest);
}
#bot-img{
	height: 26rem;
	position: absolute;
	bottom: 0;
	right: 0;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: rgba(255,255,255,.7);
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
	position: absolute;
	top: 4rem; left: 5rem;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px var(--brightest);
  animation: fill .4s ease-in-out .4s forwards,
		scale .3s ease-in-out .9s both;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
table .checkmark {top: 0; right: 1.5rem;}
.big-checkbox {
	appearance: none;
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 18px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	transition: background-color .25s;
}
.big-checkbox:active, .big-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.big-checkbox:checked{background-color: var(--bg-color)}
.big-checkbox:checked:after {
	content: '\2714';
	font-size: 2.8rem;
	position: absolute;
	top: 0px;
	left: 6px;
	color: var(--color2);
	animation: checkGrow .25s;
}
.rate:not(:checked) > input {display: none}
.rate:not(:checked) > label {
	display: inline;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {content: '★'}
.rate > input:checked ~ label {color: #ffc700}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {color: #deb217}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {color: #c59b08;}
@keyframes stroke {100% {stroke-dashoffset: 0;}}
@keyframes checkGrow{
	0%{font-size: 0}
	100%{font-size: 2.8rem}
}
@keyframes scale {
  0%, 100% {transform: none;}
  50% {transform: scale3d(1.1, 1.1, 1);}
}
@keyframes fill {
  100% {box-shadow: inset 0px 0px 0px 30px var(--good);/* maybe --primary? */}
}
.ltr{direction: ltr;}
.stars{
	min-width: 120px;
	direction: ltr;
}
.stars img{
	max-height: 18px;
	max-width: 18px;
	margin-right: 1px;
}
.pointer{cursor: pointer}
table{
	width: 100%;
	border: 1px solid var(--grey);
}
table button{
	padding: 1rem;
	margin: .5rem 0;
	font-size: 1.7rem;
}
calendar-table th{width: calc(100% / 7)}
appointment-table th{width: calc(100% / 3)}
tr{
	background-color:var(--bg-color);
	height: 7rem;
}
thead tr{
	background-color:var(--secondary);
	color: var(--brightest);
	height: unset;
}
thead.large-txt th{font-size: 2rem}
thead.align-r th{text-align: right}
td, th{
	padding: .5rem;
	line-height: 3.5rem;
	font-size: 1.8rem;
}
td.date:not(.allowed){opacity: .4}
td.today, td.first-in-heb-month, td.first-in-greg-month, td.holiday{
	position: relative;
}
td.date::before{font-size: 1.5rem;}
td.first-in-heb-month::before,
td.first-in-greg-month::before,
td.holiday::before{
	font-weight: normal;
	color: var(--color2);
	position: absolute;
	bottom: 0; right: 3px;
}
td.today::after{
	content: '';
	padding: .6rem;
	background-color: var(--color2);
	position: absolute;
	border-radius: 50%;
	top: 3px; right: 3px;
}
td.first-in-heb-month::before{content: attr(data-heb-month);}
td.first-in-greg-month::before{content: attr(data-greg-month-string);}
td.holiday::before{content: attr(data-holiday);}
td.date.allowed{cursor: pointer; transition: background-color .25s}
td.date.allowed:not(.active):hover{background-color: var(--grey)}
td.date.active{background-color: var(--color2); color: var(--brightest)}
table span {font-size: 2rem;}
.danger{background: var(--danger);color:var(--bg-color)}
.good{background: var(--good);color:var(--bg-color)}
.danger-txt{color:var(--danger)}
.good-txt{color:var(--good)}

@keyframes fromTop {
	from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
@keyframes fadeIn {
	from {opacity: 0}
  to {opacity: 1}
}
.back{
	top: -3rem; right: .5rem;
}
.back:hover{color: var(--color2)}
.pos-rel{position: relative}
.close, .back {
	font-size: 2.8rem;
	margin-right: 5px;
	position: absolute;
	cursor: pointer;
}
h3{font-size:2.5rem}
.update h3{font-size: 2rem;}
.update p{font-size: 1.6rem;}
h4{font-size:22px;font-weight:100}
.w-80p{width:80%}
.middle{text-align:center}
.flex, .split {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.nowrap{flex-wrap: nowrap;}
.evenly{justify-content: space-evenly}
.split{
	flex-wrap: nowrap;
	justify-content: space-between;
}
.txt-right{text-align: right;}
.sections{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	align-items: start;
}
.sections section{margin: .5rem}
.sections section.two-thirds{flex-grow: 2;}
.apart{justify-content: space-between;}
.small-btn{
	font-size:1.7rem;
	margin:1.7rem 0;
	width: unset;
}
.align-end{align-items: end}
button.active{background-color: var(--color2)}
.mxh-40{max-height: 40rem; overflow-y: auto;}
.bold{font-weight: bold}
.faded{opacity: .6}
.mxw-40 input{max-width:95%}
.mt-0{margin-top: 0}
.mt-10{margin-top: 10rem}
.mb-1{margin-bottom:1rem}
.mb-5{margin-bottom:50px}
.mb-2{margin-bottom:20px}
.mxw-250{max-width:250px}
.mxw-400{max-width:400px}
.m-5{margin:50px}
.m-3{margin:30px}
.m-0{margin:0}
.soft-edge{border-radius:5px}
.p-1{padding: 1rem}
.p-2{padding:20px}
.p-3{padding:30px}
.p-side-3{padding-right:30px; padding-left:30px}
.post{padding:7px; background-color:var(--brightest); border:2px solid #eee}
.hidden, .template{display:none !important}
p{font-size: 2.2rem; line-height:1.7em}
.mxw-90p{max-width:90%}
.ml-3{margin-left:30px}
input:focus{box-shadow:0 0 15px -5px var(--primary)}
.gmap_canvas{width:100%; height:30rem;}
.mb-3{margin-bottom:30px}
.mxw-95p{max-width:95%}
.m-2{margin:20px}
.mb-0{margin-bottom:0}
.w-50p{width:50%}
.center{margin:0 auto}
.w-100p{width:100%}
.shadow{box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.1);}
.soft-brd{border: 1px var(--grey) solid}
.m-1{margin: 1rem;}
.secondary{background: var(--secondary)}
.align-l{text-align: left}
.float-l{float: left}
.select {
  position: relative;
  display: flex;
  width: 18rem;
  height: 5em;
  line-height: 3;
  overflow: hidden;
  border-radius: 3px;
}
select {
	background-color: var(--bg-color);
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
  flex: 1;
  padding: 1rem 3rem;
	border: 0;
  cursor: pointer;
	font-size: 2rem;
	font-family: inherit;
	color: var(--darkest);
	transition: background-color .2s, opacity .2s;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1em;
  cursor: pointer;
  pointer-events: none;
	font-size: 1.7rem;
}
select:hover{background-color: var(--grey)}
select:disabled{pointer-events: none; opacity: .4}
.disabled:hover{transform: none}
.float-up{animation: floatUp .5s}
.head-msg{
	background-color: var(--bg-color);
	margin-bottom: 2.5rem;
	margin-top: -2rem;
	padding: 1rem .5rem;
	animation: fadeIn .5s;
	position: relative
}
.head-msg input{
	font-size: 1.5rem;
	height: 4rem;
}
.head-msg input {min-height: 3.5rem; width: unset;}
.head-msg .close{right: 0; top: 0;}
small span {font-size: inherit}
.modal h1 {font-size: 2rem; margin: 0;}
.modal {
	position: fixed;
	z-index: 2;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, .4);
	margin: 0;
	animation: fadeIn .25s;
}
.modal-content {
	position: relative;
	background-color: var(--brightest);
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: calc(var(--sectionW) * .7);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
	animation: fromTop .4s;
	border-radius: 5px;
	padding-bottom: 1rem;
}
.modal .close{color: var(--brightest); z-index: 2}
.modal .close:hover{color: var(--darkest)}
.modal-body{padding:2px 16px; text-align: center;}
#is-nav{display:none}
