<div id="load" data-title="פורים תשפ&quot;א"></div>
      
        
        <p>
          פורים שמח! 🎉🎉
          <br>
          המועצה הדתית כמו שלא נראתה מעולם!
          <br>
          <strong>משתה פורים עם מיטב כוכבי הסטנדאפ היהודי!</strong>
          <br>
          דואגים להביא הכל אליכם עד הבית! בהתאם להנחיות משרד הבריאות.
        </p>
        <p>
          <strong>השידור יתקיים ביום חמישי יג' אדר 25.2 בשעה 21:00 </strong>
          <br>
          <a href="https://www.facebook.com/events/261667235418363/">בדף הפייסבוק של המועצה</a>
          <br>
          <a href="https://youtu.be/MTBF1HS7V00">ובערוץ היוטיוב</a>
        </p>
        <p>
          אז תרימו את מצב הרוח, השנה צוחקים עד דלא ידע😂🤣😂
          הכיבוד עליכם - הצחוקים עליי 😁
        </p>
        <div class="split2">
          <small-section class="p-2" data-name="קריאת המגילה בטעמים מאת החזן המדקדק רבי אהרון מזרחי – בנוסח אשכנז">
            
            <p>
              קריאת המגילה בטעמים מאת החזן המדקדק רבי אהרון מזרחי – בסרטון וידאו – באתר המועצה הדתית. בנוסח עדות המזרח, ובנוסח אשכנז.
              לתשומת לב: אין יוצאים בקריאה זו ידי חובה. קריאה זו נועדה כדי שכל מבודד/ת יוכלו להניח מגילה כשרה לפניהם, ולקרוא מילה במילה אחרי הקורא, בלי טעויות בקריאה. הקריאה בקצב מיוחד המותאם לכך.
            </p>
            <iframe class="yt-embed post" src="https://www.youtube.com/embed/QRcDlm3YuN8" frameborder="0" allow="accelerometer; autoplay;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
          </small-section>
          <small-section class="p-2" data-name="
              קריאת המגילה בטעמים מאת החזן המדקדק רבי עידן מזרחי –בנוסח אשכנז
            ">
            
            <p>
              קריאת המגילה בטעמים מאת החזן המדקדק רבי עידן מזרחי – בסרטון וידאו – באתר המועצה הדתית. בנוסח עדות המזרח, ובנוסח אשכנז.
              לתשומת לב: אין יוצאים בקריאה זו ידי חובה. קריאה זו נועדה כדי שכל מבודד/ת יוכלו להניח מגילה כשרה לפניהם, ולקרוא מילה במילה אחרי הקורא, בלי טעויות בקריאה. הקריאה בקצב מיוחד המותאם לכך.
            </p>
            <iframe class="yt-embed post" src="https://www.youtube.com/embed/g6RBLrxy5ZM" frameborder="0" allow="accelerometer; autoplay;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
          </small-section>
          <small-section class="p-2" data-name="
              קריאת המגילה בבידוד
            ">
            
            <p>
              הרב הראש לבת ים שליט"א - הצילו אני בבידוד!!!- קריאת המגילה בבידוד
            </p>
            <iframe class="yt-embed post" src="https://www.youtube.com/embed/bjssyUqaADA" frameborder="0" allow="accelerometer; autoplay;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
          </small-section>
          <small-section class="p-2" data-name="
              דיני סעודת פורים שחל ביום שישי
            ">
            
            <p>
              הרב הראשי לבת ים שליט"א - מתי אוכלים!!! - דיני סעודת פורים  שחל ביום שישי.
            </p>
            <iframe class="yt-embed post" src="https://www.youtube.com/embed/fMokeii7uD0" frameborder="0" allow="accelerometer; autoplay;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
          </small-section>
          <small-section class="p-2" data-name="
              פרשת זכור
            ">
            
            <p>
              דקדוקים בקריאת פרשת זכור ע"י הרב הראשי לבת ים שליט"א
            </p>
            <iframe class="yt-embed post" src="https://www.youtube.com/embed/TPLa54nKRvo" frameborder="0" allow="accelerometer; autoplay;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
          </small-section>
          <small-section class="p-2" data-name="
              קורונה וזכור
            ">
            
            <p>
              קורונה וזכור ע"י הרב הראשי לבת ים שליט"א
            </p>
            <iframe class="yt-embed post" src="https://www.youtube.com/embed/Df5p_9qZ1-k" frameborder="0" allow="accelerometer; autoplay;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
          </small-section>
        </div>
      
    