<link rel="stylesheet" href="/assets/magnific-popup/magnific-popup.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" defer=""></script>
<script src="/assets/magnific-popup/jquery.magnific-popup.min.js" defer=""></script>
<script src="/assets/js/set-posters.js" defer=""></script>
<div id="load" data-title="ארכיון אירועים" data-firebase-database=""></div>


  <div>
    <div id="posters" class="gallery cols-3"></div>
  </div>
