<!DOCTYPE html>
<html lang="he">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@400;600&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/b4add97165.js" crossorigin="anonymous"></script>
    <script src="/assets/components/loading-screen.js" rel="preload" as="script"></script>
    <script src="/assets/components/x-section.js" type="module"></script>
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js" defer></script>
    <script src="/assets/js/loader.js" type="module"></script>
    <title>המועצה הדתית בת ים</title>
  </head>
  <body class="loading">
    <loading-screen></loading-screen>
    {{> nav }}
    <div id="swup">
      {{> header home=home }}
      <main>
        <div class="container">{{{ body }}}</div>
      </main>
      {{> footer }}
    </div>
  </body>
</html>
