<div id="load" data-title="המועצה הדתית בת ים"></div>
      
        
        <div class="split2 middle">
          <div class="txt-right">
            <p>
              דמי קבורה משולמים לכיסוי הוצאות הקבורה והשירותים המקובלים בקשר לקבורה, עבור כל אדם שנפטר בישראל ונקבר בה, ועבור כל תושב/ת ישראל שנפטר מחוץ לישראל.
            </p>
            <p>
              הביטוח הלאומי משלם את דמי הקבורה ישירות לחברה הקדישא ולכל גוף אחר שהורשה כדין לעסוק בקבורה, שחתמו על הסכם עם המוסד לביטוח לאומי בעניין זה.
            </p>
            <p>
              לא ייגבה כל תשלום ממשפחת הנפטר בעד הקבורה והשירותים המקובלים בקשר לקבורה.
            </p>
            <h3>נפטר שאינו יהודי</h3>
            <p>
              נפטר שאינו יהודי שהובא לקבורה ביישוב, שאין בו גוף או חברה המורשית כדין לעסוק בקבורת נפטרים שאינם יהודים - כדי לקבל את הוצאות הקבורה, יש להגיש תביעה לסניף הביטוח הלאומי הקרוב למקום המגורים בטופס תביעה אישית לדמי קבורה. אפשר להגיש את התביעה בדואר, בפקס או בתיבת השירות של הסניף.
              <br>
              אל טופס התביעה יש לצרף רישיון קבורה מקורי.
            </p>
            <h3>תושב ישראל שנפטר בחו"ל</h3>
            <p>
              תושב ישראל הוא מי שהוכר על ידי הביטוח הלאומי כתושב/ת ישראל בעת הפטירה (אזרח ישראל אינו בהכרח תושב ישראל).
            </p>
          </div>
          <div>
            <img class="post" src="/images/stairs.jpg" alt="מדרגות">&gt;
          </div>
        </div>
      
    