<div id="load" data-title="דרושים למחלקת הכשרות"></div>
      
        
        <div class="split2">
          <x-section data-name="משרות">
            
            <div class="p-side-2">
              <p>
                נכון לעכשיו, מחלקת הכשרות אינה זקוקה לעובדים חדשים, ואין משרות חדשות המוצעות כעת.
              </p>
              <div class="middle">
                <a href="..#team" class="cta">צוות המחלקה</a>
              </div>
            </div>
          </x-section>
          <div>
            <img src="/images/help.jpg" class="post" alt="עזרה">
          </div>
        </div>
      
    