<div id="load" data-title="נהלים"></div>
      
        
        <div class="p-side-3 split2">
          <h3>כאן תוכלו למצוא את נהלי הכשרות של הרבנות הראשית לישראל.</h3>
          <small-section data-name="נהלי כשרות">
            
            <a href="nohal-misadot.pdf" target="_blank" class="menu">נוהל מסעדות</a>
            <a href="nohal-reshatot.pdf" target="_blank" class="menu">נוהל רשתות שיווק</a>
            <a href="nohal-eitliz.pdf" target="_blank" class="menu">נוהל אטליזים</a>
            <a href="nohal-ulamot.pdf" target="_blank" class="menu">נוהל אולמות</a>
            <a href="nohal-hotel.pdf" target="_blank" class="menu">נוהל בתי מלון</a>
            <a href="nohal-kundi.pdf" target="_blank" class="menu">נוהל קונדיטוריות</a>
            <a href="nohal-catering.pdf" target="_blank" class="menu">נוהל קייטרינג</a>
          </small-section>
          <div>
            <img src="/images/books.jpg" class="post" alt="ספרים">
          </div>
        </div>
      
    