<script src="/assets/js/tefilin-questionnaire.js" defer=""></script>
<div id="load" data-title="מחלקת סת&quot;ם" data-notyf=""></div>

  <div class="split2">
    <small-section data-name="חדש במועצה הדתית בת ים">
      <div class="p-side-2 txt-right">
        <h4>נפתחה מחלקת לכשרות סת"ם</h4>
        <p class="m-0"><strong>
          בדיקת ספרי תורה תפילין ומזוזות <br>
          בפיקוח הרב הראשי לבת ים <br>
          הרה"ג אליהו בר שלום שליט"א <br>
          ובראשות הרב אברהם ברידס שליט"א <br>
        </strong></p>
        <h5>מזוזות</h5>
        <p>
          ניתן למסור כל יום בשעות הפעילות של המועצה הדתית.
          על כל בדיקת מזוזה ינתן ללקוח בית מזוזה חדש – חינם.
        </p>
        <h5>תפילין</h5>
        <p>
          עפ"י תיאום מראש בטלפון 0548438901
          <br>
          יש גמ"ח תפילין חלופיות עד סיום הבדיקה \ תיקון \ שיפוץ.
        </p>
        <h5>ספרי תורה</h5>
        <p>
          לגבאים בדיקה ותיקון אצלכם בבית הכנסת עפ"י תיאום מראש בטלפון.
        </p>
      </div>
    </small-section>
    <div>
      <div>
        <img src="/images/bdikat-mezuza.jpg" class="post" alt="בדיקת מזוזה">
      </div>
      <div>
        <p class="m-0">
          בדיקת מזוזות בתיאום מראש בטלפון: 054-8438901
        </p>
      </div>
    </div>
  </div>
  <div class="split2">
    <small-section data-name="בדיקת מזוזות לפני ר&quot;ה">
      <p class="txt-right">
        עניין בדיקת מזוזות לפני ראש השנה, עם הרב אברהם ברידס - אחראי על בדיקת מזוזות ותפילין במועצה הדתית
      </p>
      <iframe class="yt-embed post" src="https://www.youtube.com/embed/7L5q6orRF9w" frameborder="0" allow="accelerometer; autoplay;
      encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </small-section>
    <small-section data-name="מבצע בדיקת תפילין" class="mb-5">
      <h4>בדוק בעצמך את התפילין שלך</h4>
      <button id="start">הצג שאלון</button>
      <div class="post hidden" id="form">
        <h5>תפילין של ראש</h5>
        <div class="field">
          <p class="mb-0">האם החריץ המפריד בין בית לבית ניכר מבחוץ?</p>
          <button class="small">כן</button>
          <button class="wrong small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם החריץ מגיע עד התפר [עד התיתורא]?</p>
          <button class="small">כן</button>
          <button class="wrong small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם כל ארבעת הבתים שווים בגודלם?</p>
          <button class="small">כן</button>
          <button class="wrong small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם צורת אות שי"ן בולטת?</p>
          <button class="small">כן</button>
          <button class="wrong small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם קצה התחתון של האות שי"ן מגיע עד התיתורא?</p>
          <button class="small">כן</button>
          <button class="wrong small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם ניכר צבע השחור של האות שי"ן?</p>
          <button class="small">כן</button>
          <button class="wrong small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם רואים שער יוצא ממקום אחד התפרים?</p>
          <button class="small">כן</button>
          <button class="wrong small">לא</button>
        </div>
        <h5>תפילין של יד</h5>
        <div class="field">
          <p class="mb-0">האם קשר של האות יו"ד מונח קבוע צמוד לבית</p>
          <button class="small">כן</button>
          <button class="wrong small">לא</button>
        </div>
        <h5>משותף לשניהם</h5>
        <div class="field">
          <p class="mb-0">האם הפינות של בתי התפילין מרובעות?</p>
          <button class="small">כן</button>
          <button class="wrong small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם הבתים מרובעים?</p>
          <button class="small">כן</button>
          <button class="wrong small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם התיתורא [מושב הבית] מרובעת?</p>
          <button class="small">כן</button>
          <button class="wrong small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם התפירות למעלה ולמטה מרובעות?</p>
          <button class="small">כן</button>
          <button class="wrong small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם ניכר צבע השחור בתפילין?</p>
          <button class="small">כן</button>
          <button class="wrong small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם יש בתיתורא קילופים בצבע [מצוי]?</p>
          <button class="wrong small">כן</button>
          <button class="small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם אחד מחוטי תפירה למעלה או למטה קרוע?</p>
          <button class="wrong small">כן</button>
          <button class="small">לא</button>
        </div>
        <h5>רצועות התפילין</h5>
        <div class="field">
          <p class="mb-0">האם רצועות התפילין שחורות כהלכה?</p>
          <button class="small">כן</button>
          <button class="wrong small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם יש מקומות בהן מתקלף הצבע [מצוי]?</p>
          <button class="wrong small">כן</button>
          <button class="small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם יש מקומות בהם נשבר הצבע [מצוי]?</p>
          <button class="wrong small">כן</button>
          <button class="small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם רוחב הרצועה לפחות 1 ס"מ?</p>
          <button class="small">כן</button>
          <button class="wrong small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם אורך רצועה של ראש מגיע עד הטבור לפחות?</p>
          <button class="small">כן</button>
          <button class="wrong small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם אורך רצועה של יד מגיע עד אחרי הכריכות באצבע?</p>
          <button class="small">כן</button>
          <button class="wrong small">לא</button>
        </div>
        <div class="field">
          <p class="mb-0">האם היקף הרצועה בתפילין של ראש גדול והבית יורד על המצח?</p>
          <button class="wrong small">כן</button>
          <button class="small">לא</button>
        </div>
        <button id="end" class="disabled">סיום</button>
        <h4 id="no-check" class="hidden">✔️
          מהתשובות שענית, עושה רושם שהתפילין שלך בסדר גמור. אף על פי כן, תמיד טוב לבדוק אותן ליתר ביטחון.
          <br>
          זכור: בתפילין, 99% כשר, זה 100% פסול.
        </h4>
        <h4 id="go-check" class="hidden">❌
          לפי התשובות שענית, אתה חייב למסור את התפילין שלך לבדיקה במועצה הדתית, או במקום אחר עם פיקוח.
          <br>
          זכור: בתפילין, 99% כשר, זה 100% פסול.
        </h4>
      </div>
    </small-section>
  </div>
  <div class="split2 mb-5">
    <small-section data-name="הידור לתוספת מצווה" class="txt-right">
      <ul>
        <li>חוט התפירה בתפילין של ראש עובר בין בית לבית</li>
        <li>כל ריבוע [הבית התיתורא והתפירות] יהיה מקביל לשאר הריבועים</li>
        <li>תפילין מעור בהמה גסה</li>
        <li>רצועות עבודת יד</li>
        <li>רצועות מושחרות משני הצדדים</li>
        <li>ריבוע רגל או יד</li>
        <li>בתי הראש פרודים עד התפר וללא הדבקה</li>
        <li>התפילין עשויות מעור אחד גם הבית וגם התיתורא</li>
        <li>קשר היו"ד צמוד לבית גם כשהתפילין בתוך הכיס</li>
      </ul>
    </small-section>
    <small-section data-name="בדיקת טלית קטן וגדול" class="txt-right">
      <h4>ניתן להביא טלית  קטן או גדול לבדיקה</h4>
      <ul>
        <li>שיעור הטלית לצאת י"ח המצווה</li>
        <li>בדיקת חוטי הציצית</li>
        <li>בדיקת הפינות שיהיו מרובעים ולא עגולים</li>
        <li>עבודת יד או עבודת מכונה</li>
        <li>בד מצמר או מסוג אחר</li>
      </ul>
    </small-section>
  </div>
  <small-section data-name="בחזקת כשרות - תפילין">
    <a href="/assets/pdf/tefilin.pdf" class="menu" target="_blank">
      עלון בחזקת כשרות - תפילין          
    </a>
  </small-section>
      

