<div id="load" data-title="הצטרפות לשומרי שמיטה"></div>
    
      <p>
        שנת תשפ"ב היא שנת שמיטה. אלפי חקלאים בארץ ישראל יעמדו בנסיון וישביתו את הקרקעות מעבודה בדיוק כפי מצוות התורה.
      </p>
      <p>
        אבל אלפים אחרים מתנדנדים ומתקשים. אנחנו יכולים לעזור להם בפרנסה בשנה זו. כך שהננו זוכים גם להציל יהודי, גם להציל קרקעות רבות ברחבי הארץ מעבודה וחילול השמיטה, וגם לזכות בפועל במצוה נדירה של קיום שביתת הארץ, אע"פ שאין לנו שדה ולא פרדס.
      </p>
      <h3>איך עושים את זה?</h3>
      <p>
        קונים – למשך שנת השמיטה – שטח מסויים באדמת החקלאי, וכך יוכל בבוא השמיטה להפקיר את הקרקעות כדין, ולזכות לכל הנ"ל. כל יהודי קונה 'אמה' או 'מטר' או יותר, כרצונו, בתשלום קטן למשך חודשי השמיטה, וזוכה בכל הנ"ל.
      </p>
      <p>
        למועצה הדתית אין כל קשר או טובת הנאה במכירות אלו, והקישורים כאן הם לזיכוי תושבי עירנו, ולחיבורים אל עשיית מצוות.
      </p>
      <p>
        ניתן להצטרף אצל כל אחד מהכתובות הנ"ל (גופים נפרדים, ואפשר לבחור מה שרוצים, כולם מכוונים לאותה מטרה, להציל כמה שיותר קרקעות מעבודה אסורה בשמיטה).
      </p>
      <p>
        אשרי הזוכים להוסיף עוד מצוות, ובפרט מצוה נדירה כמצווה זו.
      </p>
      <h3>מכון "ושבתה הארץ"</h3>
      <p>
        רח' אליעזר ברגמן 16,
        טלפון: <a href="tel:0778044019">077-8044019</a>,
        מייל: <a href="mailto:info@shemita.co.il">info@shemita.co.il</a>,
        קישור ישיר: <a href="https://shemita.co.il">https://shemita.co.il</a>
      </p>
      <h3>"קרן השביעית"</h3>
      <p>
        מוקד <a href="tel:1800300544">1800-300-544</a>,
        קניית דונמים שלמים של אדמה.
        אתר: <a href="https://keren7.com">https://keren7.com</a>
      </p>
      <h3>"ברכת הארץ"</h3>
      <p>
        טלפון: <a href="tel:025700364">02-5700364</a>,
        אתר: <a href="https://nirshamti.co.il">https://nirshamti.co.il</a>
      </p>
    
  