<div id="load" data-title="שיעורי תורה לנוער, ילדים ונשים"></div>
      
        <a name="top"></a>
        
        <small-section class="mb-2 container" data-name="ניווט">
          
          <div class="flex">
            <a href="#women" class="cta">נשים ונערות</a>
            <a href="#noar" class="cta">נוער</a>
            <a href="#children" class="cta">ילדים</a>
            <a href="#girls" class="cta">ילדות</a>
          </div>
        </small-section>
        <a name="women"></a>
        <h3>שיעורי נשים ונערות</h3>
        <h4>יום ראשון</h4>
        <table class="shadow container">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב/הרבנית
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              10:00
            </td>
            <td>
              12:30
            </td>
            <td>
              תהלים, נשמת, פרשת שבוע, הלכה, ברכה, ישועות
            </td>
            <td>
              הרבנית בירן (בביוף)
            </td>
            <td>
              משפ' פוטוק רח' שפירא 21 קומה ג'
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              17:30
            </td>
            <td>
              17:45
            </td>
            <td>
              הלכה, מוסר
            </td>
            <td>
              הרבנית אשר
            </td>
            <td>
              שבת אחים (מחרוזת)
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="2">
              שעה לפני מנחה
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              קדושי עם ישראל
            </td>
            <td>
              גם ברוסית
            </td>
            <td>
              19:30 עד 21:30
            </td>
          </tr>
          <tr>
            <td>
              18:00
            </td>
            <td>
              20:00
            </td>
            <td>
              מועדון נשים מבוגרות
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              הראל
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              19:00
            </td>
            <td>
              20:00
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              הרבנית בן משה
            </td>
            <td>
              זכרון משה
            </td>
            <td>
              בחדר
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              20:00
            </td>
            <td>
              21:00
            </td>
            <td>
              נ"ך
            </td>
            <td>
              הרב נריה מגנזי
            </td>
            <td>
              אורות התורה
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td rowspan="2">
              20:30
            </td>
            <td rowspan="2">
              21:30
            </td>
            <td>
              הלכה, פרשת שבוע
            </td>
            <td>
              הרב יצחק רחימי
            </td>
            <td>
              בית חב"ד
            </td>
            <td>
              בעזרת נשים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              השקפה
            </td>
            <td>
              הרבנית הכהן
            </td>
            <td>
              בית רבינו
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td rowspan="3">
              21:00
            </td>
            <td rowspan="3">
              22:30
            </td>
            <td>
              השקפה, הלכה
            </td>
            <td>
              הרב ישראל לוגאסי
            </td>
            <td>
              משכן שמעון
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              חשיבה חיובית
            </td>
            <td>
              הרבנית בלייש
            </td>
            <td>
              משמ"א - היושבת בגנים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              עדת ישורון
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
        </table>
        <h4>יום שני</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב/הרבנית
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              9:00
            </td>
            <td>
              13:00
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              רבנים שונות
            </td>
            <td>
              תפארת בנים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              11:30
            </td>
            <td>
              13:30
            </td>
            <td>
              חסידות, ליקוטי תורה
            </td>
            <td>
              הרב חיים ציק
            </td>
            <td>
              בית חב"ד
            </td>
            <td>
              בעזרת נשים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="2">
              שעה לפני מנחה
            </td>
            <td>
              הלכה, פרשת שבוע
            </td>
            <td>
              הרב יצחק ושדי
            </td>
            <td>
              אגודת נצח
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              18:00
            </td>
            <td>
              19:00
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              מאיר יגודייב
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              19:00
            </td>
            <td>
              20:00
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              זכרון משה
            </td>
            <td>
              בחדר
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              19:30
            </td>
            <td>
              21:00
            </td>
            <td>
              הלכה, מוסר
            </td>
            <td>
              הרבנית ל.זר
            </td>
            <td>
              פאר יפית
            </td>
            <td>
              בבית המדרש של הישיבה
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              20:30
            </td>
            <td>
              21:30
            </td>
            <td>
              תניא
            </td>
            <td>
              הרב חיים ציק
            </td>
            <td>
              בית חב"ד
            </td>
            <td>
              בעזרת נשים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              21:00
            </td>
            <td>
              21:30
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              הרבנית אדטו
            </td>
            <td>
              אהל אברהם
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
        </table>
        <h4>יום שלישי</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב/הרבנית
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              10:00
            </td>
            <td>
              14:00
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              רבנים שונים
            </td>
            <td>
              תפארת בנים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              11:00
            </td>
            <td>
              12:30
            </td>
            <td>
              הלכה, הבית היהודי
            </td>
            <td>
              הרבנית ציק
            </td>
            <td>
              בית חב"ד
            </td>
            <td>
              בעזרת נשים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              16:00
            </td>
            <td>
              19:30
            </td>
            <td>
              הלכה, ענייני דיומא
            </td>
            <td>
              הרב אברהם דיין
              הרב אלעזר מושייב, הרבנית חרזי
            </td>
            <td>
              ליבורנו 1
            </td>
            <td>
              תהילים לפני, כולל סעודה
              לתיאום:
              050-6316696
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              18:30
            </td>
            <td>
              19:30
            </td>
            <td>
              תנ"ך
            </td>
            <td>
              המרצה וו'דוביץ'
            </td>
            <td>
              ליבורנו 1
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              19:45
            </td>
            <td>
              21:00
            </td>
            <td>
              הלכה, מוסר
            </td>
            <td>
              הרבנית אלבז
            </td>
            <td>
              בית יוסף
            </td>
            <td>
              באולם
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              20:00
            </td>
            <td>
              21:30
            </td>
            <td>
              מוסר
            </td>
            <td>
              הרבנית ירדני
            </td>
            <td>
              נצח ישראל
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              20:15
            </td>
            <td>
              21:15
            </td>
            <td>
              ספר הכוזרי
            </td>
            <td>
              הרב דוד חי הכהן
            </td>
            <td>
              אורות התורה
            </td>
            <td>
              באולם צור
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td rowspan="2">
              20:30
            </td>
            <td rowspan="2">
              21:30
            </td>
            <td>
              פרשת שבוע ע"פ חסידות ברסלב
            </td>
            <td>
              הרב נתן נחום
            </td>
            <td>
              בית רבינו
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              חסידות, ענייני דיומא
            </td>
            <td>
              הרב ישראל דורון
            </td>
            <td>
              חב"ד האוס
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              21:00
            </td>
            <td>
              22:30
            </td>
            <td>
              חינוך ילדים, טהרת המשפחה, שלום בית
            </td>
            <td>
              הרבנית רוזן
            </td>
            <td>
              אשרי העם
            </td>
            <td>
              054-2919497
              אחת לחודש
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
        </table>
        <h4>יום רביעי</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב/הרבנית
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              9:00
            </td>
            <td>
              13:00
            </td>
            <td>
              ענייני דיומא, כללי
            </td>
            <td>
              רבנים שונים
            </td>
            <td>
              בית אל
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              11:00
            </td>
            <td>
              14:00
            </td>
            <td>
              נושאים שונים
            </td>
            <td>
              הרבנית ארביב
            </td>
            <td>
              סיני
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              11:30
            </td>
            <td>
              13:30
            </td>
            <td>
              חסידות, ליקוטי תורה
            </td>
            <td>
              הרב חיים ציק
            </td>
            <td>
              בית חב"ד
            </td>
            <td>
              בעזרת נשים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              18:15
            </td>
            <td>
              19:15
            </td>
            <td>
              נ"ך
            </td>
            <td>
              הרב יעקב בסו
            </td>
            <td>
              משכן נתן
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              20:00
            </td>
            <td>
              21:00
            </td>
            <td>
              תניא
            </td>
            <td>
              הרבנית מלכה
            </td>
            <td>
              בית משיח
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              20:30
            </td>
            <td>
              21:30
            </td>
            <td>
              פרשת שבוע
            </td>
            <td>
              הרב אבי אקרמן
            </td>
            <td>
              בית חב"ד
            </td>
            <td>
              בעזרת נשים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              20:45
            </td>
            <td>
              21:45
            </td>
            <td>
              סדנאות בנושאים שונים
            </td>
            <td>
              הרבנית מורזס
            </td>
            <td>
              צאן קדושים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              21:00
            </td>
            <td>
              21:30
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              הרבנית ישראל
            </td>
            <td>
              אהל אברהם
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              21:00
            </td>
            <td>
              22:00
            </td>
            <td>
              כללי
            </td>
            <td>
              הרבנית קאשי
            </td>
            <td>
              היכל הקודש
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
        </table>
        <h4>יום שבת</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב/הרבנית
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              11:00
            </td>
            <td>
              13:00
            </td>
            <td>
              תהלים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              בית ישראל (לוב)
            </td>
            <td>
              באולם, עם הילדות
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              11:30
            </td>
            <td>
              13:00
            </td>
            <td>
              פרשת שבוע
            </td>
            <td>
              הרבנית אברהם
            </td>
            <td>
              אהל מועד
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              12:45
            </td>
            <td>
              13:30
            </td>
            <td>
              אורחות צדיקים
            </td>
            <td>
              הרבנית סלוטין
            </td>
            <td>
              אור חדש
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              14:00
            </td>
            <td>
              15:00
            </td>
            <td>
              תהלים
            </td>
            <td>
              הרבנית מויאל
            </td>
            <td>
              מעיינות החיים
            </td>
            <td>
              בגינה, עם הילדות
            </td>
            <td>
              13:00 עד 14:00
            </td>
          </tr>
          <tr>
            <td>
              14:30
            </td>
            <td>
              16:00
            </td>
            <td>
              הלכה, פרשת שבוע
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              משכן נתן
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              14:00 עד 15:15
            </td>
          </tr>
          <tr>
            <td>
              15:00
            </td>
            <td>
              16:00
            </td>
            <td>
              פרשת שבוע
            </td>
            <td>
              הרבנית מזרחי
            </td>
            <td>
              רבי מאיר בעל הנס
            </td>
            <td>
              במדרשיה
            </td>
            <td>
              14:00 עד 15:00
            </td>
          </tr>
          <tr>
            <td>
              15:30
            </td>
            <td>
              16:30
            </td>
            <td>
              מוסר
            </td>
            <td>
              הרבנית לחיאני
            </td>
            <td>
              בית מדרש - מבקשי ה'
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              16:00
            </td>
            <td>
              17:00
            </td>
            <td>
              פרשת שבוע
            </td>
            <td>
              הרב מאיר אבוטבול
            </td>
            <td>
              בית משיח
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              16:15
            </td>
            <td>
              17:30
            </td>
            <td>
              פרשת שבוע
            </td>
            <td>
              הרבנית עמרני ורבניות שונות
            </td>
            <td>
              שבת אחים (בזל)
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              16:30
            </td>
            <td>
              18:00
            </td>
            <td>
              פרשת שבוע, מוסר, הלכה
            </td>
            <td>
              הרבנית ל.זר
            </td>
            <td>
              פאר יפית
            </td>
            <td>
              בעזרת נשים
            </td>
            <td>
              15:00 עד 16:15
            </td>
          </tr>
          <tr>
            <td colspan="2" rowspan="4">
              שעה לפני מנחה
            </td>
            <td>
              הלכות שבת, מוסר
            </td>
            <td>
              הרב אליהו בר שלום
              והרבנית בר שלום
            </td>
            <td>
              מרום ישראל
            </td>
            <td>
              בעזרת נשים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              מוסר, פרשת שבוע
            </td>
            <td>
              הרבנית זר
            </td>
            <td>
              פאר יפית
            </td>
            <td>
              בעזרת נשים
            </td>
            <td>
              גם לנערות
            </td>
          </tr>
          <tr>
            <td>
              נ"ך, מוסר, הלכה
            </td>
            <td>
              הרבנית ברמי
            </td>
            <td>
              שלום ורעות
            </td>
            <td>
              בשפה הצרפתית
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              פרשת שבוע, הלכה
            </td>
            <td>
              הרבנית כרובי,
              הרבנית לוי
            </td>
            <td>
              תפילת אחים
            </td>
            <td>
              בעזרת נשים בחדר
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              אחרי מנחה
            </td>
            <td>
              ערבית
            </td>
            <td>
              תהלים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              בעזרת נשים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="2">
              אחרי סעודה שלישית
            </td>
            <td>
              הלכה, ענייני דיומא
            </td>
            <td>
              הרבנית ל.זר
            </td>
            <td>
              פאר יפית
            </td>
            <td>
              בעזרת נשים
            </td>
            <td>
              גם לנערות
            </td>
          </tr>
        </tbody>
        </table>
        <a name="noar"></a>
        <h3>שיעורי נוער</h3>
        <h4>יום ראשון</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              19:30
            </td>
            <td>
              21:00
            </td>
            <td>
              פרשת שבוע, הלכה, מוסר
            </td>
            <td>
              הרב ניסים בוטון
            </td>
            <td>
              מרכז הנוער הגיבורים
            </td>
            <td>
              למתחזקים מעל גיל 18
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
        </table>
        <h4>יום שני</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              16:00
            </td>
            <td>
              17:30
            </td>
            <td>
              גמרא, הלכה, מוסר
            </td>
            <td>
              הרב ניסים איטח
            </td>
            <td>
              אורות התחיה
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              19:30
            </td>
            <td>
              21:00
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              הרב אהרון בסו
            </td>
            <td>
              פאר יפית
            </td>
            <td>
              לצעירים, מדרשת ישמח אב
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              20:30
            </td>
            <td>
              21:30
            </td>
            <td>
              עין יעקב
            </td>
            <td>
              הרב יצחק בר שלום
            </td>
            <td>
              מרום ישראל
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              21:00
            </td>
            <td>
              22:00
            </td>
            <td>
              חיזוק, פרשת שבוע
            </td>
            <td>
              הרב יניב אברהם
            </td>
            <td>
              אור החמה
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
        </table>
        <h4>יום שלישי</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              16:00
            </td>
            <td>
              17:30
            </td>
            <td>
              גמרא, הלכה, מוסר
            </td>
            <td>
              הרב ניסים איטח
            </td>
            <td>
              אורות התחיה
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td rowspan="2">
              19:30
            </td>
            <td rowspan="2">
              21:00
            </td>
            <td>
              פרשת שבוע, הלכה, מוסר
            </td>
            <td>
              הרב ניסים בוטון
            </td>
            <td>
              מרכז הנוער הגיבורים
            </td>
            <td>
              למתחזקים מעל גיל 18
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              &nbsp;
            </td>
            <td>
              הרב אהרון בסו
            </td>
            <td>
              פאר יפית
            </td>
            <td>
              לבוגרים, מדרשת ישמח אב
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td rowspan="2">
              20:30
            </td>
            <td rowspan="2">
              21:30
            </td>
            <td>
              חברותות לנוער
            </td>
            <td>
              הרב יהודה בר שלום
            </td>
            <td rowspan="2">
              מרום ישראל
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              20:00 עד 21:00
            </td>
          </tr>
          <tr>
            <td>
              פרשת שבוע, חיזוק, מוסר
            </td>
            <td>
              הרב אברהם פלק
            </td>
            <td>
              ע"י לב לאחים
            </td>
            <td>
              20:00 עד 21:00
            </td>
          </tr>
        </tbody>
        </table>
        <h4>יום רביעי</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              16:00
            </td>
            <td>
              17:30
            </td>
            <td>
              גמרא, הלכה, מוסר
            </td>
            <td>
              הרב ניסים איטח
            </td>
            <td>
              אורות התחיה
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              19:30
            </td>
            <td>
              21:00
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              הרב אהרון בסו
            </td>
            <td>
              פאר יפית
            </td>
            <td>
              לצעירים, מדרשת ישמח אב
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              20:30
            </td>
            <td>
              21:30
            </td>
            <td>
              חברותות לנוער
            </td>
            <td>
              הרב יהודה בר שלום
            </td>
            <td>
              מרום ישראל
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              20:00 עד 21:00
            </td>
          </tr>
        </tbody>
        </table>
        <h4>יום חמישי</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              16:00
            </td>
            <td>
              17:30
            </td>
            <td>
              גמרא, הלכה, מוסר
            </td>
            <td>
              הרב ניסים איטח
            </td>
            <td>
              אורות התחיה
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              18:00
            </td>
            <td>
              20:00
            </td>
            <td>
              גמרא
            </td>
            <td>
              לימוד בחברותות
            </td>
            <td>
              שבתאי לאון
            </td>
            <td>
              לבחורי ישיבות
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
        </table>
        <h4>יום שבת</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              16:00
            </td>
            <td>
              18:00
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              הרב אהרון בסו
            </td>
            <td>
              פאר יפית
            </td>
            <td>
              מדרשת ישמח אב
            </td>
            <td>
              שעה וחצי לפני מנחה
            </td>
          </tr>
        </tbody>
        </table>
        <h3>מועדנית למתחזקים</h3>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              &nbsp;
            </th>
            <th>
              שם הרב
            
            </th><td>
              טלפון
            
            </td><th>
              זמן פעילות
            </th>
            <th>
              פירוט
            </th>
          </tr>
          <tr>
            <td>
              מרכז הנוער הגיבורים "אור ישראלי"
            </td>
            <td>
              הרב ניסים בוטון
              הרב אלי-חי יצחקוב
              הרב רן פלח
              הרב אדיר סיני
            </td>
            <td>
              054-8464380
              &nbsp;
              &nbsp;
            </td>
            <td>
              א-ד 16:30-19:30
              &nbsp;
            </td>
            <td>
              לימודי יהדות, משחקיה, ארוחת ערב, קבוצת כדורגל, סנוקר אורגינל, טניס שולחן, סוני-4, מכונת ברד וגלידה אמריקאית, הכנה לצבא ועוד
              גיל 13-15
            </td>
          </tr>
        </tbody>
        </table>
        <h3>מדרשיות נשים ונערות</h3>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שם מדרשה
            </th>
            <th>
              יום
            </th>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              שם הרבנית
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              טלפון
            </th>
            <th>
              הערות
            </th>
          </tr>
          <tr>
            <td>
              למען שמו באהבה
            </td>
            <td>
              א,ב,ד
            </td>
            <td>
              20:30
            </td>
            <td>
              22:00
            </td>
            <td>
              הרבנית פרקש
            </td>
            <td>
              הרצל 58
              (בי"ס תחכמוני)
            </td>
            <td>
              052-7684085
            </td>
            <td>
              ימי א,ב,ד - לרווקות
              יום ב - לנשואות
            </td>
          </tr>
          <tr>
            <td>
              שירת דקלה
            </td>
            <td>
              א-ה
            </td>
            <td>
              20:30
            </td>
            <td>
              23:00
            </td>
            <td>
              הרבנית קלודין
            </td>
            <td>
              ביאליק 28 (בי"ס ציפורי)
            </td>
            <td>
              050-4150495
            </td>
            <td>
              בחורף: 20:00 עד 23:00
            </td>
          </tr>
          <tr>
            <td>
              רגע של איכות
            </td>
            <td>
              ד
            </td>
            <td>
              10:00
            </td>
            <td>
              12:45
            </td>
            <td>
              הרבנית כהן
            </td>
            <td>
              בית אל
            </td>
            <td>
              053-3114555
            </td>
            <td>
              לנשואות, כולל כיבוד
            </td>
          </tr>
          <tr>
            <td>
              ישמח אב
            </td>
            <td>
              ב, שבת
            </td>
            <td>
              פירוט שיעורי נשים
            </td>
            <td>
              הרבנית ל.זר
            </td>
            <td>
              פאר יפית
            </td>
            <td>
              &nbsp;03-5528950
              &nbsp;
            </td>
            <td>
              לרווקות ונשואות
            </td>
          </tr>
          <tr>
            <td>
              תהילה למשה
            </td>
            <td>
              ב
            </td>
            <td>
              11:00
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              הרבנית כהן
              &nbsp;
            </td>
            <td>
              הפלמ"ח 17 עמידר
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              תהילה למשה
            </td>
            <td>
              ב
            </td>
            <td>
              16:00
              &nbsp;
            </td>
            <td>
              19:00
            </td>
            <td>
              מרצות ורבנים
            </td>
            <td>
              הפלמ"ח 17 עמידר
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
        </table>
        <h3>בתי מדרש "לב לאחים" בת ים</h3>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              יום
            </th>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              מיקום
            </th>
            <th>
              רחוב
            </th>
            <th>
              רכז
            </th>
            <th>
              נייד
            </th>
            <th>
              קהל
            </th>
          </tr>
          <tr>
            <td>
              א
            </td>
            <td>
              20:00
            </td>
            <td>
              21:00
            </td>
            <td>
              ביהכנ"ס "שער ציון"
            </td>
            <td>
              חשמונאים 27
            </td>
            <td>
              קאהן אהרון
            </td>
            <td>
              053-3192896
            </td>
            <td rowspan="4">
              גברים
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              ב
            </td>
            <td>
              20:00
            </td>
            <td>
              21:00
            </td>
            <td>
              ביהכנ"ס "עדת ישורון"
            </td>
            <td>
              כצנלסון 39
            </td>
            <td>
              וינטרוב בנצי
            </td>
            <td>
              052-7657707
            </td>
          </tr>
          <tr>
            <td>
              ג
            </td>
            <td>
              20:00
            </td>
            <td>
              21:00
            </td>
            <td>
              בית כנסת "רמות ים"
            </td>
            <td>
              בר אילן 27
            </td>
            <td>
              זלץ אלי
            </td>
            <td>
              054-8441617
            </td>
          </tr>
          <tr>
            <td>
              ד
            </td>
            <td>
              20:30
            </td>
            <td>
              21:00
            </td>
            <td>
              ביהכנ"ס "שער ציון"
            </td>
            <td>
              חשמונאים 27
            </td>
            <td>
              כהן עודד
            </td>
            <td>
              054-8475670
            </td>
          </tr>
          <tr>
            <td>
              ג, ד
            </td>
            <td>
              20:00
            </td>
            <td>
              21:00
            </td>
            <td>
              בית כנסת "מרום ישראל"
            </td>
            <td>
              שד' העצמאות 16
            </td>
            <td>
              בר שלום יהודה
            </td>
            <td>
              054-8406474
            </td>
            <td rowspan="2">
              נוער
            </td>
          </tr>
          <tr>
            <td>
              ה
            </td>
            <td>
              21:00
            </td>
            <td>
              22:00
            </td>
            <td>
              בית כנסת "אור החיים"
            </td>
            <td>
              הפלמ"ח 16
            </td>
            <td>
              אליהו אוחנה
            </td>
            <td>
              054-8439384
            </td>
          </tr>
        </tbody>
        </table>
        <h3>בתי מדרש "אל המעיין" בת ים רכז ראשי אל המעיין</h3>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              יום
            </th>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              מיקום
            </th>
            <th>
              רחוב
            </th>
            <th>
              רב
            </th>
            <th>
              נייד
            </th>
          </tr>
          <tr>
            <td>
              א-ה
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              ביהכנ"ס בית יעקב
            </td>
            <td>
              סמטת הכרמל 6
            </td>
            <td>
              רונן מגן
            </td>
            <td>
              052-7627367
            </td>
          </tr>
          <tr>
            <td>
              א-ה
            </td>
            <td>
              20:00
            </td>
            <td>
              21:30
            </td>
            <td>
              ביהכנ"ס צאן קדושים
            </td>
            <td>
              ליויתן 4
            </td>
            <td>
              גל חיים חג'בי
            </td>
            <td>
              050-4189588
            </td>
          </tr>
          <tr>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              ביהכנ"ס פאר יפית
            </td>
            <td>
              ליבורנו 36
            </td>
            <td>
              אהרן בסו
            </td>
            <td>
              054-7820439
            </td>
          </tr>
          <tr>
            <td>
              3 פעמים בשבוע
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              ביהכנ"ס מקדש מלך
            </td>
            <td>
              חביבה רייך 3
            </td>
            <td>
              רונן מגן
            </td>
            <td>
              052-7627367
            </td>
          </tr>
        </tbody>
        </table>
        <a name="children"></a>
        <h3>שיעורי ילדים</h3>
        <h4>יום ראשון</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב / הרבנית
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              16:30
            </td>
            <td>
              17:30
            </td>
            <td>
              תהלים, מוסר, סיפורים
            </td>
            <td>
              הרבנית זר
            </td>
            <td>
              פאר יפית
            </td>
            <td>
              בישיבה, גם לילדות
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              17:30
            </td>
            <td>
              18:30
            </td>
            <td>
              משניות
            </td>
            <td>
              הרב מאור, הרב אסף
            </td>
            <td>
              אהל אברהם
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              17:45
            </td>
            <td>
              18:30
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              הרב איתמר מיימון, הרב אריאל מלכה
            </td>
            <td>
              חיים שאל
            </td>
            <td>
              מתמידים לילדים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
        </table>
        <h4>יום שני</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב / הרבנית
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              17:30
            </td>
            <td>
              18:30
            </td>
            <td>
              טעמי המקרא, פיוטים
            </td>
            <td>
              הרב אליהו אוחנה
            </td>
            <td>
              אור החיים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              18:00 עד 19:00
            </td>
          </tr>
          <tr>
            <td>
              17:30
            </td>
            <td>
              18:30
            </td>
            <td>
              תהילים, פרשת שבוע
            </td>
            <td>
              הרב רוני דוד
            </td>
            <td>
              מרום ישראל
            </td>
            <td>
              ע"י יד -אברהם
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              17:45
            </td>
            <td>
              18:30
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              הרב איתמר מיימון,
              הרב אריאל מלכה
            </td>
            <td>
              חיים שאל
            </td>
            <td>
              מתמידים לילדים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
        </table>
        <h4>יום שלישי</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב / הרבנית
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              16:30
            </td>
            <td>
              17:30
            </td>
            <td>
              תהלים, מוסר, סיפורים
            </td>
            <td>
              הרבנית זר
            </td>
            <td>
              פאר יפית
            </td>
            <td>
              בישיבה, גם לילדות
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              17:45
            </td>
            <td>
              18:30
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              הרב איתמר מיימון, הרב אריאל מלכה
            </td>
            <td>
              חיים שאל
            </td>
            <td>
              מתמידים לילדים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              17:30
            </td>
            <td>
              18:30
            </td>
            <td>
              תהלים, פרשת שבוע
            </td>
            <td>
              הרב רוני דוד
            </td>
            <td>
              מרום ישראל
            </td>
            <td>
              ע"י "יד - אברהם"
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              18:00
            </td>
            <td>
              19:00
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              הרב שלמה דוגר
            </td>
            <td>
              שבתאי לאון
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
        </table>
        <h4>יום רביעי</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב / הרבנית
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td rowspan="2">
              17:30
            </td>
            <td rowspan="2">
              18:30
            </td>
            <td>
              משניות
            </td>
            <td>
              הרב מאור, הרב אסף
            </td>
            <td>
              אהל אברהם
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              תהלים, פרשת שבוע
            </td>
            <td>
              הרב רוני דוד
            </td>
            <td>
              מרום ישראל
            </td>
            <td>
              ע"י "יד - אברהם"
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              17:30
            </td>
            <td>
              18:30
            </td>
            <td>
              תהילים, פרשת שבוע
            </td>
            <td>
              הרב רוני דוד
            </td>
            <td>
              מרום ישראל
            </td>
            <td>
              ע"י יד -אברהם
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              17:45
            </td>
            <td>
              18:30
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              הרב איתמר מיימון, הרב אריאל מלכה
            </td>
            <td>
              חיים שאל
            </td>
            <td>
              מתמידים לילדים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
        </table>
        <h4>יום חמישי</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב / הרבנית
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              17:45
            </td>
            <td>
              18:30
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              הרב איתמר מיימון, הרב אריאל מלכה
            </td>
            <td>
              חיים שאל
            </td>
            <td>
              מתמידים לילדים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              18:00
            </td>
            <td>
              19:30
            </td>
            <td>
              צבאות ה'
            </td>
            <td>
              הרב שמואל זלמנוב
            </td>
            <td>
              חב"ד רמת הנשיא
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
        </table>
        <h4>יום שישי</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב / הרבנית
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              13:00
            </td>
            <td>
              14:00
            </td>
            <td>
              תהלים
            </td>
            <td>
              הרב ציון מיימון
            </td>
            <td>
              סיני
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="2">
              אחרי מנחה
            </td>
            <td>
              קבלת שבת
            </td>
            <td>
              הרב נתן נוה
            </td>
            <td>
              היכל הקודש
            </td>
            <td>
              כ-30 דקות
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="2">
              שעה לפני קבלת שבת
            </td>
            <td>
              שניים מקרא ואחד תרגום
            </td>
            <td>
              הרב נריה מגנזי
            </td>
            <td>
              אורות התורה
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="2">
              30 דקות לפני ערבית
            </td>
            <td>
              קבלת שבת
            </td>
            <td>
              הרב חיים סויסה
            </td>
            <td>
              בית אל
            </td>
            <td>
              גם לילדות
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="2">
              20 דקות לפני ערבית
            </td>
            <td>
              קבלת שבת
            </td>
            <td>
              הרב דוד יצחק
            </td>
            <td>
              ותיקים
            </td>
            <td>
              גם לילדות
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="2">
              אחרי ערבית
            </td>
            <td>
              אבות ובנים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              בית יעקב
            </td>
            <td>
              כ- 30 דקות, בכולל הגדול
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
        </table>
        <h4>יום שבת</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב / הרבנית
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              11:00
            </td>
            <td>
              13:00
            </td>
            <td>
              תהלים
            </td>
            <td>
              הרב ציון
            </td>
            <td>
              בית ישראל (לוב)
            </td>
            <td>
              בחדר
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              11:30
            </td>
            <td>
              12:15
            </td>
            <td>
              תהלים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              שעשוע
            </td>
            <td>
              ע"י יד-אברהם
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              12:30
            </td>
            <td>
              13:30
            </td>
            <td>
              תהלים, פרשת שבוע
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              בית חב"ד
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              13:00
            </td>
            <td>
              14:30
            </td>
            <td>
              מוסר, תהלים
            </td>
            <td>
              הרב אביב יפתח
            </td>
            <td>
              שבת אחים (בזל)
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td rowspan="5">
              13:30
            </td>
            <td rowspan="5">
              14:30
            </td>
            <td>
              זוהר לילדים
            </td>
            <td>
              הרב יובל כרמי
            </td>
            <td>
              אורות התחיה
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              משניות
            </td>
            <td>
              הרב כפיר נחום
            </td>
            <td>
              מבקשי ה'
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              תהלים
            </td>
            <td>
              הרב מיכאל פינטו
            </td>
            <td>
              ותיקים
            </td>
            <td>
              גם לילדות
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              תהלים
            </td>
            <td>
              הרב שיקו דנינו
            </td>
            <td>
              משמ"א - היושבת בגנים
            </td>
            <td>
              גם לילדות
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              תהלים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              מקדש מלך
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              13:30
            </td>
            <td>
              16:00
            </td>
            <td>
              תהלים, פרקי אבות
            </td>
            <td>
              רבנים שונים
            </td>
            <td>
              אור חדש
            </td>
            <td>
              ע"י משפחת פרץ
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              14:00
            </td>
            <td>
              14:30
            </td>
            <td>
              תהלים
            </td>
            <td>
              הרב יחזקאל בן ברוך
            </td>
            <td>
              אהל גד
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              13:45 עד 14:15
            </td>
          </tr>
          <tr>
            <td>
              14:00
            </td>
            <td>
              14:45
            </td>
            <td>
              תהלים
            </td>
            <td>
              הרב מאור כהן
            </td>
            <td>
              בית אל
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              13:30 עד 14:15
            </td>
          </tr>
          <tr>
            <td rowspan="9">
              14:00
            </td>
            <td rowspan="9">
              15:00
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              הרב אלישיב
            </td>
            <td>
              אהבת ציון
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              13:00 עד 14:00
            </td>
          </tr>
          <tr>
            <td>
              תהלים, פרשת שבוע
            </td>
            <td>
              הרב יוסף איטח
            </td>
            <td>
              בית יוסף
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              13:00 עד 14:00
            </td>
          </tr>
          <tr>
            <td>
              תהלים
            </td>
            <td>
              הרב אילן שקרגי
            </td>
            <td>
              מעיינות החיים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              13:00 עד 14:00
            </td>
          </tr>
          <tr>
            <td>
              תהלים
            </td>
            <td>
              הרבנית אברג'יל
            </td>
            <td>
              רמות ים
            </td>
            <td>
              בעזרת נשים, גם לילדות
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              אבות ובנים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              רמות ים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              תהלים
            </td>
            <td>
              הרב עזרא דקסטרו
            </td>
            <td>
              שער ציון
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              14:30 עד 15:30
            </td>
          </tr>
          <tr>
            <td>
              תהלים
            </td>
            <td>
              הרב חנן מורדכיוב
            </td>
            <td>
              דניאל
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              תהלים
            </td>
            <td>
              הרב רוני דוד
            </td>
            <td>
              זכרון משה
            </td>
            <td>
              ע"י "יד-אברהם"
            </td>
            <td>
              13:30 עד 14:15
            </td>
          </tr>
          <tr>
            <td>
              תהלים
            </td>
            <td>
              הרב אלינדב עובדיה
            </td>
            <td>
              צאן קדושים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              14:00
            </td>
            <td>
              16:00
            </td>
            <td>
              פעילות
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              בני עקיבא רמת הנשיא
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              14:30
            </td>
            <td>
              15:30
            </td>
            <td>
              תהלים
            </td>
            <td>
              הרבנית שרם
            </td>
            <td>
              אורות התחיה
            </td>
            <td>
              גם לילדות
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              15:00
            </td>
            <td>
              16:30
            </td>
            <td>
              תהלים
            </td>
            <td>
              הרב אלדד
            </td>
            <td>
              קדושי עם ישראל
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              15:15
            </td>
            <td>
              16:15
            </td>
            <td>
              תהלים, פרשת שבוע
            </td>
            <td>
              הרב נתנאל בסו
            </td>
            <td>
              משכן נתן
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              15:30
            </td>
            <td>
              16:15
            </td>
            <td>
              תהלים
            </td>
            <td>
              הרב מיכאל ערב
            </td>
            <td>
              בוגרי בני עקיבא מרכז
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="2" rowspan="2">
              שעה ורבע לפני מנחה
            </td>
            <td>
              הלכה, פרשת שבוע
            </td>
            <td>
              הרב נקש
            </td>
            <td>
              מרום ישראל
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              תהלים
            </td>
            <td>
              הרב פנחס עטייה
            </td>
            <td>
              משכן שמעון
            </td>
            <td>
              כ-30 דקות
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="2">
              שעה לפני מנחה
            </td>
            <td>
              פרשת שבוע, משניות
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              משכן ישראל
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="2">
              30 דקות לפני מנחה
            </td>
            <td>
              תהלים, סיפורים
            </td>
            <td>
              רבנים שונים
            </td>
            <td>
              תפארת בנים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="2">
              15 דקות לפני מנחה
            </td>
            <td>
              י"ב הפסוקים ומאמרי חז"ל
            </td>
            <td>
              הרב ישראל דורון
            </td>
            <td>
              חב"ד רמת הנשיא
            </td>
            <td>
              בגן עופר, גם לילדות
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              מנחה
            </td>
            <td>
              ערבית
            </td>
            <td>
              תהלים, פרשת שבוע
            </td>
            <td>
              הרבנית זר
            </td>
            <td>
              פאר יפית
            </td>
            <td>
              בבית הכנסת
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="2">
              אחרי מנחה
            </td>
            <td>
              אבות ובנים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              אורות התורה
            </td>
            <td>
              כ-30 דקות
            </td>
            <td>
              אחרי ערבית
            </td>
          </tr>
          <tr>
            <td>
              19:00
            </td>
            <td>
              20:00
            </td>
            <td>
              אבות ובנים
            </td>
            <td>
              הרב יצחק פרץ
            </td>
            <td>
              בית יעקב
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              20:00
            </td>
            <td>
              21:00
            </td>
            <td>
              אבות ובנים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              שער ציון
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="2">
              חצי שעה אחרי ערבית
            </td>
            <td>
              אבות ובנים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              רבי מאיר בעל הנס
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
        </table>
        <a name="girls"></a>
        <h3>שיעורי ילדות</h3>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              יום
            </th>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב/הרבנית
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
          </tr>
          <tr>
            <td>
              א,ג
            </td>
            <td>
              16:30
            </td>
            <td>
              17:30
            </td>
            <td>
              תהלים, מוסר, סיפורים
            </td>
            <td>
              הרבנית זר
            </td>
            <td>
              פאר יפית
            </td>
            <td>
              בישיבה, גם לילדים
            </td>
          </tr>
          <tr>
            <td>
              ב,ד
            </td>
            <td>
              17:30
            </td>
            <td>
              18:30
            </td>
            <td>
              תהלים, פרשת שבוע
            </td>
            <td>
              הרבנית דוד
            </td>
            <td>
              מרום ישראל
            </td>
            <td>
              ע"י "יד - אברהם"
            </td>
          </tr>
          <tr>
            <td rowspan="4">
              יום ו'
            </td>
            <td colspan="2">
              30 דקות לפני ערבית
            </td>
            <td>
              קבלת שבת
            </td>
            <td>
              הרב חן סויסה
            </td>
            <td>
              בית אל
            </td>
            <td>
              גם לילדים
            </td>
          </tr>
          <tr>
            <td colspan="2">
              20 דקות לפני ערבית
            </td>
            <td>
              קבלת שבת
            </td>
            <td>
              הרב דוד יצחק
            </td>
            <td>
              ותיקים
            </td>
            <td>
              גם לילדים
            </td>
          </tr>
          <tr>
            <td>
              אחרי מנחה
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              תהלים
            </td>
            <td>
              הרבנית צוף
            </td>
            <td>
              היכל הקודש
            </td>
            <td>
              כ-30 דקות
            </td>
          </tr>
          <tr>
            <td>
              13:00
            </td>
            <td>
              14:00
            </td>
            <td>
              תהלים
            </td>
            <td>
              הרב ציון מיימון
            </td>
            <td>
              סיני
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
        </table>
        <h4>יום שבת</h4>
        <table class="container shadow">
        <tbody>
          <tr>
            <th>
              שעה
            </th>
            <th>
              עד
            </th>
            <th>
              נושא
            </th>
            <th>
              שם הרב/הרבנית
            </th>
            <th>
              בית הכנסת
            </th>
            <th>
              הערות
            </th>
            <th>
              בחורף
            </th>
          </tr>
          <tr>
            <td>
              11:00
            </td>
            <td>
              13:00
            </td>
            <td>
              תהלים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              בית ישראל (לוב)
            </td>
            <td>
              באולם, עם האמהות
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              11:30
            </td>
            <td>
              13:00
            </td>
            <td>
              תהלים
            </td>
            <td>
              הרבנית ברידס
            </td>
            <td>
              אהל מועד
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              12:00
            </td>
            <td>
              13:00
            </td>
            <td>
              תהלים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              תורת ישרים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              12:30
            </td>
            <td>
              13:30
            </td>
            <td>
              תהלים, פרשת שבוע
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              בית חב"ד
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              12:45
            </td>
            <td>
              13:45
            </td>
            <td>
              תהלים
            </td>
            <td>
              הרבנית ראלי
            </td>
            <td>
              שבתאי לאון
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              13:00
            </td>
            <td>
              14:30
            </td>
            <td>
              מוסר, תהלים
            </td>
            <td>
              הרב אביב יפתח
            </td>
            <td>
              שבת אחים (בזל)
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td rowspan="3">
              13:30
            </td>
            <td rowspan="3">
              14:30
            </td>
            <td>
              תהלים
            </td>
            <td>
              הרב מיכאל פינטו
            </td>
            <td>
              ותיקים
            </td>
            <td>
              גם לילדים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              תהלים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              מקדש מלך
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              תהלים
            </td>
            <td>
              הרב שיקו דנינו
            </td>
            <td>
              משמ"א - היושבת בגנים
            </td>
            <td>
              גם לילדים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              14:00
            </td>
            <td>
              14:45
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              הרבנית כוכב
            </td>
            <td>
              בית אל
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              13:30 עד 14:00
            </td>
          </tr>
          <tr>
            <td rowspan="6">
              14:00
            </td>
            <td rowspan="6">
              15:00
            </td>
            <td>
              תהלים, פרשת שבוע
            </td>
            <td>
              הרב יוסף איטח
            </td>
            <td>
              בית יוסף
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              13:00 עד 14:00
            </td>
          </tr>
          <tr>
            <td>
              תהלים
            </td>
            <td>
              הרבנית מורדכיוב
            </td>
            <td>
              דניאל
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              תהלים
            </td>
            <td>
              הרבנית דוד
            </td>
            <td>
              זכרון משה
            </td>
            <td>
              ע"י "יד-אברהם"
            </td>
            <td>
              13:30 עד 14:15
            </td>
          </tr>
          <tr>
            <td>
              תהלים
            </td>
            <td>
              הרבנית מויאל
            </td>
            <td>
              מעיינות החיים
            </td>
            <td>
              בגינה, עם האמהות
            </td>
            <td>
              13:00 עד 14:00
            </td>
          </tr>
          <tr>
            <td>
              תהלים
            </td>
            <td>
              הרב אלינדב עובדיה
            </td>
            <td>
              צאן קדושים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              תהלים
            </td>
            <td>
              הרבנית אברג'יל
            </td>
            <td>
              רמות ים
            </td>
            <td>
              בעזרת נשים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              14:00
            </td>
            <td>
              16:00
            </td>
            <td>
              פעילות
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              בני עקיבא רמת הנשיא
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              14:30
            </td>
            <td>
              15:30
            </td>
            <td>
              תהלים
            </td>
            <td>
              הרב שרם
            </td>
            <td>
              אורות התחיה
            </td>
            <td>
              גם לילדים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              15:15
            </td>
            <td>
              16:15
            </td>
            <td>
              תהלים, פרשת שבוע
            </td>
            <td>
              הרבנית בסו
            </td>
            <td>
              משכן נתן
            </td>
            <td>
              בחדר
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="2">
              30 דקות לפני מנחה
            </td>
            <td>
              תהלים, סיפורים
            </td>
            <td>
              רבנים שונים
            </td>
            <td>
              תפארת בנים
            </td>
            <td>
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="2">
              15 דקות לפני מנחה
            </td>
            <td>
              י"ב הפסוקים ומאמרי חז"ל
            </td>
            <td>
              הרב ישראל דורון
            </td>
            <td>
              חב"ד רמת הנשיא
            </td>
            <td>
              בגן עופר, גם לילדים
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
        </table>
        <a href="#top" class="cta">חזרה למעלה</a>
      
    