
  <h3>כאן תמצאו עדכוני חגים ומועדים מהמועצה הדתית.</h3>
  <small-section data-name="דפים עם עדכוני חגים ומועדים">
    <a href="noraim" class="menu">אלול וימים נוראים</a>
    <a href="rosh-hashana" class="menu">ראש השנה</a>
    <a href="sukkot" class="menu">סוכות</a>
    <a href="purim" class="menu">פורים</a>
    <a href="pesach" class="menu">פסח</a>
    <a href="shmita" class="menu">שנת שמיטה</a>
  </small-section>
  <div>
    <img src="/images/holidays.jpeg" class="post" alt="חגים ומועדים">
  </div>
