<div id="load" data-title="עסקים כשרים בקורונה"></div>
      
        
        <div>
          <h3>מנצחים את הקורונה - עוזרים לעסקים הבתימיים!</h3>
          <h4>רשימת העסקים הכשרים להזמנת אוכל עד הבית!</h4>
          <section>
            <div class="middle">
              <a href="poster1.jpg" target="_blank">
                <img src="poster1.jpg" alt="רשימת העסקים הכשרים בבת ים" class="post">
              </a>
              <br>
              <a href="poster2.jpg" target="_blank">
                <img src="poster2.jpg" alt="רשימת העסקים הכשרים בבת ים" class="post">
              </a>
            </div>
          </section>
        </div>
      
    