<div id="load" data-title="תעודות כשרות לדוגמה"></div>
      
        
        <div class="flex">
          <small-section data-name="תעודת כשרות">
            
            <a href="/images/kashrut-red.jpg" target="_blank">
              <img src="/images/kashrut-red-min.jpg" alt="תעודת כשרות">
            </a>
          </small-section>
          <small-section data-name="תעודת כשרות לפסח">
            
            <a href="/images/kashrut-passover.jpg" target="_blank">
              <img src="/images/kashrut-passover-min.jpg" alt="תעודת כשרות לפסח">
            </a>
          </small-section>
          <small-section data-name="אישור כשרות זמני">
            
            <a href="/images/kashrut-temp.jpg" target="_blank">
              <img src="/images/kashrut-temp-min.jpg" alt="תעודת כשרות זמנית">
            </a>
          </small-section>
          <small-section data-name="תעודת פיקוח">
            
            <a href="/images/kashrut-supervision.jpg" target="_blank">
              <img src="/images/kashrut-supervision-min.jpg" alt="תעודת פיקוח">
            </a>
          </small-section>
        </div>
        <div class="middle">
          <a href="../request" class="cta">בקשת תעודה</a>
        </div>
      
    