<div id="load" data-title="רגע של שביעית - שומרי שמיטה כהלכתה"></div>
    
      <div id="intro">
        <p>
          <strong>שלום לכולם וברוכים הבאים</strong>
          ל"רגע של שביעית" -
          <strong>קבוצת "שומרי שמיטה כהלכתה" בת ים.</strong>
        </p>
        <p>
          קבוצה זו מיועדת להודעות ושאלות הלכתיות וטכניות בנושא שנת השבע הבעל"ט.
          <br>
          ההודעות ישלחו בדרך כלל על בסיס שבועי
          אלא אא"כ ישנם עדכונים מיוחדים ודחופים .
        </p>
        <p>
          ניתן לשלוח שאלות ומסרונים ולקבל מענה בהקדם האפשרי.
          ✉️ אפשר לשלוח שאלות גם דרך המייל:
          <a href="mailto:shmitah.batyam@gmail.com">shmitah.batyam@gmail.com</a>
        </p>
        <p>
          במסגרת זו נשתדל להעביר בקצרה את הידע הנדרש לקיום מצוות השמיטה כהלכתה. בבת ים ומחוצה לה.
          שנת השמיטה תחל בעזהי"ת ב א' תשרי התשפ"ב יום ראשון של ראש השנה (7 לספטמבר למינינם) 📅
        </p>          
      </div>
      <hr>
      <div id="update2">
        <p>גינה משותפת בשנת השמיטה .🏡</p>
        <p>גינה משותפת אשר "ועד הבית" מתעקש &nbsp;לעבוד בה כרגיל</p>
        <p>כיצד ינהג דייר בבנין ,שאינו רוצה לעבור על איסור עבודה בקרקע בשביעית ?🎍</p>
        <p><strong>תשובה:</strong><br>מכוון שהרכוש הינו רכוש משותף,🏘 אין ליהודי לאפשר לעשות פעולות אסורות בשדה ששיכת גם לו בשנת השביעית .<br>ולכן, עליו לנסות לשכנע בכל דרך את ועד הבית &nbsp;לעשות את הפעולות המותרות בלבד.<br>אם לא הצליח, עליו להפקיר לפני ראש השנה &nbsp;את חלקו היחסי בשטח המשותף על מנת שלא יעבור איסור .<br>ההפקר יתבצע בפני שלשה אנשים גדולים .</p>
        <p><strong>שאלה</strong><br>האם מותר לו לשלם את חובו לועד הבית כאשר ידוע לו שמכספים אלו משלמים לעבודות הגננות.?💰</p>
        <p><strong>תשובה</strong><br>מותר לו לשלם בתנאי שיאמר שהכסף מיועד לתשלום החשמל והנקיון בחדר המדרגות, ולא לעבודות הגינון .</p>
        <p><strong>שאלה נוספת</strong><br>לאור האמור האם מותר לו לבנות סוכה בשנת השמיטה אחרי שהפקיר את חלקו ובעצם הוא בונה את סוכתו &nbsp;על קרקע של אחרים.</p>
        <p>אם השכנים אינם מקפידים, 😃יוכל לבנות את סוכתו למרות שאין לו חלק בגינה המשותפת.ואם השכנים מקפידים😡 . אין לו לבנות את סוכתו על קרקע של אחרים .במקרה של העלמת עין😉 ניתן להקל ולבנות את הסוכה. וראוי שיבקש מהם רשות מפורשת.</p>
        <p><br></p>
        <p>בימים אלו מתגבשת רשימת החנויות והמקומות &nbsp;בהן יהיה ניתן לקנות סחורה בשנת השמיטה ללא חשש איסור.<br>כאשר הרשימה תושלם נפרסם אותה בעזהי"ת.</p>
        <p>בשבוע האחרון חולקה בבתי הכנסת חוברת העוסקת בטיפול בגינה ובעציצים 🎍 בשביעית<br>ישר כח ליו"ר המועצה הדתית מר בנימין אלחרר ולמזכ"ל המועצה מר דן בסו על היוזמה.<br>ניתן להשיג את החוברת במשרדי המועצה בשעות הפעילות .<br>בשורות טובות</p>
        <p>שמיטה לצרכן</p>
        <p><strong>שאלה</strong><br>בתורה מבואר שאסור לעבוד בקרקע בשנת השמיטה, וכן חייבים להפקיר את השדות .<br>מהי המשמעות לצרכן &nbsp;העירוני המעונין לקנות פירות וירקות בשנת השמיטה?</p>
        <p><strong>תשובה</strong><br>תוצרת שגדלה בשנת השמיטה, בקרקע שעבדו בה, או שלא הפקירו אותה, נקראת בלשונם של חכמים "שמור ונעבד".<br>נחלקו הראשונים אם תוצרת זו מותרת באכילה.<br>לפי הכרעת רוב הראשונים והאחרונים. למרות שבעל השדה נהג שלא כדין, ❎ התוצרת מותרת באכילה אמנם יש לנהוג בה קדושת שביעית .<br>אמנם חכמים גזרו על הירקות🍆🥔🥕🍅🥒🌶🥬 שנקטפו בשנת השמיטה גם אם גדלו מעצמם ואסרו אותם באכילה .<br>איסור זה נקרא איסור "ספיחין "<br><br>להמחשת חומרת האיסור איסור זה שווה בחומרתו לאכילה של כריך עם נקניק וגבינה יחד🧀🌭.<br><br>סיבת האיסור כדי שלא יזרע אדם בשביעית ויאמר שהירקות גדלו מאליהם.<br><br>איסור זה נוהג רק בירקות שצריך לזורעם בכל שנה,🥒🌶🥬🥔 ולא בירקות שהינם רב שנתיים, &nbsp; (דהיינו גדלים כל השנה) ללא צורך בזריעה מחודשת, כגון נענע🌿 בננות 🍌וכו' , ולא בפירות האילן🍇 🍈🍎🍈🥭הגדלים מאליהם .</p>
        <p><strong>שאלה</strong><br>האם כל הירקות שנקטפו בשמיטה אסורים באכילה גם אותם &nbsp;שגדלו רובם בשנה השישית &nbsp;?</p>
        <p>לדעת הרמב"ם אם נלקטו בשביעית הינם אסורים באכילה גם אם גדלו רובם בשישית.<br>אמנם יש מרבותינו &nbsp;הראשונים המתירים ירקות אלו באכילה אם גדלו רובם בשישית.<br>שאלה כיצד נוהגות הכשרויות🕴השונות<br>כמעט כל &nbsp;הכשרויות ברמת המהדרין🕴 מקפידות כדעת הרמב"ם ולא משווקות סחורה שנלקטה אחרי ראש השנה .</p>
        <p>הכשרות של "מכון התורה והארץ" הנקראת בשם "אוצר הארץ"🏕<br>נוהגת כדעת &nbsp;הראשונים המתירים,ומשווקת &nbsp;סחורה שגדלה רובה בשישית גם אם נלקטה בשביעית. &nbsp;</p>
        <p><strong>שאלה</strong><br>אם כל סחורה שנקטפה אחרי ראש השנה אסורה לדעת הרמב"ם מהיכן &nbsp;מגיעה סחורת הירקות🥒🍅 לכשרויות הנהוגות כדעת הרמב"ם ?</p>
        <p>א.סחורה שנלקטה &nbsp;ואוחסנה בשנה השישית &nbsp;(לא את כל הירקות &nbsp;ניתן &nbsp;לאחסן פתרון זה מתאים לסוגים מסוימים של ירקות ).<br>ב.הסחורה מגיעה מאזורים שאינם נחשבים כארץ ישראל<br>סחורה זו נקראת סחורת "חו"ל" 🗽🌁<br>ג. סחורה הגדלה בארץ ישראל ע"י נכרי &nbsp;סחורה זו נקראת &nbsp;בשם "נכרי"🕌</p>
        <p>בשבוע הבא נרחיב עוד בגזרת &nbsp;ספיחים ,ובתאור המצב בסחורה הנמכרת בארץ ובחנויות השונות .</p>
        <p>בברכת ערב שבת הארץ שלום</p>
      </div>
      <hr>
      <div id="update1">
        <p>
          היום נדון בהלכות הנוגעות לתקופה שלפני ראש השנה:
          א. <strong>עצי פרי 🌳</strong>
          <br>
          אין לשתול בגינה עצי פרי החל מט"ו אב לפני שקיעת החמה התשפ"א (24 ליולי למינינם)
          <br>
          מכוון שט"ו באב השנה חל בשבת אין לשתול עצי פרי אחרי יום ו' י"ד אב התשפ"א (23 ליולי למינינם)
          <br>
          אם העץ מגיע עם גוש עפר יציב שאינו מתפורר ניתן לשותלו עד כ"ח אב התשפ"א (6 לאוגוסט למינינם)
        </p>
        <p>
          ב. <strong>עצי סרק (שאינם נותנים פירות) 🌲</strong>
          <br>
          ניתן לשותלם עד שלשה ימים לפני ראש השנה. (3 לספטמבר למינינם) .
          יש המחמירים לנטוע עצי סרק רק עד ט"ו באלול (23 לאוגוסט למינינם).
          אם העצים מגיעים עם גוש אדמה יציב אזי מותר לשותלם לכל הדעות עד ראש השנה.
        </p>
        <p>
          ג. <strong>פרחים, ועצי נוי, ושיחי בשם 🌷</strong>
          <br>
          ראוי לשותלם עד כ"ו אלול. דהיינו שלשה ימים לפני ראש השנה(3 לספטמבר למינינם)
          <br>
          אם הם מגיעים עם גוש אדמה יציב שאינו מתפורר, ניתן לשותלם עד ראש השנה
        </p>
        <p>
          ד. <strong>שתילת דשא 🍃🍃</strong>
          <br>
          מרבדי דשא מוכנים יש לשותלם כחדש לפחות, לפני ראש השנה .
          שתילה של דשא ידני או בזרייה,
          <br>
          יש להקדים כחדש וחצי לפחות לפני ראש השנה וראוי לעשות זאת בתחילת הקיץ.
        </p>
        <p>
          ההודעה הבאה תעסוק בשתילת פרחים בתוך עציצים מסוגים שונים, בבית, ובמרפסת.
        </p>
        <p>
          המעונינים במידע מקצועי לגבי סוגי הצמחים המותאמים לשנת השמיטה, יוכלו לקבלו בשמחה במסגרת זו
          תודה וישר כח.
        </p>
        <p>
          <strong>טיפול בעציצים ואדניות בשנת השמיטה 🎍</strong>
        </p>
        <p>
          סוגי העציצים מתחלקים לשניים:
          <br>
          1. עציץ היונק מן הקרקע הנקרא בלשון חכמים עציץ נקוב
          <br>
          2. עציץ שאין לו יניקה מן הקרקע נקרא עציץ שאינו נקוב
          <br>
          🔻
          <br>
          ברשימת העציצים הנקובים נכללים העציצים הבאים:
          <br>
          א. עציץ שיש בו נקב קטן בתחתיתו או בצידו
          <br>
          ב.עציץ הנמצא תחת כיפת השמים העציץ עצמו או ענפיו ועליו
          <br>
          ג. עציץ העשוי מחרס או קרמיקה למרות שאין בו שום נקב
          <br>
          ד.עציץ המונח על גבי הקרקע
          <br>
          ה.עציץ או אדנית גדול שנפחו גדול מ650 ליטר
          <br>
          ו.עציץ התלוי באויר. למרות שיש הפסק אויר בינו לבין הקרקע נחשב כעציץ נקוב
        </p>
        <p>
          <strong>עציצים אלו דינם כקרקע ואין לעשות בהם שום פעולה הבאה להשביח את הצמח</strong>
          אלא רק פעולות למנוע נזק כגון השקיה ❌
        </p>
        <p>
          <strong>עציצים שאינם נקובים ניתן לעשות בהם את כל הפעולות הרגילות</strong>
          ויש אף המתירים לזרוע בהם. גידולים שגדלו בעציץ שאינו נקוב מותרים באכילה ואין בהם קדושת שביעית ✅
        </p>
        <p>
          לאור האמור
          עציצים הנמצאים בתוך הבית נחשבים כעציצים שאינם נקובים וניתן לעשות בהם את כל המלאכות הרגילות.
          יש הסוברים שמרצפות הבית הרגילות או העשויות מקרמיקה אינם מהוות חציצה בין העציץ לקרקע ולכן דין העציץ כעציץ
          נקוב.
          (ריצפה העשויה משיש מהווה חציצה)
        </p>
        <p>
          🟢 לצאת ידי חובת כל הדעות ראוי להניח פלסטיק קשיח מתחת לעציץ ואז יחשב העציץ כעציץ שאינו נקוב לכל הדעות.
        </p>
        <p>
          אמנם, עציצים המונחים על מעקה המרפסת, הואיל וענפיהם נוטים החוצה נחשב העציץ כעציץ נקוב.
        </p>
        <h3>שאלות שכיחות ⁉️</h3>
        <p>
          ❓ עציץ המונח על המעקה שהוכנס, לבית לצורך ניקוי המעקה האם מותר להחזירו למעקה אחר גמר הניקוי?
          <br>
          ❗תשובה:
          <br>
          אין להעביר עציץ מהבית למרפסת שאינה מקורה שהרי הופך אותו לעציץ נקוב המחובר לקרקע ונחשב הדבר כפעולת זריעה.
          ולכן מי שהסיר עציץ ממעקה המרפסת והכניסו למקום מקורה אין לו להחזירו למעקה.
          <br>
          אמנם יש הסוברים הואיל וכונתו היתה לנקות ולא להוסיף צמיחה מותר להוציאו ולהחזירו
          למקומו והמיקל בזה יש לו על מה שיסמוך.
        </p>
        <p>
          (ולכן הבונה סוכה על הדשא ואחרי החג מסיר את הגג למרות שבהסרת הגג הופך את הדשא לגינה רגילה שאינה מקורה, הדבר
          מותר שהרי אין כוונתו לכך.)
        </p>
        <p>
          ❓ עציץ שתכולתו נשפכה על הקרקע, האם מותר להחזיר את העפר כולו או חלק ממנו לעציץ?
          <br>
          ❗תשובה:
          <br>
          בעציץ בתוך הבית אפשר בעציץ המונח במרפסת או מעקה שאינם מקורים אסור להחזיר אפילו כשנשאר חלק מהעפר בעציץ.
          <br>
          אסור לקנות עציץ נוי שנשתל בשמיטה באדמה או בעציץ נקוב
          ויש האוסרים אף לקבלו במתנה.
        </p>
        <p>
          בברכת שבת שלום ובשורות טובות
        </p>
      </div>
    
    
      <div class="txt-right">
        <p>
          מוזמנים להצטרף אלינו לקבוצת שומרי שמיטה כהלכתה של המועצה הדתית.
        </p>
        <p>
          מטרת הקבוצה לידע את הציבור בהודעות ועדכונים הנוגעים לשנת השמיטה הבעל"ט.
          <br>
          להצטרפות:
          <br>
          <a href="https://chat.whatsapp.com/H5zogJ35JaEDD1iUGp8sT8">https://chat.whatsapp.com/H5zogJ35JaEDD1iUGp8sT8</a>
        </p>
        <p>
          <strong>
            המועצה הדתית בת ים
            <br>
            מובילים לאיכות חיים המתאימה לכל יהודי
          </strong>
        </p>
      </div>
      <img src="/images/tree.jpg" class="post" alt="עץ">
    
  