<div id="load" data-title="הכשרת כלים"></div>


  <div class="split2">
    <x-section data-name="הכשרת כלים - מדריכים">

      <a href="/assets/pdf/dishes-intro.pdf" target="_blank" class="menu">
        הקדמה
      </a>
      <a href="/assets/pdf/dishes-by-definition.pdf" target="_blank" class="menu">
        לפי מושגים
      </a>
      <a href="/assets/pdf/dishes-by-name.pdf" target="_blank" class="menu">
        לפי שמות הכלים
      </a>
      <a href="/assets/pdf/dishes-by-type.pdf" target="_blank" class="menu">
        לפי סוגים
      </a>
    </x-section>
    <div>
      <img src="/images/dishes.jpg" class="post" alt="כלים">
    </div>
  </div>
