<footer>
  <link href="/assets/partials/footer.css" rel="stylesheet" type="text/css">
  <div class="container">
    <div>
      <img src="/images/logo-white.png">    
    </div>
    <div>
      <h3>אודות המועצה</h3>
      <ul>
        <li>
          <a href="#">היסטוריה</a>        
        </li>
        <li>
          <a href="#">דברי ברכה</a>
        </li>
        <li>
          <a href="#">דרושים</a>
        </li>
      </ul>
    </div>
    <div>
      <h3>קישורים רלוונטיים</h3>
      <li>
        <a href="#">עיריית בת ים</a>
      </li>
      <li>
        <a href="#">משרד הדתות</a>      
      </li>
      <li>
        <a href="#">עסקים כשרים בעיר</a>
      </li>
    </div>
    <div>
      <h3>דרכי התקשרות</h3>
      <div class="socials">
        <a href="#">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="#">
          <i class="fa fa-phone fa-flip-horizontal"></i>
        </a>
        <a href="#">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
      <div class="newsletter">
        <h3>עדכונים קבועים</h3>
        <label for="newsletter">הירשמו לניוזלטר שלנו ותישארו בעניינים:</label>
        <div class="flex">
          <input id="newsletter" type="email" placeholder='כתובת הדוא"ל שלכם'>
          <button>שלח</button>
        </div>
      </div>
    </div>
  </div>
  <p class="copyright">
    כל הזכויות שמורות למועצה הדתית בת ים
    •
    All rights reserved © 2022
  </p>

  <svg viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="var(--brightest)" />
    </g>
  </svg>
</footer>