<nav>
  <link href="/assets/partials/nav.css" rel="stylesheet" type="text/css">
  <div class="top-nav">
    <div class="top-nav-wrapper">
      <ul>
        <li class="nav-toggle">
          <div class="nav-toggle-bar"></div>
        </li>
        <li id="top-nav-date" class="nav-icon-couple">
          <img src="/images/calendar-icon.png" class="time-icon" alt="">
          <div>
            <span id="day-of-week">יום רביעי</span>
            <br>
            <span id="heb-date">א' בתשרי תשפ"ב</span>
          </div>
        </li>
        <li id="top-nav-shabbat" class="nav-icon-couple">
          <img src="/images/candles-icon.png" class="time-icon" alt="אייקון נרות שבת">
          <div>
            <span id="parasha">פרשת ויחי</span>
            <br>
            <span id="havdala">16:25</span>
            <span> | </span>
            <span id="hadlaka">17:31</span>
          </div>
        </li>
      </ul>
      <div class="icons">
        <a href="/">
          <img src="/images/icon.png" alt="אייקון המועצה הדתית">
        </a>
        <a href="https://www.bat-yam.muni.il/" target="_blank" rel="noopener noreferrer">
          <img src="/images/bat-yam-icon.png" alt="אייקון עיריית בת ים">
        </a>
        <div class="divider"></div>
        <a href="https://www.facebook.com/%D7%94%D7%9E%D7%95%D7%A2%D7%A6%D7%94-%D7%94%D7%93%D7%AA%D7%99%D7%AA-%D7%91%D7%AA-%D7%99%D7%9D-346076995593097" target="_blank" rel="noopener">
          <img src="/images/fb.png" title="אנחנו בפייסבוק" alt="אייקון פייסבוק">
        </a>
        <a href="https://www.youtube.com/channel/UCSLvfjKlAk6yj0dS4c2Emfw" target="_blank" rel="noopener noreferrer">
          <img src="/images/yt.png" alt="אייקון יוטיוב">
        </a>
        <a href="https://wa.me/972508785115" target="_blank" rel="noopener">
          <img src="/images/whatsapp.png" title="יצירת קשר בווצאפ" alt="אייקון ווצאפ">
        </a>
        <a href="tel:035068883" target="_blank" rel="noopener">
          <img src="/images/phone.png" title="התקשרו אלינו" alt="אייקון טלפון">
        </a>
        <a href="https://www.waze.com/en/live-map/directions/%D7%A4%D7%A0%D7%A7%D7%A1-2-%D7%91%D7%AA-%D7%99%D7%9D?latlng=32.018687890736366%2C34.74477767944337" target="_blank" rel="noopener">
          <img src="/images/waze.png" title="ניווט" alt="אייקון ניווט באמצעות Waze">
        </a>
        <a href="https://www.waze.com/en/live-map/directions/%D7%A4%D7%A0%D7%A7%D7%A1-2-%D7%91%D7%AA-%D7%99%D7%9D?latlng=32.018687890736366%2C34.74477767944337" target="_blank" rel="noopener">
          <img src="/images/mail.png" title="ניווט" alt="אייקון ניווט באמצעות Waze">
        </a>
      </div>
    </div>
  </div>

  <div class="side-nav">
    <div class="header">
      <a href="/">
        <img src="/images/logo-white.png" alt="המועצה הדתית">
      </a>
      <div class="close">✕</div>          
    </div>
    <ul>
      <li><a href="/blessing">
        <i class="fas fa-hands"></i> דברי ברכה
      </a></li>
      <li class="dropdown">            
        <i class="fas fa-utensils"></i> כשרות
        <div class="dropdown-content">
          <a href="/kashrut/restaurants">עסקים כשרים בעיר</a>
          <a href="/kashrut/request">בקשת תעודה</a>
          <a href="/kashrut/updates">עדכוני כשרות</a>
          <a href="/kashrut/brochures">עלוני "בחזקת כשרות"</a>
          <a href="/kashrut/certs">תעודות כשרות לדוגמה</a>
          <a href="/kashrut/nohals">נהלי כשרות</a>
          <a href="/kashrut/wanted">דרושים</a>
        </div>
      </li>
      <li class="dropdown">
        <i class="fas fa-heart"></i> נישואין
        <div class="dropdown-content">
          <a href="/marriage/registration">רישום נישואין</a>
          <a href="/marriage/bride-guide">הדרכת כלות</a>
          <a href="/marriage/archive">בקשה להעתק תעודת נישואין</a>
          <a href="/marriage/file-status">סטטוס התיק שלי</a>
          <a href="https://www.gov.il/BlobFolder/reports/pirsum_reshimatrab/he/%D7%A8%D7%A9%D7%99%D7%9E%D7%AA%20%D7%A8%D7%91%D7%A0%D7%99%D7%9D%20%D7%9E%D7%95%D7%A8%D7%A9%D7%99%D7%9D%20%D7%9C%D7%A2%D7%A8%D7%99%D7%9B%D7%AA%20%D7%97%D7%95%D7%A4%D7%95%D7%AA-%20%D7%A2%D7%93%D7%9B%D7%95%D7%9F%20%D7%90%D7%93%D7%A8%20%D7%AA%D7%A9%D7%A4.pdf" target="_blank">רשימת עורכי החופות של הרבנות</a>
        </div>
      </li>
      <li class="dropdown">
        <i class="fas fa-hanukiah"></i> מועדים
        <div class="dropdown-content">
          <a href="/events/noraim">אלול</a>
          <a href="/events/rosh-hashana">ראש השנה</a>
          <a href="/events/sukkot">סוכות</a>
          <a href="/events/pesach">פסח</a>
          <a href="/events/shmita">שמיטה</a>
        </div>
      </li>
      <li class="dropdown">
        <i class="fas fa-book"></i> מידע שימושי
        <div class="dropdown-content">
          <a href="/info/mohalim">רשימת מוהלים</a>
          <a href="/info/gmahim">רשימת הגמ"חים</a>
          <a href="/info/kolelim">כוללים, ישיבות ומוסדות חינוך</a>
          <a href="/info/mikve">מקוואות כלים ומקוואות גברים</a>
          <a href="/info/lessons-women">שיעורי תורה לנוער, ילדים ונשים</a>
          <a href="/info/prayers">זמני תפילות ופעילות בבתי הכנסת</a>
          <a href="/info/lessons-men">שיעורי תורה לגברים</a>
        </div>
      </li>
      <li><a href="/synagogues">
        <i class="fas fa-synagogue"></i> בתי כנסת
      </a></li>
      <li><a href="/mikve">
        <i class="fas fa-swimming-pool"></i> מקוואות
      </a></li>
    </ul>
  </div>
  <div class="screen-darkener"></div>
  <script src="/assets/partials/nav.js"></script>
</nav>