<div class="updates">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
  <link rel="stylesheet" href="/assets/partials/updates.css">

  <div class="blog-slider">  
    <h3>
      עדכונים <i class="fas fa-bullhorn"></i>
    </h3>
    <div class="blog-slider__wrp swiper-wrapper"></div>
    <div class="blog-slider__pagination"></div>
  </div>

  <script src="/assets/partials/updates.js" type="module"></script>
</div>