<div id="load" data-title="פסח תשפ&quot;א"></div>


  <div class="p-side-3 split2">
    <small-section data-name="תפריט">

      <a href="halachot" class="menu">הלכות לחודש ניסן</a>
      <a href="sale" class="menu">מכירת חמץ</a>
      <a href="dishes" class="menu">הכשרת כלים</a>
      <a href="times" class="menu">זמנים ושיעורים</a>
      <a href="kashrut" class="menu">כשרות לפסח</a>
      <a href="#drashot" class="menu">דרשות</a>
    </small-section>
    <div>
      <img src="/images/pesach.jpg" alt="פסח" class="post">
    </div>
  </div>

<a name="drashot"></a>


  <div class="split2">
    <small-section data-name="
              שואלים ודורשים | יד' בניסן שחל בשבת
            ">

      <div class="p-2">
        <p>
          הרב אליהו בר שלום - שואלים ודורשים | יד' בניסן שחל בשבת
        </p>
        <iframe class="yt-embed post" src="https://www.youtube.com/embed/Mxu_1187R5g" frameborder="0" allow="accelerometer; autoplay;
              encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
      </div>
    </small-section>
    <small-section data-name="
              שואלים ודורשים | איך מכשירים
            ">

      <div class="p-2">
        <p>
          הרב אליהו בר שלום - שואלים ודורשים | איך מכשירים
        </p>
        <iframe class="yt-embed post" src="https://www.youtube.com/embed/K3Ppnsjy4vk" frameborder="0" allow="accelerometer; autoplay;
              encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
      </div>
    </small-section>
    <small-section data-name="
              האם צריך הכשר? חלק 2
            ">

      <div class="p-2">
        <p>
          הרב אליהו בר שלום - האם צריך הכשר? חלק 2
        </p>
        <iframe class="yt-embed post" src="https://www.youtube.com/embed/igHRBF_FNl0" frameborder="0" allow="accelerometer; autoplay;
              encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
      </div>
    </small-section>
    <small-section data-name="
              שואלים ודורשים - פסח השנה
            ">

      <div class="p-2">
        <p>
          הרב אליהו בר שלום - שואלים ודורשים - פסח השנה
        </p>
        <iframe class="yt-embed post" src="https://www.youtube.com/embed/V1Ix9XZOoQE" frameborder="0" allow="accelerometer; autoplay;
              encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
      </div>
    </small-section>
    <small-section data-name="
              הרב אליהו בר שלום - שבת פרה תשפא
            ">

      <div class="p-2">
        <p>
          הרב אליהו בר שלום - שבת פרה תשפא
        </p>
        <iframe class="yt-embed post" src="https://www.youtube.com/embed/uprtg4DC1oM" frameborder="0" allow="accelerometer; autoplay;
              encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
      </div>
    </small-section>
  </div>
