<div id="load" data-title="לוחות זמנים"></div>
    
      <a href="agri.pdf" target="_blank" class="menu">
        המכון לחקר חקלאות ע"פ התורה - לו"ז
      </a>
      <a href="land.pdf" target="_blank" class="menu">
        המכון למצוות התלויות בארץ - לו"ז
      </a>
      <a href="flowers.pdf" target="_blank" class="menu">
        מכון התורה והארץ - פרחים
      </a>
      <a href="fruits.pdf" target="_blank" class="menu">
        מכון התורה והארץ - פירות
      </a>
      <a href="vegs.pdf" target="_blank" class="menu">
        מכון התורה והארץ - ירקות
      </a>
      <a href="grains.pdf" target="_blank" class="menu">
        מכון התורה והארץ - גרגירים
      </a>
      <a href="spices.pdf" target="_blank" class="menu">
        מכון התורה והארץ - תבלינים
      </a>
    
  