<div id="load" data-title="לוחות זמנים"></div>
<x-section>
  <a href="/assets/pdf/agri.pdf" target="_blank" class="menu">
    המכון לחקר חקלאות ע"פ התורה - לו"ז
  </a>
  <a href="/assets/pdf/land.pdf" target="_blank" class="menu">
    המכון למצוות התלויות בארץ - לו"ז
  </a>
  <a href="/assets/pdf/flowers.pdf" target="_blank" class="menu">
    מכון התורה והארץ - פרחים
  </a>
  <a href="/assets/pdf/fruits.pdf" target="_blank" class="menu">
    מכון התורה והארץ - פירות
  </a>
  <a href="/assets/pdf/vegs.pdf" target="_blank" class="menu">
    מכון התורה והארץ - ירקות
  </a>
  <a href="/assets/pdf/grains.pdf" target="_blank" class="menu">
    מכון התורה והארץ - גרגירים
  </a>
  <a href="/assets/pdf/spices.pdf" target="_blank" class="menu">
    מכון התורה והארץ - תבלינים
  </a>
</x-section>