<script src="/assets/js/send-eruv-msg.js" defer=""></script>
<div id="load" data-title="注专 "></div>
  <h3>专  拽转 注专  砖 注爪 转转 转 .<br>  注专 ?</h3>
  <div class="split2">
    <x-section data-name="砖转  砖 转 注专">

      <div class="txt-right">
        <div class="p-side-2">
          <h4> 转 拽拽 注专 砖 注专,  砖专爪  注 转拽 住转,   砖.</h4>
          <p>
            转  注  拽 爪注转 Whatsapp.
            <br>
             <b>砖 拽砖专:</b>
            拽.
          </p>
        </div>
        <form>
          <label for="msg">驻专 注</label>
          <textarea id="msg" maxlength="400" required=""></textarea>
          <div class="middle">
            <button type="submit">砖</button>
          </div>
        </form>
      </div>
    </x-section>
    <div>
      <a href="/images/eruv-map.jpg" target="_blank">
        <img src="/images/eruv-map.jpg" class="post" title="驻转 注专 - 爪 " alt="拽砖专 驻转 注专">
      </a>
    </div>
  </div>
  <div class="split2">
    <x-section data-name="拽  注专">

      <table class="center w-100p">
        <tbody>
          <tr>
            <th>砖 拽</th>
            <th>转转</th>
          </tr>
          <tr>
            <td>"住 专 "专 砖专"</td>
            <td>砖' 注爪转 16</td>
          </tr>
          <tr>
            <td>"住 专 "专 专 注 住"</td>
            <td>专' 砖砖 10</td>
          </tr>
          <tr>
            <td>专 专 "驻专 驻转"</td>
            <td>专' 专 36</td>
          </tr>
          <tr>
            <td>注爪 转转</td>
            <td>专' 驻拽住 2</td>
          </tr>
        </tbody>
      </table>
    </x-section>
    <div>
      <img src="/images/gniza.jpg" title="转拽 " alt="转拽 " class="post">
    </div>
  </div>
