<div id="load" data-title="רשימת מוהלים"></div>
      
        
        <div class="txt-right">
          <table class="shadow w-100p">
            <tbody>
              <tr>
                <th>שם</th>
                <th>כתובת</th>
                <th>טלפון</th>
                <th>נייד</th>
              </tr>
              <tr>
                <td>הרב אליהו נטף</td>
                <td>בכולל "יוסף חיים", השלושה 8 בת ים</td>
                <td></td>
                <td>054-6950889</td>
              </tr>
              <tr>
                <td>הרב דורפמן ניר</td>
                <td>ניסנבאום 38 בת ים</td>
                <td></td>
                <td>050-8755561</td>
              </tr>
              <tr>
                <td>הרב שחר ברוך</td>
                <td>אנה פרנק 16 בת ים</td>
                <td>03-5514971</td>
                <td>053-7347710</td>
              </tr>
              <tr>
                <td>הרב שניאור זלמן מימון</td>
                <td>הראשונים 13 בת ים</td>
                <td></td>
                <td>052-7159321</td>
              </tr>
              <tr>
                <td>הרב יעקב קדוש</td>
                <td>החשמונאים 76 בת ים</td>
                <td>054-9169294</td>
                <td>054-4381652</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <img src="/images/chair.jpeg" class="post" alt="כיסא אליהו">
        </div>
      
    