<script src="/assets/js/kosher-businesses-table.js" defer=""></script>
<div id="load" data-title="רשימת עסקים כשרים"></div>

  <small-section class="container mb-2" data-name="סינון">
    <div class="mb-3">
      <h4 class="mb-0">סוג עסק:</h4>
      <button value="מסעדה" class="m-0">מסעדה</button>
      <button value="קונדיטוריה" class="m-0">קונדיטוריה</button>
      <button value="קייטרינג" class="m-0">קייטרינג</button>
    </div>
    <div class="mb-3">
      <h4 class="mb-0">סוג מטבח:</h4>
      <button value="בשרי" class="m-0">בשרי</button>
      <button value="פרווה" class="m-0">פרווה</button>
      <button value="חלבי" class="m-0">חלבי</button>
    </div>
    <div class="mb-3">
      <h4 class="mb-0">סוג כשרות:</h4>
      <button value="רגילה" class="m-0">רגילה</button>
      <button value="מהדרין" class="m-0">מהדרין</button>
    </div>
  </small-section>
  <table class="center">
    <thead>
      <tr>
        <td>#</td>
        <th>
          שם העסק
        </th>
        <th>
          כתובת
        </th>
        <th>
          טלפון
        </th>
        <th>
          קטגוריה
        </th>
        <th>
          רמת כשרות
        </th>
        <th>
          סוג כשרות
        </th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        בי פרש
      </td>
      <td>
        יוספטל 92
      </td>
      <td>
        053-4290941
      </td>
      <td>
        מזנון
      </td>
      <td>
        רגילה
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>
      <td>
        המאפה
      </td>
      <td>
        ליבורנו 3
      </td>
      <td>
        053-2202157
      </td>
      <td>
        מאפיה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>
      <td>
        חינקלי
      </td>
      <td>
        מנדלי מוכר ספרים 1
      </td>
      <td>
        054-2027180
      </td>
      <td>
        מאפיה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        בשרי
      </td>
    </tr>
     <tr>
      <td>
        כריך כמו שצריך
      </td>
      <td>
        התחיה 14
      </td>
      <td>
        050-6555591
      </td>
      <td>
        מזנון
      </td>
      <td>
        רגילה
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>
      <td>
        מאפיית ליז
      </td>
      <td>
        בן גוריון 99
      </td>
      <td>
        050-7334400
      </td>
      <td>
        מאפיה
      </td>
      <td>
        רגילה
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>
      <td>
        פיצה ליהאנו
      </td>
      <td>
        בלפור 59
      </td>
      <td>
        053-3402015
      </td>
      <td>
        פיצרייה
      </td>
      <td>
        רגילה
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>
      <td>
        Vיקטור
      </td>
      <td>
        בר שאול 3 בת-ים
      </td>
      <td>
        050-9751808
      </td>
      <td>
        מזנון
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        z בורגר
      </td>
      <td>
        הרצל 48 בת-ים
      </td>
      <td>
        050-2916915
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>
      <td>א.ג. לחם פרנה בע"מ</td>
      <td>מצודת ביתר 8</td>
      <td>054-6776034</td>
      <td>מפעל</td>
      <td>כשרות רגילה</td>
      <td>פרווה</td>
    </tr>
    <tr>

      <td>
        א.ע צנובר בעמ
      </td>
      <td>
        העבודה 3 בת-ים
      </td>
      <td>
        03-5523897
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        אולמי בלאג'יו
      </td>
      <td>
        אהוד קינמון 20 בת-ים
      </td>
      <td>
        052-2502045
      </td>
      <td>
        אולם אירועים
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        אולמי סוסייטי
      </td>
      <td>
        שדרות העצמאות 67 בת-ים
      </td>
      <td>
        03-6594436
      </td>
      <td>
        אולם אירועים
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        אותנטי
      </td>
      <td>
        הרב ניסנבאום 33 בת-ים
      </td>
      <td>
        054-4352288
      </td>
      <td>
        חנות מזון
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        אטליז בורה
      </td>
      <td>
        שדרות העצמאות 72 בת-ים
      </td>
      <td>
        03-6596216
      </td>
      <td>
        אטליז
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        אטליז בלאדי
      </td>
      <td>
        מנחם יקואל 4 בת-ים
      </td>
      <td>
        03-5556666
      </td>
      <td>
        אטליז
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        אטליז ברנס
      </td>
      <td>
        זבוטינסקי 8 בת ים
      </td>
      <td>
        050-5462855
      </td>
      <td>
        אטליז
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        אטליז דוד
      </td>
      <td>
        בלפור 115 בת-ים
      </td>
      <td>
        03-5534140
      </td>
      <td>
        אטליז
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        אטליז דני
      </td>
      <td>
        בלפור 97 בת-ים
      </td>
      <td>
        03-5076752
      </td>
      <td>
        אטליז
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        אטליז חיים
      </td>
      <td>
        בלפור 150 בת-ים
      </td>
      <td>
        03-55243484
      </td>
      <td>
        אטליז
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        אטליז שף הבשר
      </td>
      <td>
        רוטשילד 40 בת-ים
      </td>
      <td>
        03-5064003
      </td>
      <td>
        אטליז
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        איב רשתות בע"מ
      </td>
      <td>
        משה שרת 29 בת ים
      </td>
      <td>
        054-7713860
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>
      <td>
        איטליז שמעונוב
      </td>
      <td>
        עצמאות 64
      </td>
      <td>
        050-2721138
      </td>
      <td>
        איטליז&nbsp;
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        ארומה
      </td>
      <td>
        יוספטל 92 בת-ים
      </td>
      <td>
        054-6929810
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        אריה פלאפל
      </td>
      <td>
        רוטשילד 30 בת ים
      </td>
      <td>
        054-5927659
      </td>
      <td>
        מזנון
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        באצ'יס
      </td>
      <td>
        יוספטל 92 בת-ים
      </td>
      <td>
        03-5334470
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        בונזור
      </td>
      <td>
        הרצל 50 בת-ים
      </td>
      <td>
        050-2060915
      </td>
      <td>
        קונדיטוריה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        בורגר קומפני
      </td>
      <td>
        הרב ניסנבאום 33
      </td>
      <td>
        053-8270227
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>
      <td>
        בייבי עוף בע"מ
      </td>
      <td>
        הצורפים 4
      </td>
      <td>
        050-5790882
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>
      <td>
        ביס בפיתה
      </td>
      <td>
        בר אילן 10
      </td>
      <td>
        050-4444512
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        בית הבורגר
      </td>
      <td>
        קרן היסוד 20 בת ים
      </td>
      <td>
        03-6717272
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        בית הגלידה
      </td>
      <td>
        אנה פרנק 29 בת-ים
      </td>
      <td>
        050-6759739
      </td>
      <td>
        גלידרייה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        בית התבלין
      </td>
      <td>
        רוטשילד 33 בת-ים
      </td>
      <td>
        052-8337700
      </td>
      <td>
        חנות תבלינים
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        בית מאפה - כל טעם
      </td>
      <td>
        בלפור 92 בת-ים
      </td>
      <td>
        03-6952761
      </td>
      <td>
        קונדיטוריה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        בית מאפה - מאפה הזהב
      </td>
      <td>
        רוטשילד 31 בת-ים
      </td>
      <td>
        050-5933566
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        המאפיה
      </td>
      <td>
        בלפור 120 בת-ים
      </td>
      <td>
        03-5510416
      </td>
      <td>
        קונדיטוריה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        בית מאפה כרמים
      </td>
      <td>
        שמעון הבורסקאי 6 בת-ים
      </td>
      <td>
        03-5525570
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        בית מאפה מרכז המאפה
      </td>
      <td>
        אהוד קינמון 27 בת-ים
      </td>
      <td>
        03-5520782
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>
      <td>ברכה רבה</td>
      <td>קדושי קהיר 12</td>
      <td>054-8402155</td>
      <td>קייטרינג</td>
      <td>כשר למהדרין</td>
      <td>בשרי</td>
    </tr>
    <tr>
      <td>דגת הים</td>
      <td>הרב מימון 26</td>
      <td>050-5555034</td>
      <td>חנות דגים</td>
      <td>כשרות רגילה</td>
      <td>פרווה</td>
    </tr>
    <tr>
      <td>דודא</td>
      <td>מנחם יקואל 13</td>
      <td>050-8188979</td>
      <td>מסעדה</td>
      <td>כשר למהדרין</td>
      <td>בשרי</td>
    </tr>
    <tr>

      <td>
        דוש בשרים
      </td>
      <td>
        העמל 15 בת-ים
      </td>
      <td>
        03-5477779
      </td>
      <td>
        אולם אירועים
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        האופה מבגדד
      </td>
      <td>
        רוטשילד 45 בת-ים
      </td>
      <td>
        054-4440034
      </td>
      <td>
        קונדיטוריה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        הג'חנון של מאמא שרה
      </td>
      <td>
        אהוד קינמון 45 בת-ים
      </td>
      <td>
        0508255471
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>
      <td>המאפים של ג'קי</td>
      <td>החרושת 9</td>
      <td>03-5536484</td>
      <td>מאפיה</td>
      <td>כשר למהדרין</td>
      <td>חלבי ופרווה</td>
    </tr>
    <tr>

      <td>
        הסורי חומוס פול - רוני
      </td>
      <td>
        העבודה 12 בת-ים
      </td>
      <td>
        03-5530386
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        הסורי חומוס פול המקורי - משה
      </td>
      <td>
        מצודת ביתר 8 בת ים
      </td>
      <td>
        052-2431477
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        מאפיית דורון
      </td>
      <td>
        בלפור 88 בת-ים
      </td>
      <td>
        055-8844704
      </td>
      <td>
        קונדיטוריה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        הקוסם האיטלקי
      </td>
      <td>
        הרצל 48 בת ים
      </td>
      <td>
        03-6593333
      </td>
      <td>
        פיצריה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>
      <td>
        התימני<br><br>
      </td>
      <td>
        בלפור 101
      </td>
      <td>
        054-2277723
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>
      <td>
        וי.איי פרי
      </td>
      <td>
        מבצע סיני 16
      </td>
      <td>
        050-4554455
      </td>
      <td>
        ירקן
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>
      <td>
        חומוסיה
      </td>
      <td>
        רוטשילד 42
      </td>
      <td>
        050-5821158
      </td>
      <td>
        מזנון
      </td>
      <td>
        כשר למהדרין&nbsp;
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        חממה אקספרס
      </td>
      <td>
        ישראל וישינגרד 7 בת-ים
      </td>
      <td>
        050-8773980
      </td>
      <td>
        חנות תבלינים ופיצוחים
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        חנות דגים דגי בלפור
      </td>
      <td>
        בלפור 75 בת-ים
      </td>
      <td>
        03-5075836
      </td>
      <td>
        חנות דגים
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        חנות דגים קלוד
      </td>
      <td>
        בלפור 140 בת-ים
      </td>
      <td>
        03-5520015
      </td>
      <td>
        חנות דגים
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        חנות ירקות כהן אברהם
      </td>
      <td>
        הרצל 72 בת-ים
      </td>
      <td>
        03-5068282
      </td>
      <td>
        חנות ירקות
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        אברמנטו טרמין בע"מ
      </td>
      <td>
        הסוללים 7 בת ים
      </td>
      <td>
        03-5550222
      </td>
      <td>
        חנות מזון
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        י.י. בית הפרינה בע"מ
      </td>
      <td>
        הבורסקאי 4
      </td>
      <td>
        050-2888078
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        יאמי וטלי
      </td>
      <td>
        המייסדים 3 בת ים
      </td>
      <td>
        052-4181818
      </td>
      <td>
        בר מתוקים
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        יקב סאסי
      </td>
      <td>
        שדרות העצמאות 24 בת ים
      </td>
      <td>
        050-2552012
      </td>
      <td>
        יקב
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        ירקות שוק א.א
      </td>
      <td>
        מנחם יקואל 6 בת-ים
      </td>
      <td>
        050-9315555
      </td>
      <td>
        חנות ירקות
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        ישיבת בנע אדרת
      </td>
      <td>
        בר אילן 40 בת-ים
      </td>
      <td>
        03-5534456
      </td>
      <td>
        ישיבה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי וחלבי
      </td>
    </tr>
    <tr>

      <td>
        כעכי הזהב
      </td>
      <td>
        הרב ניסנבאום 5 בת-ים
      </td>
      <td>
        054-8037374
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        כריך ברמה אחרת
      </td>
      <td>
        ניסנבאום 25
      </td>
      <td>
        050-7462121
      </td>
      <td>
        הכנת כריכים וסלטים
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי, חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        לב בראל תעשיות בע"מ
      </td>
      <td>
        העמל 10 בת-ים
      </td>
      <td>
        03-5101753
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        לחם תושיה
      </td>
      <td>
        בלפור 91 בת-ים
      </td>
      <td>
        03-6599766
      </td>
      <td>
        קונדיטוריה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        לחם תושיה
      </td>
      <td>
        יוספטל 92 בת-ים
      </td>
      <td>
        03-5278149
      </td>
      <td>
        קונדיטוריה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        לחם תושיה
      </td>
      <td>
        בלפור 41 בת-ים
      </td>
      <td>
        03-6595632
      </td>
      <td>
        קונדיטוריה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>
      <td>
        ליבר
      </td>
      <td>
        ויצמן 7
      </td>
      <td>
        053-2305443
      </td>
      <td>
        מאפיה&nbsp;
      </td>
      <td>
        כשרות רגילה&nbsp;
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        מ.י.אומגה 3 בע"מ
      </td>
      <td>
        הצורפים 1 בת-ים
      </td>
      <td>
        03-5527772
      </td>
      <td>
        מפעל לדגים
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        מאפה נאמן
      </td>
      <td>
        יוספטל 92 בת-ים
      </td>
      <td>
        03-5050807
      </td>
      <td>
        קונדיטוריה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        מאפית אריאל-ממתקי אריאל
      </td>
      <td>
        הרב ניסנבאום 25 בת-ים
      </td>
      <td>
        03-5516106
      </td>
      <td>
        מאפיה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        מאפית רחוב
      </td>
      <td>
        בלפור 152 בת-ים
      </td>
      <td>
        03-5225588
      </td>
      <td>
        מאפיה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        מאפית לחמנו
      </td>
      <td>
        הסוללים 2 בת-ים
      </td>
      <td>
        03-5512373
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        מאפית שיבולת השרון בע"מ
      </td>
      <td>
        הקוממיות 12 בת-ים
      </td>
      <td>
        052-2771163
      </td>
      <td>
        מאפיה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>
      <td>מגדלי הים התיכון - שמים כחולים</td>
      <td>דרך הים 2</td>
      <td>050-6979796</td>
      <td>קייטרינג</td>
      <td>כשרות רגילה</td>
      <td>בשרי</td>
    </tr>
    <tr>

      <td>
        מגה בעיר מבצע סיני
      </td>
      <td>
        מבצע סיני 20 בת ים
      </td>
      <td>&nbsp;</td>
      <td>
        מרכול
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי, חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        מגה בעיר עוזיאל
      </td>
      <td>
        עוזיאל 5 בת ים
      </td>
      <td>&nbsp;</td>
      <td>
        מרכול
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי, חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        מגה בעיר עצמאות
      </td>
      <td>
        שדרות העצמאות 65 בת ים
      </td>
      <td>&nbsp;</td>
      <td>
        מרכול
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי, חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        מוצרט
      </td>
      <td>
        מנחם יקואל 4 בת-ים
      </td>
      <td>
        054-9383500
      </td>
      <td>
        מאפיה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>
      <td>
        מוצרט אקספרס
      </td>
      <td>
        הרב ניסנבאום 5
      </td>
      <td>
        052-3310331
      </td>
      <td>
        מאפיה&nbsp;
      </td>
      <td>
        כשרות רגילה&nbsp;
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        מחלבות גד
      </td>
      <td>
        הסוללים 7 בת-ים
      </td>
      <td>
        03-5550222
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        מיני שוק
      </td>
      <td>
        אנה פרנק 29 בת-ים
      </td>
      <td>
        03-5511890
      </td>
      <td>
        חנות ירקות
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        מכבי מדיקל קר
      </td>
      <td>
        שדרות העצמאות 67 בת-ים
      </td>
      <td>
        03-5008888
      </td>
      <td>
        בית חולים
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        מסעדת בית הסנדוויץ
      </td>
      <td>
        מקס נורדואו 3 בת-ים
      </td>
      <td>
        03-5517234
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        מסעדת דרקון הזהב
      </td>
      <td>
        שדרות העצמאות 67 בת-ים
      </td>
      <td>
        03-5064965
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        מסעדת מאמא דיאלי
      </td>
      <td>
        בלפור 15 בת-ים
      </td>
      <td>
        03-5091234
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        מסעדת מיסטר ג'ק
      </td>
      <td>
        שדרות העצמאות 79 בת-ים
      </td>
      <td>
        03-6476737
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        מסעדת פונדק בני
      </td>
      <td>
        דרך בן גוריון 109 בת-ים
      </td>
      <td>
        03-5524618
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        מסעדת שווארמה גריל בר
      </td>
      <td>
        יוספטל 92 בת-ים
      </td>
      <td>
        050-8299289
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        מסעדת שיפודי ציפורה
      </td>
      <td>
        הרב בר שאול 5 בת-ים
      </td>
      <td>
        03-6597925
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        מעדני גורמה
      </td>
      <td>
        הרב מימון 26 בת-ים
      </td>
      <td>
        03-5184111
      </td>
      <td>
        אטליז
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        מפעל דגים רוז אומגה שלוש
      </td>
      <td>
        המסגר 7 בת-ים
      </td>
      <td>
        03-5527772
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        מפעל חישוקים
      </td>
      <td>
        העבודה 43 בת-ים
      </td>
      <td>
        03-5511375
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        מפעל עוגיות מאמי
      </td>
      <td>
        מצודת ביתר 8 בת-ים
      </td>
      <td>
        052-6140900
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        מקדונלדס הכשר
      </td>
      <td>
        יוספטל 92 בת-ים
      </td>
      <td>
        054-2399552
      </td>
      <td>
        מזנון
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי וחלבי
      </td>
    </tr>
    <tr>

      <td>
        מרכז הבשר שינו
      </td>
      <td>
        ירושלים 40 בת-ים
      </td>
      <td>
        03-6585484
      </td>
      <td>
        אטליז
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>
      <td>מרכז הדגים</td>
      <td>ז'בוטינסקי 10</td>
      <td></td>
      <td>חנות דגים</td>
      <td>כשרות רגילה</td>
      <td>פרווה</td>
    </tr>
    <tr>

      <td>
        מרכז המאפה רוטשילד
      </td>
      <td>
        רוטשילד 27 בת ים
      </td>
      <td>
        052-6362202
      </td>
      <td>
        מאפיה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>
      <td>
        מרכז רב איכויות
      </td>
      <td>
        אהוד קינמון 10
      </td>
      <td>
        050-7811079
      </td>
      <td>
        קייטרינג
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי וחלבי
      </td>
    </tr>
    <tr>

      <td>
        משקאות חריפים סוכנויות נבו
      </td>
      <td>
        הסוללים 9 בת-ים
      </td>
      <td>
        03-5512732
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        נתיב החסד בע"מ
      </td>
      <td>
        הרב ניסנבאום 25 בת-ים
      </td>
      <td>
        03-6566335
      </td>
      <td>
        מרכול
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        סאנסט הול
      </td>
      <td>
        שדרות בן גוריון 136
      </td>
      <td>
        53-7470419
      </td>
      <td>
        אולם אירועים
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        סוד הטבע
      </td>
      <td>
        שמעון הבורסקאי 6 בת-ים
      </td>
      <td>
        050-7509187
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        סופר א.ל.שוק
      </td>
      <td>
        החרושת 16 בת ים
      </td>
      <td>
        052-6615613
      </td>
      <td>
        מרכול
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        סופר דוש
      </td>
      <td>
        ישראל וישינגרד המסגר 14 בת-ים
      </td>
      <td>
        03-5239361
      </td>
      <td>
        מרכול
      </td>
      <td>
        כשרות רגילה ן
      </td>
      <td>
        בשרי חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        סופר דוש בת ימון
      </td>
      <td>
        הרב ניסנבאום 35 בת-ים
      </td>
      <td>
        03-5522930
      </td>
      <td>
        מרכול
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        סופר דוש עצמאות
      </td>
      <td>
        שדרות העצמאות 10 בת-ים
      </td>
      <td>
        03-6583311
      </td>
      <td>
        מרכול
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        סופר דוש קניון
      </td>
      <td>
        יוספטל 92 בת-ים
      </td>
      <td>
        03-5524222
      </td>
      <td>
        מרכול
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        סופר שוק יוחננוף
      </td>
      <td>
        ניסנבאום 35 בת-ים
      </td>
      <td>
        076-8176230
      </td>
      <td>
        מרכול
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        סופר שוקיס
      </td>
      <td>
        רוטשילד 48 בת ים
      </td>
      <td>
        03-5089978
      </td>
      <td>
        מרכול
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        סחוט בת-ים
      </td>
      <td>
        יוספטל 92 בת-ים
      </td>
      <td>
        052-8614114
      </td>
      <td>
        מזנון
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>
      <td>סייקו סושי ווק</td>
      <td>בן גוריון 79</td>
      <td>054-6661002</td>
      <td>מסעדה</td>
      <td>כשרות רגילה</td>
      <td>בשרי</td>
    </tr>
    <tr>
      <td>סלאמה בשרים</td>
      <td>ליבורנו 7</td>
      <td>050-8477321</td>
      <td>איטליז</td>
      <td>כשרות רגילה</td>
      <td>בשרי</td>
    </tr>
    <tr>

      <td>
        עוגיות פילאס כחול לבן
      </td>
      <td>
        שמעון הבורסקאי 2 בת-ים
      </td>
      <td>
        03-5520712
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        פאשן פרוט
      </td>
      <td>
        ירושלים 22 בת ים
      </td>
      <td>
        050-6355654
      </td>
      <td>
        חיתוך פירות
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>
      <td>
        פוצי פיצה בע"מ
      </td>
      <td>
        בן גוריון 119
      </td>
      <td>
        052-8421333
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        פיצה אפי
      </td>
      <td>
        רוטשילד 44 בת-ים
      </td>
      <td>
        03-9444540
      </td>
      <td>
        פיצרייה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        פיצה בנדס
      </td>
      <td>
        בלפור 144 בת-ים
      </td>
      <td>
        058-5588666
      </td>
      <td>
        פיצרייה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        פיצה האט
      </td>
      <td>
        רוטשילד 32 בת-ים
      </td>
      <td>
        054-7211216
      </td>
      <td>
        פיצרייה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        פיצה חלי פיצה
      </td>
      <td>
        קרן היסוד 20 בת-ים
      </td>
      <td>
        03-5544330
      </td>
      <td>
        פיצרייה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        פיצה לה מאמא
      </td>
      <td>
        שדרות העצמאות 79 בת-ים
      </td>
      <td>
        03-5081589
      </td>
      <td>
        פיצרייה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        פיצה פורטובלו
      </td>
      <td>
        דרך בן גוריון 59 בת-ים
      </td>
      <td>
        03-5222206
      </td>
      <td>
        פיצרייה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        פיצה קיד
      </td>
      <td>
        הנביאים 3 בת-ים
      </td>
      <td>
        03-5539993
      </td>
      <td>
        פיצרייה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        פיצה קשת
      </td>
      <td>
        בר שאול 3 בת ים
      </td>
      <td>
        054-7792456
      </td>
      <td>
        פיצרייה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        פיצה שאו ביס
      </td>
      <td>
        יוספטל 31 בת-ים
      </td>
      <td>
        03-5081416
      </td>
      <td>
        פיצרייה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        פיצה שמש
      </td>
      <td>
        הרצל 75 בת-ים
      </td>
      <td>
        03-5513130
      </td>
      <td>
        פיצרייה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        פיצה שמש
      </td>
      <td>
        אנה פרנק 29 בת-ים
      </td>
      <td>
        03-5585854
      </td>
      <td>
        פיצרייה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        פיצוחי אחים צדקה
      </td>
      <td>
        בלפור 139 בת-ים
      </td>
      <td>
        03-5531232
      </td>
      <td>
        חנות פיצוחים ותבלינים
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        פיצוחי הקולה
      </td>
      <td>
        החרושת 9 בת-ים
      </td>
      <td>
        03-5540333
      </td>
      <td>
        חנות פיצוחים ותבלינים
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        פיש סנטר
      </td>
      <td>
        רוטשילד 39 בת-ים
      </td>
      <td>
        073-7255066
      </td>
      <td>
        חנות דגים
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        פיתה בראשית
      </td>
      <td>
        העמל 19 בת ים
      </td>
      <td>
        050-5341929
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        פלאפל הכי טוב
      </td>
      <td>
        מבצע סיני 16 בת ים
      </td>
      <td>
        052-5800944
      </td>
      <td>
        מזנון
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        פלאפל חתוכה
      </td>
      <td>
        מקס נורדואו 34 בת-ים
      </td>
      <td>
        052-4578884
      </td>
      <td>
        מזנון
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        פלאפל נועם
      </td>
      <td>
        בלפור 111 בת-ים
      </td>
      <td>
        052-4375304
      </td>
      <td>
        מזנון
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        פרוסת לחם
      </td>
      <td>
        אנה פרנק 29 בת-ים
      </td>
      <td>
        03-5517595
      </td>
      <td>
        מאפיה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        פשוט טעים
      </td>
      <td>
        הרב ניסנבאום 29 בת-ים
      </td>
      <td>
        03-5528048
      </td>
      <td>
        מזנון
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>
      <td>צ'וקה בת ים</td>
      <td>יוספטל 92</td>
      <td>03-5533388</td>
      <td>מסעדה</td>
      <td>כשרות רגילה</td>
      <td>איטליז</td>
    </tr>
    <tr>
      <td>צחי בשרים</td>
      <td>הרצל 82</td>
      <td>*2006</td>
      <td>איטליז</td>
      <td>כשרות רגילה</td>
      <td>בשרי</td>
    </tr>
    <tr>

      <td>
        צחי בשרים
      </td>
      <td>
        הרצל 82 בת-ים
      </td>
      <td>
        *2006
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        קונדיטוריה א.א.
      </td>
      <td>
        ארלוזורוב 11 בת-ים
      </td>
      <td>
        03-6582180
      </td>
      <td>
        קונדיטוריה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        קונדיטוריה בורקס יוסי
      </td>
      <td>
        שדרות העצמאות 62 בת-ים
      </td>
      <td>
        03-5068039
      </td>
      <td>
        קונדיטוריה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        קונדיטוריה מרכז המאפה בלפור
      </td>
      <td>
        בלפור 75 בת-ים
      </td>
      <td>
        03-5520782
      </td>
      <td>
        קונדיטוריה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        קונדיטוריה סמי
      </td>
      <td>
        הרצל 53 בת-ים
      </td>
      <td>
        03-5064669
      </td>
      <td>
        קונדיטוריה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        קופיקס
      </td>
      <td>
        הרב ניסנבאום 33 בת-ים
      </td>
      <td>
        054-5711536
      </td>
      <td>
        מזנון
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        קופיקס
      </td>
      <td>
        שדרות העצמאות 69 בת-ים
      </td>
      <td>
        054-3997950
      </td>
      <td>
        מזנון
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        קייטרינג איתן ניסים
      </td>
      <td>
        מנחם יקואל 7 בת-ים
      </td>
      <td>
        035527464
      </td>
      <td>
        קייטרינג
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        קייטרינג בלאדי
      </td>
      <td>
        מנחם יקואל 4 בת-ים
      </td>
      <td>
        03-5556666
      </td>
      <td>
        קייטרינג
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        קייטרינג מטעמי חנניה
      </td>
      <td>
        החשמל 3 בת-ים
      </td>
      <td>
        03-5526658
      </td>
      <td>
        קייטרינג
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        קייטרינג ניחוח השף
      </td>
      <td>
        מוהליבר 19 בת-ים
      </td>
      <td>
        050-5430700
      </td>
      <td>
        קייטרינג
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        קליית הזהב
      </td>
      <td>
        אהוד קינמון 31 בת-ים
      </td>
      <td>
        052-2736075
      </td>
      <td>
        חנות תבלינים ופיצוחים
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        קליית יבגי
      </td>
      <td>
        בלפור 99 בת ים
      </td>
      <td>
        052-6910111
      </td>
      <td>
        חנות תבלינים ופיצוחים
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>
      <td>
        קפה יותו
      </td>
      <td>
        הרב ניסנבאום&nbsp; 7
      </td>
      <td>
        0524442775
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>
      <td>
        קפה קפה טיילת
      </td>
      <td>
        דרך בן גוריון 81&nbsp;
      </td>
      <td>
        052-7070033
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        קפה קפה קניון
      </td>
      <td>
        יוספטל 92 בת-ים
      </td>
      <td>
        03-6561600
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי
      </td>
    </tr>
    <tr>

      <td>
        קפה רם
      </td>
      <td>
        רוטשילד 35 בת-ים
      </td>
      <td>
        050-6868208
      </td>
      <td>
        חנות תבלינים פיצוחים
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>
      <td>
        קצבית הבית
      </td>
      <td>
        בלפור 107
      </td>
      <td>
        052-8000760
      </td>
      <td>
        איטליז&nbsp;
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        רוני פול
      </td>
      <td>
        אנילביץ 41 בת ים
      </td>
      <td>
        050-6526052
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        רמי לוי שיווק השקמה בע"מ
      </td>
      <td>
        העמל 20 בת-ים
      </td>
      <td>
        055-6635093
      </td>
      <td>
        מרכול
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        שווארמה חיים פלאפל
      </td>
      <td>
        רוטשילד 27 בת-ים
      </td>
      <td>
        052-8848886
      </td>
      <td>
        מזנון
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        שופר סל דיל
      </td>
      <td>
        בלפור 25 בת-ים
      </td>
      <td>
        03-5089432
      </td>
      <td>
        מרכול
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        שופר סל דיל בע"מ
      </td>
      <td>
        אורט ישראל 25 בת-ים
      </td>
      <td>
        052-7081225
      </td>
      <td>
        מרכול
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        שופרסל אקספרס
      </td>
      <td>
        החשמונאים 41 בת-ים
      </td>
      <td>
        03-6593171
      </td>
      <td>
        מרכול
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        שוק הרצל
      </td>
      <td>
        בלפור 43 בת-ים
      </td>
      <td>
        054-2456102
      </td>
      <td>
        מרכול
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        שיבולת השרון- מפעל
      </td>
      <td>
        העמל 3 בת-ים
      </td>
      <td>
        03-5545700/8
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        שיבולת השרון-חנות
      </td>
      <td>
        העמל 3 בת-ים
      </td>
      <td>
        03-5545700/8
      </td>
      <td>
        מאפיה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        חלבי ופרווה
      </td>
    </tr>
    <tr>

      <td>
        היכלי המלכה
      </td>
      <td>
        אהוד קינמון 11 בת ים
      </td>
      <td>
        054-8444498
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשר למהדרין
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        שיפודי עזרא ובניו הכשר
      </td>
      <td>
        העמל 10 בת-ים
      </td>
      <td>
        054-6332221
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>

      <td>
        שירת הים
      </td>
      <td>
        מנחם יקואל 6 בת-ים
      </td>
      <td>
        050-9055333
      </td>
      <td>
        חנות דגים
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        שפע בשר
      </td>
      <td>
        יוספטל 18 בת-ים
      </td>
      <td>
        050-9989555
      </td>
      <td>
        איטליז
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        בשרי
      </td>
    </tr>
    <tr>
      <td>
        שרעבי
      </td>
      <td>
        רוטשילד 42
      </td>
      <td>
        050-6830399
      </td>
      <td>
        מסעדה
      </td>
      <td>
        כשר למהדרין&nbsp;
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        תבליני ענק התבלינים
      </td>
      <td>
        בלפור 97 בת-ים
      </td>
      <td>
        050-7829661
      </td>
      <td>
        חנות תבלינים
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    <tr>

      <td>
        תבליני פרג
      </td>
      <td>
        הרב ניסנבאום 25 בת-ים
      </td>
      <td>
        03-5533896
      </td>
      <td>
        מפעל
      </td>
      <td>
        כשרות רגילה
      </td>
      <td>
        פרווה
      </td>
    </tr>
    </tbody></table>
  

