<div id="load" data-title="מקוואות גברים וכלים"></div>
      
        
        <p class="m-0">
          למועצה הדתית אין אחריות על המקוואות הללו.
        </p>
        <h3>מקוואות גברים</h3>
        <table class="shadow container">
          <tbody>
            <tr>
              <th>שם</th>
              <th>כתובת</th>
              <th>טלפון</th>
              <th>זמני פתיחה</th>
            </tr>
            <tr>
              <td>אוהל מועד</td>
              <td>ניצנה 2</td>
              <td></td>
              <td>פתוח 24 שעות ע"י כרטיס מנוי</td>
            </tr>
            <tr>
              <td>אוהל אברהם</td>
              <td>הצנחנים</td>
              <td>052-2835442</td>
              <td>פתוח 24 שעות</td>
            </tr>
            <tr>
              <td>באבוב </td>
              <td>האדמו"ר מבאבוב 12</td>
              <td>03-5518510</td>
              <td>מהשכמת הבוקר עד 9:45 בבוקר. <br>
                יום ו' - עד כניסת השבת
              </td>
            </tr>
            <tr>
              <td>נועם אלימלך</td>
              <td>ויצמן 9א</td>
              <td></td>
              <td>ימים א-ו: 9:00 עד 10:00 <br>
                יום ו': שעה לפני כניסת שבת
              </td>
            </tr>
            <tr>
              <td>שער ציון</td>
              <td>החשמונאים 27</td>
              <td>054-7713860</td>
              <td>ימים א-ה: משעה לפני הנץ עד 9:00 <br>
                יום ו': משעה לפני הנץ עד שעה וחצי לפני הדלקת נרות
              </td>
            </tr>
            <tr>
              <td>אור החמה</td>
              <td>הנביאים 58</td>
              <td></td>
              <td>ללא תשלום לחברי הקהילה</td>
            </tr>
            <tr>
              <td>חב"ד</td>
              <td>העצמאות 66</td>
              <td></td>
              <td>ימים א-ו: 7:00 בבוקר עד 9:30 <br>
                ימי ו': גם סמוך לשבת עד כניסת השבת <br>
                שבת: מ-9:00 בבוקר עד 12:00
              </td>
            </tr>
          </tbody>
        </table>
        <h3>מקוואות כלים</h3>
        <table class="shadow container">
          <tbody>
            <tr>
              <th>שם</th>
              <th>כתובת</th>
              <th>פירוט</th>
            </tr>
            <tr>
              <td>טהרת אסתר</td>
              <td>הלפר 38</td>
              <td>ללא תשלום, בשעות היום</td>
            </tr>
            <tr>
              <td>עמידר</td>
              <td>החלוצים 9</td>
              <td>ללא תשלום, בשעות היום</td>
            </tr>
            <tr>
              <td>פאר יפית</td>
              <td>ליבורנו 36</td>
              <td>ללא תשלום, 24 שעות</td>
            </tr>
            <tr>
              <td>בית אל</td>
              <td>בן ציון ישראל 15</td>
              <td>24 שעות, נפתח ע"י מטבע</td>
            </tr>
            <tr>
              <td>באבוב</td>
              <td>האדמו"ר מבאבוב 12</td>
              <td>ללא תשלום, 24 שעות</td>
            </tr>
          </tbody>
        </table>
        <a href="/mikve" class="cta">מקוואות נשים</a>
      
    