<script src="/assets/js/online-hametz-sale.js" defer=""></script>
<div id="load" data-firebase-functions="" data-notyf="" data-recaptcha="" data-title="שטר מקוון למכירת חמץ"></div>


  <div class="p-side-1">
    <form class="p-0 mxw-50p center">
      <h3 class="mt-0">שטר מקוון - הרשאה למכירת חמץ</h3>
      <div class="field">
        <label for="first-name">אני</label>
        <div class="cols-2">
          <input type="text" id="first-name" placeholder="שם פרטי" required="">
          <input type="text" id="last-name" placeholder="שם משפחה" required="">
        </div>
      </div>
      <div class="field">
        <label for="street">הגר ברחוב</label>
        <div class="cols-2">
          <input type="text" id="street" placeholder="שם הרחוב" required="">
          <input type="number" id="house" placeholder="מספר הבית" required="">
        </div>
      </div>
      <div class="field">
        <label for="city">בעיר</label>
        <input type="text" id="city" placeholder="שם העיר" required="">
      </div>
      <div class="field">
        <label for="phone">מס' טלפון</label>
        <input type="tel" id="phone" placeholder="מס' הטלפון של בעל החמץ" required="">
      </div>
      <div class="field">
        <p id="contract">
          נותן/ת בזה הרשאה ויפוי כח להרב אליהו בר שלום, רב העיר בת ים, לעשות מיום י"ב בניסן שנה זו (תשפ"א) עם כל מיני
          חמץ שלי, ועם המקומות שמונח בהם החמץ, כאדם העושה בתוך שלו. דהיינו: למכור לנכרי או לתת או לזכות לעצמו או להפקיר
          או לבטל כל מיני חמץ, או תערובת חמץ, או חמץ נוקשה, או שאר חששות חמץ באיזה אופן שיהיה בעולם, וכן חמץ הדבוק
          בכלים, וגם הבלוע בכלים אם צריך (עם הכלים - כשאינם חייבים טבילה אם ניקחים מהגוי). הן דברים שלי הנמצאים ברשותי
          או ברשות אחרים, הן של אחרים הנמצאים ברשותי או באחריותי באיזה דרך, והן כשאני שותף בהם באיזה דרך, לרבות מניות.
          הן מה שכבר נמצא ברשותי, הן מה שיכנס לרשותי בכל זמן שמכירה זו יכולה להועיל להנצל מאיסור חמץ. הן דברים הידועים
          לי, והן שאינם ידועים לי. הן אותם המונחים בכתובת הנ"ל, והן אותם המונחים באיזה מקום שהוא בעולם ביבשה באויר או
          בים. חוץ מהחמץ שאשתמש או אבער. ומותנה שאוכל לקחת מהחמץ של הגוי עד זמן ביעור החמץ בשבת קודם הפסח, וכן אוכל לקחת
          מהחמץ תיכף בעבור חג הפסח ואתחשב עמו אח"כ כפי החשבון. כמו כן אני נותן בזה להרב הנזכר יפוי כח והרשאה להשכיר מיום
          י"ב בניסן שנה זו את כל המקומות והחפצים שעליהם או בהם נמצא חמץ או חשש חמץ, שלי או של שולחי או של אחרים בכל צורה
          שהיא כנ"ל, לפי הזמן הנכון והמתאים שימצא לנכון, ועד כ"ג בניסן לפי הזמן המתאים והצורה שימצא לנכון. ויוכל להשכיר
          את המקומות הנ"ל לנכרי הן לצורך מגורים הן לצורך העמדת כליו ומטלטליו. ורשות בידו לתת לנכרי הקונה מעבר אל החמץ
          דרך רשותי, או דרך רשויות המושכרים או שאולים לי, עד שיגיע אל המקומות הנ"ל. וגם הנני מתחייב לתת לקונה את המעבר
          ואת המפתחות עד המקומות הנ"ל, בכל עת שירצה, ויוכל למוצאני על ידי טלפון/סלולארי הנ"ל, גם יוכל ליתן לנכרי רשות
          למכור לאחר ללא ידיעתי וגם האחר יקבל את המפתחות והמעבר כנ"ל. וכל הדברים הנ"ל יוכל הרב הנז' לעשותם, הן על ידי
          עצמו הן על ידי שלוחו, הן מדין שליחות הן מדין זכין לאדם שלא בפניו, ולכל מי שירצה, ובאיזה מחיר שירצה, ובאיזה
          תנאים שייראו בעיניו, וגם בהקפה, ובאיזה קנין שירצה. וגם יוכל ליקח לעצמו אם ירצה מכסף המכירה ו/או השכירות עד סך
          שקל חדש אחד. ותהיה ידו כידי ופיו כפי והודאתו כהודאתי. ולא אוכל לטעון כנגדו לתקוני שדרתיך ולא לעוותי. ויהיה כמי
          שנשכר להיות פועל שלי עבור שליחות זו. ומוסכם ומוצהר בזה כי כל מה שיכתב או יותנה בשטר המכירה לקונה, יקיים בעל
          החמץ בלי כל טענות וערעור. ולא יוכל לטעון לתקוני שדרתיך לא לעוותי. כמו"כ מצהיר בעל החמץ כי הוא מסכים לאשר הרשאה
          זו להיות תקפה כיפוי כח בלתי חוזר עפ"י חוקי הממשלה. גם מוצהר ומוסכם כי טענת "חוזה למראית עין" או "מכירה לצרכים
          דתיים", או כיוצא בה, אם תיטען לגבי שטר זה או לגבי שטר המכירה לגוי, לא תהיה קבילה. גם הנני מצהיר כי חתימתי על
          שטר זה היא גם חתימה על שטר בוררות לעניין הנידונים הנ"ל, והרב המוכר יהיה הבורר. גם מוצהר ומוסכם כי הבורר או מי
          שיעביר אליו את הענין יוכל להטיל קנס בגובה שירצה על המפר מכירה זו. מוצהר ומוסכם כי כל דו"ד לגבי מכירה זו תידון
          בדין תורה בלבד ע"פ הוראת הרב הבורר הנזכר, ותבוצע כפסק הדין שיהיה. עוד מוסכם כי אפילו אם לא יתפוס השטר בדינא
          דמלכותא מסכימים הצדדים לילך אחר דין תורה ולקיימו בכל אופן שיתפוס. ושטר הרשאה זה נעשה מרצוני וניתן בצורה גלויה
          ומפורסמת, ולא יפסל בחסיר או יתיר או טשטוש או מחק, ויהא תקף ככל שטרי הרשאות הנעשים עפ"י תיקון חז"ל, דלא
          כאסמכתא, ודלא כטופסי דשטרי, בביטול כל מודעי וכו' ובפיסול עדיהן לדעת הרשב"א זלה"ה, ולא יפסול תנאי שאינו מועיל
          את שאר הדברים המועילים, ולא יורע כח השטר בשום פסול שבעולם, ויתקיים כסברת הפוסק המקיים את השטר. את הכל אני מקבל
          כאילו עשיתי קנין גמור ושלם במנא דכשר למקניא ביה. והכל שריר ובריר ואמת וקים.
        </p>
      </div>
      <div class="field">
        <input type="checkbox" id="self">
        <label for="self" class="inline">אני עושה מכירת חמץ עבור עצמי.</label>
      </div>
      <div class="field">
        <input type="checkbox" id="represent">
        <label for="represent" class="inline">אני שלוח למכור חמץ של</label>
        <input type="text" id="represented" placeholder="שם וכתובת של מי שמוכרים עבורו" disabled="">
      </div>
      <div class="field">
        <input type="checkbox" id="accept" required="">
        <label for="accept" class="inline">
          אני מאשר את כל דברי הטופס הזה, בצורה גמורה ובלתי הפיכה.
        </label>
      </div>
      <div class="field middle">
        <button type="submit" class="g-recaptcha" data-sitekey="6LfZo4caAAAAAG2LxB-hJ4WYftoGQxZhKHxvV5O6" data-callback="handleSubmit">אשר ושלח</button>
      </div>
    </form>
  </div>
