<div id="load" data-title="נהלים"></div>
<h3>כאן תוכלו למצוא את נהלי הקורונה של הרבנות הראשית לישראל.</h3>
<div class="split2">
  <x-section data-name="נהלי קורונה">

    <a href="/assets/pdf/rosh-hashana-tashpa.pdf" target="_blank" class="menu">הלכות מיוחדות לראש השנה תשפ"א</a>
    <a href="/assets/pdf/yamim-noraim-prayers.pdf" target="_blank" class="menu">תפילות הימים הנוראים</a>
    <a href="/assets/pdf/quarantine-shabbat.pdf" target="_blank" class="menu">הלכות שבת וחג למבודדים</a>
    <a href="/assets/pdf/shofar.pdf" target="_blank" class="menu">תקיעת שופר</a>
    <a href="/assets/pdf/shatz.pdf" target="_blank" class="menu">הלכות ש"צ לימים נוראים</a>
    <a href="/assets/pdf/digital-slihot.pdf" target="_blank" class="menu">שמיעת סליחות אלקטרונית</a>
    <a href="/assets/pdf/synagogue-seats.pdf" target="_blank" class="menu">מקום בביכנ"ס בימים נוראים</a>
  </x-section>
  <img src="/images/books.jpg" class="post" alt="ספרים">
</div>
