<div id="load" data-title="רשימת גמ&quot;חים"></div>
      
        
        <h3>אלו כל הגמ"חים בעיר בת ים</h3>
        <table class="shadow container">
          <tbody>
            <tr>
              <th>סוג</th>
              <th>שם הארגון</th>
              <th>טלפון</th>
              <th>כתובת</th>
              <th>פירוט</th>
            </tr>
            <tr>
              <td>בגדים לאירועים</td>
              <td>"אוצרות"</td>
              <td>053-4319772</td>
              <td>אנה פרנק 29, מרכז מסחרי, פינת הרב מימון, צמוד למאפייה</td>
              <td>השכרת שמלות ערב לנשים, נערות וילדות במחירי גמ"ח [בתיאום מראש]</td>
            </tr>
            <tr>
              <td>בגדים יד שנייה</td>
              <td>"אוצרות"</td>
              <td>054-4336529</td>
              <td>אנה פרנק 29, מרכז המסחרי, פינת הרב מיימון, צמוד למאפייה[א,ב 9:00-12:00, ג,ד 16:00-19:00]</td>
              <td>מכירת בגדים חדשים ויד שנייה במצב מצוין.
                למבוגר - פריט אחד 5 ₪. לילדים ותינוקות - 2 פריטים 5 ₪</td>
            </tr>
            <tr>
              <td>ייעוץ</td>
              <td>עטרת רחמים</td>
              <td></td>
              <td>א-ה 14:00-16:00 03-5041086 מייל: atterett@gmail.com</td>
              <td>ייעוץ והכוונה, שלום בית, התנהלות כספית, השקפה ועוד</td>
            </tr>
            <tr>
              <td>כלי עבודה</td>
              <td>שערי ציון</td>
              <td>050-4085406</td>
              <td>בביכנ"ס שערי ציון</td>
              <td>כלי עבודה והמון דברים נוספים</td>
            </tr>
            <tr>
              <td>תורה (מבחני שמירת הלשון)</td>
              <td>"נצור לשונך"</td>
              <td>053-3114555 03-6187329</td>
              <td></td>
              <td>מבחני שמירת הלשון בבת ים, על ספר "נצור לשונך (של הרב פליסקין), בתוכנית מסודרת כל שבועיים, שולחים מבחן (בדואר או בפקס) על החומר שנקבע, ממלאים ושולחים חזרה, ומקבלים כרטיסי הגרלה.</td>
            </tr>
            <tr>
              <td>ספרים לאירועים</td>
              <td>הרבנית בר שלום</td>
              <td>03-5073565</td>
              <td>הרשת 22</td>
              <td>ספרי ברית עולם (חנוכת הבית), ברית יצחק, תיקון כרת, הדרת זקנים.</td>
            </tr>
            <tr>
              <td>תחפושות לפורים</td>
              <td>"אוצרות"</td>
              <td>054-4336529</td>
              <td>אנה פרנק 29, מרכז המסחרי, פינת הרב מיימון, צמוד למאפיה</td>
              <td>השכרת תחפושות (מחודש לפני פורים עד פורים)  )10 ₪ לתחפושת)[א,ב - 9:00-12:00  ג,ד - 16:00-19:00]</td>
            </tr>
            <tr>
              <td>השאלת תפילין</td>
              <td>הרב אברהם אשכנזי</td>
              <td>052-7611449</td>
              <td>בכולל, בביכנ"ס מרום ישראל, שד' העצמאות 16</td>
              <td>השאלת תפילין רש"י ורבינו תם א-ה 9:00-17:30</td>
            </tr>
            <tr>
              <td>הנחת תפילין</td>
              <td>הרב חיים ציק <br>הרב טוביה דורון <br>הרב מאיר אבוטבול <br>הרב שמואל זלמנוב</td>
              <td>054-4357709 <br>058-4330770 <br>077-7008040 <br>054-7702371</td>
              <td>שד' העצמאות 67 <br>הרב מיימון 26 <br>הנביאים 3 <br></td>
              <td>הנחת תפילין כל היום</td>
            </tr>
          </tbody>
        </table>
      
    