<div id="load" data-title="דברי ברכה"></div>
      
        
        <div class="p-side-3 split2">
          <div class="txt-right">
            <p><strong>
              תושבי ותושבות בת ים היקרים,
            </strong></p>
            <p>
              המועצה הדתית בת ים, מהמועצות הגדולות והמתקדמות בארץ, מספקת כיום שירותים לתושבים בתחומים רבים:
              נישואין, כשרות, טהרת המשפחה, זהות יהודית, הדרכה דתית ועוד..
              חשוב לנו להנגיש את שירותי הדת בעיר לכל תושב ותושבת לכן אנחנו רואים כחובה על המועצה הדתית לצעוד צעד קדימה ולהשתלב בעולם הדיגיטלי
            </p>
            <p>
              אני שמח להגיש לכם התושבים, במסגרת הרצון לשיפור ושדרוג השירות במועצה הדתית, אתר רחב לתועלת הציבור בבת ים ומחוצה לה, אשר יציע מידע ושירותים דיגיטליים מתקדמים בכל תחומי קבלת שירות הדת הניתנים ע"י המועצה הדתית.
              <br>
              כולי תקווה להמשיך ולעשות עוד במסגרת השיפורים במתן השירות.
            </p>
            <p>
              כאן המקום לברך את ראש העיר בת ים, מר צביקה ברוט, הרוח החיה והיוזמת מאחורי תנופת הפיתוח האדירה אשר נראית בכל פינה בעיר, שהשכיל לשלב את העשייה עם הערכים על שורשי עם ישראל.
            </p>
            <img src="/images/benny-sign.png" alt="חתימה של בני אלחרר">
          </div>
          <div>
            <img src="/images/benny.jpeg" alt="בני אלחרר" class="post mt-6">
          </div>
        </div>
      
    